<div class="admin-body">
  <!-- Navigation -->
  <div ng-include="'./commons/admin-sidebar.client.view.html'"></div>
  <main class="main">
    <!-- Breadcrumb -->
    <!--<ol class="breadcrumb" breadcrumb>
      <ncy-breadcrumb></ncy-breadcrumb>-->

      <!-- Breadcrumb Menu-->
      <!--<li class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
          <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>-->
    <!--</ol>-->

    <div class="container-fluid">
      <ui-view></ui-view>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>





<!--<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pdn">
      <div class="card admin-sidebar">
        <ul class="nav">
          <li class="sidebar-header"></i>MAIN</li>
          <li ui-sref-active="active">
            <a ui-sref="admin.dashboard">
              <i class="fa fa-tachometer"></i>
							Dashboard
            </a>
          </li>
          <li class="sidebar-header"></i>USERS</li>
          <li ui-sref-active="active">
            <a ui-sref="admin.users">
              <i class="fa fa-users"></i>
							Lists
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="admin.user-new">
							<i class="fa fa-plus"></i>
							Add new
            </a>
          </li>
          <li class="sidebar-header">POLLS</li>
          <li ui-sref-active="active">
            <a ui-sref="admin.polls">
              <i class="fa fa-bars"></i>
							Lists
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 pdn">
      <div ui-view></div>
    </div>
  </div>
</div>-->