<div class="container-fuild mg6t">
  <div class="row">
    <!-- Menu -->
    <div class="col-xs-3">
      <div class="list-group">
        <a ui-sref-active="active" ui-sref="admin.dashboard" class="list-group-item">Dashboard</a>
        <a ui-sref-active="active" ui-sref="admin.users.list" class="list-group-item">Users</a>
        <a ui-sref-active="active" ui-sref="admin.polls.list" class="list-group-item">Polls</a>
        <a ui-sref-active="active" ui-sref="admin.options.list" class="list-group-item">Options</a>
        <a ui-sref-active="active" ui-sref="admin.reports.list" class="list-group-item">Reports</a>
        <a ui-sref-active="active" ui-sref="admin.categorys.list" class="list-group-item">Categorys</a>
        <a ui-sref-active="active" ui-sref="admin.tags.list" class="list-group-item">Tags</a>
        <a ui-sref-active="active" ui-sref="admin.comments.list" class="list-group-item">Comments</a>
        <a ui-sref-active="active" ui-sref="admin.votes.list" class="list-group-item">Votes</a>
        <a ui-sref-active="active" ui-sref="admin.tickets.list" class="list-group-item">Tickets</a>
        <a ui-sref-active="active" ui-sref="admin.logs.list" class="list-group-item">Server Log</a>
        <a ui-sref-active="active" ui-sref="admin.languages.list" class="list-group-item">Languages</a>
        <a ui-sref-active="active" ui-sref="admin.ips" class="list-group-item">Ip address</a>
      </div>
    </div>
    <div class="col-xs-9">
      <ui-view></ui-view>
    </div>
  </div>
  <div class="clearfix"></div>
</div>