<section class="container-fluid mg12t">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
      <div class="card h100 title-stats">
        <span class="text-muted"><i class="fa fa-user"></i> Total Users</span>
        <span class="title-icon pull-right"><i class="fa fa-user"></span>
        <br>
        <span class="text-lg">{{total_users}}</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
      <div class="card h100 title-stats">
        <span class="text-muted"><i class="fa fa-list"></i> Total Polls</span>
        <span class="title-icon pull-right"><i class="fa fa-list"></span>
        <br>
        <span class="text-lg">{{total_polls}}</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
      <div class="card h100 title-stats">
        <span class="text-muted"><i class="fa fa-commenting"></i> Total Comments</span>
        <span class="title-icon pull-right"><i class="fa fa-commenting"></span>
        <br>
        <span class="text-lg">{{total_comments}}</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
      <div class="card h100 title-stats">
        <span class="text-muted"><i class="fa fa-eye"></i> Total Visited</span>
        <span class="title-icon pull-right"><i class="fa fa-eye"></span>
        <br>
        <span class="text-lg">{{total_visit}}</span>
      </div>
    </div>
  </div>
</section>