<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-primary">
      <div class="admin-card-block pdnb">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-transparent dropdown-toggle pdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="users_chart.title"></p>
      </div>
      <div class="chart-wrapper pd12x h70">
        <canvas class="chart chart-line" chart-data="users_chart.data" chart-labels="users_chart.labels" chart-legend="false" chart-series="series"
          chart-options="users_chart.options" chart-colors="users_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-info">
      <div class="admin-card-block pdnb">
        <button type="button" class="btn btn-transparent pdn pull-right">
          <i class="icon-location-pin"></i>
        </button>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="polls_chart.title"></p>
      </div>
      <div class="chart-wrapper pd12x h70">
        <canvas class="chart chart-line" chart-data="polls_chart.data" chart-labels="polls_chart.labels" chart-legend="false" chart-series="series"
          chart-options="polls_chart.options" chart-colors="polls_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-warning">
      <div class="admin-card-block pdnb">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-transparent dropdown-toggle pdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="cmts_chart.title"></p>
      </div>
      <div class="chart-wrapper h70">
        <canvas class="chart chart-line" chart-data="cmts_chart.data" chart-labels="cmts_chart.labels" chart-legend="false" chart-series="series"
          chart-options="cmts_chart.options" chart-colors="cmts_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-danger">
      <div class="admin-card-block pdnb">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-transparent dropdown-toggle pdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="visit_chart.title"></p>
      </div>
      <div class="chart-wrapper pd12x h70">
        <canvas class="chart chart-bar" chart-data="visit_chart.data" chart-labels="visit_chart.labels" chart-options="visit_chart.options"
          chart-colors="visit_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<div class="row mg12t">
  <div class="col-sm-6 col-lg-3">
    <div class="social-box facebook">
      <i class="fa fa-facebook"></i>
      <div class="chart-wrapper">
        <canvas class="chart chart-line" chart-data="fb.data" chart-labels="social_chart.labels" chart-legend="false" chart-series="series" chart-options="social_chart.options"
          chart-colors="social_chart.colors" height="90"></canvas>
      </div>
      <ul>
        <li>
          <strong ng-bind="fb.users"></strong>
          <span>Users</span>
        </li>
        <li>
          <strong ng-bind="fb.share"></strong>
          <span>Share</span>
        </li>
      </ul>
    </div>
    <!--/.social-box-->
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="social-box twitter">
      <i class="fa fa-twitter"></i>
      <div class="chart-wrapper">
        <canvas class="chart chart-line" chart-data="tw.data" chart-labels="social_chart.labels" chart-legend="false" chart-series="series" chart-options="social_chart.options"
          chart-colors="social_chart.colors" height="90"></canvas>
      </div>
      <ul>
        <li>
          <strong ng-bind="tw.users"></strong>
          <span>Users</span>
        </li>
        <li>
          <strong ng-bind="tw.share"></strong>
          <span>Share</span>
        </li>
      </ul>
    </div>
    <!--/.social-box-->
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">

    <div class="social-box linkedin">
      <i class="fa fa-linkedin"></i>
      <div class="chart-wrapper">
        <canvas class="chart chart-line" chart-data="lk.data" chart-labels="social_chart.labels" chart-legend="false" chart-series="series" chart-options="social_chart.options"
          chart-colors="social_chart.colors" height="90"></canvas>
      </div>
      <ul>
        <li>
          <strong ng-bind="lk.users"></strong>
          <span>Users</span>
        </li>
        <li>
          <strong ng-bind="lk.share"></strong>
          <span>Share</span>
        </li>
      </ul>
    </div>
    <!--/.social-box-->
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="social-box google-plus">
      <i class="fa fa-google-plus"></i>
      <div class="chart-wrapper">
        <canvas class="chart chart-line" chart-data="gg.data" chart-labels="social_chart.labels" chart-legend="false" chart-series="series" chart-options="social_chart.options"
          chart-colors="social_chart.colors" height="90"></canvas>
      </div>
      <ul>
        <li>
          <strong ng-bind="gg.users"></strong>
          <span>Users</span>
        </li>
        <li>
          <strong ng-bind="gg.share"></strong>
          <span>Share</span>
        </li>
      </ul>
    </div>
    <!--/.social-box-->
  </div>
  <!--/.col-->
</div>
