<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-primary">
      <div class="admin-card-block pdnb">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-transparent dropdown-toggle pdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="users_chart.title"></p>
      </div>
      <div class="chart-wrapper pd12x h70">
        <canvas class="chart chart-line" chart-data="users_chart.data" chart-labels="users_chart.labels" chart-legend="false" chart-series="series" chart-options="users_chart.options"
          chart-colors="users_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-info">
      <div class="admin-card-block pdnb">
        <button type="button" class="btn btn-transparent pdn pull-right">
          <i class="icon-location-pin"></i>
        </button>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="polls_chart.title"></p>
      </div>
      <div class="chart-wrapper pd12x h70">
        <canvas class="chart chart-line" chart-data="polls_chart.data" chart-labels="polls_chart.labels" chart-legend="false" chart-series="series" chart-options="polls_chart.options"
          chart-colors="polls_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-warning">
      <div class="admin-card-block pdnb">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-transparent dropdown-toggle pdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="cmts_chart.title"></p>
      </div>
      <div class="chart-wrapper h70">
        <canvas class="chart chart-line" chart-data="cmts_chart.data" chart-labels="cmts_chart.labels" chart-legend="false" chart-series="series" chart-options="cmts_chart.options"
          chart-colors="cmts_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-sm-6 col-lg-3">
    <div class="admin-card admin-card-inverse admin-card-danger">
      <div class="admin-card-block pdnb">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-transparent dropdown-toggle pdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <h3 class="mgnb">9.823</h3>
        <p ng-bind="visit_chart.title"></p>
      </div>
      <div class="chart-wrapper pd12x h70">
        <canvas class="chart chart-bar" chart-data="visit_chart.data" chart-labels="visit_chart.labels" chart-options="visit_chart.options" chart-colors="visit_chart.colors" height="70"></canvas>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>

<!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
    <div class="card h100 title-stats">
      <span class="text-muted"><i class="fa fa-user"></i> Total Users</span>
      <span class="title-icon pull-right"><i class="fa fa-user"></i></span><br>
      <span class="text-lg">{{total_users}}</span>
      <p></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
    <div class="card h100 title-stats">
      <span class="text-muted"><i class="fa fa-list"></i> Total Polls</span>
      <span class="title-icon pull-right"><i class="fa fa-list"></i></span><br>
      <span class="text-lg">{{total_polls}}</span>
      <p></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
    <div class="card h100 title-stats">
      <span class="text-muted"><i class="fa fa-commenting"></i> Total Comments</span>
      <span class="title-icon pull-right"><i class="fa fa-commenting"></i></span><br>
      <span class="text-lg">{{total_comments}}</span>
      <p></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdn">
    <div class="card h100 title-stats">
      <span class="text-muted"><i class="fa fa-eye"></i> Total Visited</span>
      <span class="title-icon pull-right"><i class="fa fa-eye"></i></span><br>
      <span class="text-lg">{{total_visit}}</span>
      <p></p>
    </div>
  </div>-->