<section>
  <div class="page-header">
    <h1>Cmtlikes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cmtlike in vm.cmtlikes"
       ui-sref="cmtlikes.view({ cmtlikeId: cmtlike._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cmtlike.created | date:'mediumDate'"></span>
        by
        <span ng-if="cmtlike.user" ng-bind="cmtlike.user.displayName"></span>
        <span ng-if="!cmtlike.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cmtlike.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.cmtlikes.$resolved && !vm.cmtlikes.length">
    No Cmtlikes yet, why don't you <a ui-sref="cmtlikes.create">create one</a>?
  </div>
</section>
