<!DOCTYPE html>
<html lang="en" ng-controller="WebAppController">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <!--<title>{{title}}</title>-->
  <title ng-bind="page_title"></title>
  <meta name="description" content="<%=description%>">
  <meta name="fragment" content="!">
  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Facebook META -->
  <meta property="fb:app_id" content="<%=facebookAppId%>">
  <meta property="og:site_name" content="<%=title%>">
  <meta property="og:title" content="{{page_title}}">
  <meta property="og:description" content="<%=description%>">
  <meta property="og:url" content="<%=url%>">
  <meta property="og:image" content="<%=socialLogo%>">
  <meta property="og:type" content="website">
  <!-- Twitter META -->
  <meta name="twitter:title" content="{{page_title}}">
  <meta name="twitter:description" content="<%=description%>">
  <meta name="twitter:url" content="<%=url%>">
  <meta name="twitter:image" content="<%=socialLogo%>">
  <!-- Fav Icon -->
  <link href="<%=favicon%>" rel="shortcut icon" type="image/x-icon">
  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}
  <link rel="stylesheet" href="<%=cssFile%>">{% endfor %}
</head>

<body class="ng-cloak">
  <!-- HEADER -->
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-default"></header>
  <!-- #HEADER -->

  <!-- CONTENT PAGE -->
  <div class="app">
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    <!-- Aside Menu -->
    <div ng-include="'/modules/core/client/views/aside.client.view.html'"></div>
    <back-to-top></back-to-top>
  </div>
  <!--<footer ng-include="'/modules/core/client/views/footer.client.view.html'" class="footer"></footer>-->
  <!-- #CONTENT PAGE -->

  <!-- SERVER VARIABLE -->
  <script type="text/javascript">
    var user = <%= user | json | safe %>;
    var locales = <%= locales | json | safe %>;
    var supportLanguages = <%= supportLanguages | json | safe %>;
    var mappingLanguages = <%= mappingLanguages | json | safe %>;
  </script>
  <!-- SERVER VARIABLE -->

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}
  <script type="text/javascript" src="<%=jsFile%>"></script>{% endfor %} {% if livereload %}
  <!--Livereload script rendered -->
  <!--<script type="text/javascript" src="<%=host%>:35729/livereload.js"></script>-->
  {% endif %}

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106998889-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());
    gtag('config', 'UA-106998889-1');
  </script>
  <!-- #Global Site Tag (gtag.js) - Google Analytics -->

  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-106998889-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!--<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>-->
</body>

</html>