<div class="row">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-filter"></i> Filter database</strong>
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="search">Search</label>
          <input name="search" id="search" class="form-control input-sm" type="text" ng-model="condition.search" placeholder="Search"
          />
        </div>
        <div class="form-group col-sm-6">
          <label for="sort">Sort by</label>
          <select id="sort" name="sort" class="form-control input-sm" ng-model="condition.sort">
            <option value>Default</option>
            <option value="-created">Newest to oldest</option>
            <option value="created">Oldest to newest</option>
            <option value="-likeCnt">Most likes</option>
            <option value="likeCnt">Least likes</option>
            <option value="-cmtCnt">Most comments</option>
            <option value="cmtCnt">Least comments</option>
            <option value="-voteCnt">Most votes</option>
            <option value="voteCnt">Least votes</option>
            <option value="-viewCnt">Most viewed</option>
            <option value="viewCnt">Least viewed</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="status">Status</label>
          <select id="status" name="status" class="form-control input-sm" ng-model="condition.status">
              <option value>All</option>
              <option value="infinity">Infinity</option>
              <option value="limit">Limit and opening</option>
              <option value="closed">Closed</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="ctgr">Category</label>
          <select id="ctgr" name="ctgr" class="form-control input-sm" ng-model="condition.ctgr">
            <option value>All</option>
            <option ng-repeat="category in Categorys.list" value="{{category._id}}" ng-selected="category._id === condition.ctgr">{{category.name}} ({{category.count}})</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <div class="col-sm-12 pdn"><label>Created date</label></div>
          <div class="col-sm-6 pdn">
            <input id="created_start" name="created_start" class="form-control input-sm" today="true" moment-picker="condition.created_start"
              ng-model="condition.created_start" format="YYYY/MM/DD" start-view="month" placeholder="Start date..." additions="{ bottom: 'start_bottom-template-url' }">
          </div>
          <div class="col-sm-6 pdn">
            <input id="created_end" name="created_end" class="form-control input-sm" today="true" moment-picker="condition.created_end"
              ng-model="condition.created_end" format="YYYY/MM/DD" start-view="month" placeholder="End date..." additions="{ bottom: 'end_bottom-template-url' }">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Posted by</label>
          <input name="by" type="hidden" class="form-control input-sm" ng-model="condition.by">
          <angucomplete-alt placeholder="Search user" pause="300" selected-object="selectedUserFn" initial-value="selectedUser" remote-url="/api/users/search?s="
            remote-url-data-field="users" title-field="displayName" description-field="username" image-field="profileImageURL"
            minlength="1" input-class="form-control input-sm" match-class="highlight" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label for="security">Security</label>
          <select id="security" name="security" class="form-control input-sm" ng-model="condition.isPublic">
              <option value>All</option>
              <option value="true">Public</option>
              <option value="false">Private</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
          <label for="allow_multiple">Allow multiple vote</label>
          <select id="allow_multiple" name="allow_multiple" class="form-control input-sm" ng-model="condition.allow_multiple">
            <option value>All</option>
            <option value="true">Allow</option>
            <option value="false">Deny</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label for="allow_add">Allow member suggest</label>
          <select id="allow_add" name="allow_add" class="form-control input-sm" ng-model="condition.allow_add">
            <option value>All</option>
            <option value="true">Allow</option>
            <option value="false">Deny</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label for="allow_guest">Allow guest vote</label>
          <select id="allow_guest" name="allow_guest" class="form-control input-sm" ng-model="condition.allow_guest">
            <option value>All</option>
            <option value="true">Allow</option>
            <option value="false">Deny</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <div class="col-sm-12 pdn"><label>Comments</label></div>
          <div class="col-sm-6 pdn">
            <select class="form-control input-sm" ng-model="condition.cmts_pref">
              <option value>Not set</option>
              <option value="least">As least</option>
              <option value="most">As most</option>
            </select>
          </div>
          <div class="col-sm-6 pdn">
            <input name="cmts" id="cmts" type="text" class="form-control input-sm" placeholder="Comments count" ng-model="condition.cmts">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <div class="col-sm-12 pdn"><label>Likes</label></div>
          <div class="col-sm-6 pdn">
            <select class="form-control input-sm" ng-model="condition.likes_pref">
              <option value>Not set</option>
              <option value="least">As least</option>
              <option value="most">As most</option>
            </select>
          </div>
          <div class="col-sm-6 pdn">
            <input name="likes" id="likes" type="text" class="form-control input-sm" placeholder="Likes count" ng-model="condition.likes">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <div class="col-sm-12 pdn"><label>Votes</label></div>
          <div class="col-sm-6 pdn">
            <select class="form-control input-sm" ng-model="condition.votes_pref">
              <option value>Not set</option>
              <option value="least">As least</option>
              <option value="most">As most</option>
            </select>
          </div>
          <div class="col-sm-6 pdn">
            <input name="votes" id="votes" type="text" class="form-control input-sm" placeholder="Votes count" ng-model="condition.votes">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <div class="col-sm-12 pdn"><label>Views</label></div>
          <div class="col-sm-6 pdn">
            <select class="form-control input-sm" ng-model="condition.views_pref">
              <option value>Not set</option>
              <option value="least">As least</option>
              <option value="most">As most</option>
            </select>
          </div>
          <div class="col-sm-6 pdn">
            <input name="views" id="views" type="text" class="form-control input-sm" placeholder="Views count" ng-model="condition.views">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-footer">
      <button class="btn btn-primary btn-sm pull-right" ng-click="search()">Search</button>
      <button class="btn btn-danger btn-sm pull-right mg5r" ng-click="clear_filter()">Clear</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-filter"></i> Filter local result</strong>
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="local_sort">Sort by</label>
          <select id="local_sort" name="local_sort" class="form-control input-sm" ng-model="filter.local_sort" ng-change="figureOutItemsToDisplay()">
            <option value>Not set</option>
            <option value="-reported">Most reported</option>
            <option value="-bookmarked">Most bookmarked</option>
            <option value="-followed">Most followed</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list"></i> List poll</strong>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="bg-primary">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>Title</th>
              <th>Category</th>
              <th>User</th>
              <th>Created</th>
              <th class="text-center">Likes</th>
              <th class="text-center">Comments</th>
              <th class="text-center">Votes</th>
              <th class="text-center">Viewed</th>
              <th class="text-center">Followed</th>
              <th class="text-center">Bookmarked</th>
              <th class="text-center">Reported</th>
              <th>Close</th>
              <th>Public</th>
              <th>Multiple</th>
              <th>Allow suggest</th>
              <th>Allow guest</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="busy">
              <td class="text-center" colspan="18"><div class="loader"></div></td>
            </tr>
            <tr ng-show="pagedItems.length === 0 && !busy">
              <td class="text-center" colspan="18">Has no data found.</td>
            </tr>
            <tr ng-repeat="poll in pagedItems">
              <td class="text-center">
                <div class="admin-avatar">
                  <img src="{{ poll.user.profileImageURL }}" alt="{{ poll.user.displayName }}" class="img-admin-avatar">
                </div>
              </td>
              <td ng-bind="poll.title"></td>
              <td>{{ poll.category.name }}</td>
              <td>{{ poll.user.displayName }}</td>
              <td ng-bind="poll.created | LLL_format"></td>
              <td class="text-center">{{ poll.likeCnt }}</td>
              <td class="text-center">{{ poll.cmtCnt }}</td>
              <td class="text-center">{{ poll.voteCnt }}</td>
              <td class="text-center">{{ poll.viewCnt }}</td>
              <td class="text-center">{{ poll.followed }}</td>
              <td class="text-center">{{ poll.bookmarked }}</td>
              <td class="text-center">{{ poll.reported }}</td>
              <td>
                <span ng-if="poll.close" ng-bind="poll.close | LLL_format"></span>
                <span ng-if="!poll.close">Infinity</span>
              </td>
              <td>{{ (poll.isPublic) ? 'Public' : 'Private' }}</td>
              <td>{{ (poll.allow_multiple) ? 'Multiple' : 'Single' }}</td>
              <td>{{ (poll.allow_add) ? 'Allow' : 'Deny' }}</td>
              <td>{{ (poll.allow_guest) ? 'Allow' : 'Deny' }}</td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail of poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ui-sref="polls.edit({ pollId: poll._id })"><i class="icon-note icons"></i>
                    <md-tooltip md-direction="bottom">Edit info of poll on public</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ui-sref="polls.view({ pollId: poll.slug })"><i class="icon-login icons"></i>
                    <md-tooltip md-direction="bottom">View detail of poll on public</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="remove(poll)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete user</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
          ng-change="pageChanged()"></uib-pagination>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="start_bottom-template-url">
  <button class="btn btn-info btn-sm btn-block" ng-click="clear_created_start()">
    Clear
  </button>
</script>
<script type="text/ng-template" id="end_bottom-template-url">
  <button class="btn btn-info btn-sm btn-block" ng-click="clear_created_end()">
    Clear
  </button>
</script>