<section class="container mg10b">
  <div class="row mg10t mg10b">
    <div class="col-xs-12">
      <div class="form-group">
        <a ui-sref="polls.create" class="btn btn-primary pull-right">Create poll</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 pdn">
      <div class="card" ng-repeat="category in vm.categorys">
        <div class="col-sm-9">
          <div class="avatar pull-left" ng-style="{ 'background-color': category.color }"><i ng-class="['fa', category.icon]"></i></div>
          <a ui-sref="categorys.view({ categoryId: category._id })" class="undecorated-link h4-text">{{category.name}}</a><br>
          <a ui-sref="categorys.edit({ categoryId: category._id })" class="undecorated-link">Edit</a>
        </div>
        <div class="col-sm-3">
          <div class="count pull-right">
            <div class="count-value">{{category.count}}</div>
            <div class="count-label">Polls</div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<!--<section>
  <div class="page-header">
    <h1>Categorys</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="category in vm.categorys"
       ui-sref="categorys.view({ categoryId: category._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="category.created | date:'mediumDate'"></span>
        by
        <span ng-if="category.user" ng-bind="category.user.displayName"></span>
        <span ng-if="!category.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="category.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.categorys.$resolved && !vm.categorys.length">
    No Categorys yet, why don't you <a ui-sref="categorys.create">create one</a>?
  </div>
</section>-->