<section class="container animated fadeIn mg6t mg50b">
  <div class="row">
    <div class="col-xs-12 pdn">
      <div class="card" ng-repeat="category in Categorys.list">
        <div class="card-body">
          <div class="col-xs-9 pdn">
            <div class="avatar pull-left" ng-style="{ 'background-color': category.color }"><i ng-class="['fa', category.icon]"></i></div>
            <a ui-sref="categorys.polls({ categoryId: category.slug })" class="undecorated-link h4-text">{{category.name}}</a><br>
          </div>
          <div class="col-xs-3 pdn">
            <div class="count pull-right">
              <div class="count-value">{{category.count}}</div>
              <div class="count-label">Polls</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>