<section class="container animated fadeIn mg6t mg50b" infinite-scroll="vm.get_polls()" infinite-scroll-distance='2'>
  <div class="row">
    <div class="col-xs-12 pdn">
      <!-- List polls  -->
      <div ng-repeat="poll in vm.polls | filter: poll_filter" class="card">
        <div ng-include="'/modules/core/client/views/templates/list-poll.client.template.html'"></div>
        <div class="clearfix"></div>
      </div>

      <!-- Loader  -->
      <div class="row text-center" ng-show="busy"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></div>
      <!-- Message  -->
      <div class="notice notice-warning" ng-show="vm.polls.length === 0 && stopped">
        No polls yet, why don't you <a ui-sref="polls.create">create one</a>?
      </div>
    </div>
  </div>
</section>