.admin-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
  height: 100%; }
  .admin-body .main {
    flex: 1;
    min-width: 0;
    height: 100%; }
  .admin-body .sidebar {
    flex: 0 0 200px;
    order: -1;
    height: 100%; }
  .admin-body .aside-menu {
    flex: 0 0 250px;
    height: 100%; }

/* Side menu */
.sidebar {
  padding: 0;
  overflow: hidden;
  color: #fff;
  background: #263238; }
  .sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    background: 0;
    border: 0;
    opacity: .8; }
    .sidebar .sidebar-close:hover {
      opacity: 1; }
  .sidebar .sidebar-nav {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 200px; }
    .sidebar .sidebar-nav::-webkit-scrollbar {
      position: absolute;
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none; }
    .sidebar .sidebar-nav::-webkit-scrollbar-track {
      background-color: #304047;
      border-right: 1px solid #1c2429;
      border-left: 1px solid #1c2429; }
    .sidebar .sidebar-nav::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #11171a;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px; }
  .sidebar .nav {
    width: 200px;
    flex-direction: column !important; }
    .sidebar .nav .nav-title {
      padding: 0.75rem 1rem;
      font-size: 11px;
      font-weight: 600;
      color: #bac2c6;
      text-transform: uppercase; }
    .sidebar .nav .divider {
      height: 10px; }
    .sidebar .nav .nav-item {
      position: relative;
      margin: 0;
      transition: background .3s ease-in-out; }
      .sidebar .nav .nav-item ul {
        max-height: 0;
        padding: 0;
        margin: 0;
        overflow-y: hidden;
        transition: max-height .3s ease-in-out; }
        .sidebar .nav .nav-item ul li {
          padding: 0;
          list-style: none; }
      .sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar .nav .nav-item .dropdown-toggle {
        display: block;
        padding: 1rem 1rem;
        height: 40px;
        color: #fff;
        text-decoration: none;
        background: transparent; }
        .sidebar .nav .nav-dropdown-items .nav-item .nav-link {
          padding-left: 2rem; }
        .sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
          color: #fff !important;
          background: #20a8d8 !important; }
          .sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover i {
            color: #fff !important; }
        .sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .navbar .active.dropdown-toggle, .navbar .sidebar .nav .nav-item .active.dropdown-toggle {
          color: #fff;
          background: #304047; }
          .sidebar .nav .nav-item .nav-link.active i, .sidebar .nav .nav-item .navbar .active.dropdown-toggle i, .navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
            color: #20a8d8; }
        .sidebar .nav .nav-item .nav-link [class^="icon-"], .sidebar .nav .nav-item .navbar .dropdown-toggle [class^="icon-"], .navbar .sidebar .nav .nav-item .dropdown-toggle [class^="icon-"], .sidebar .nav .nav-item .nav-link [class*=" icon-"], .sidebar .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .navbar .sidebar .nav .nav-item .dropdown-toggle [class*=" icon-"] {
          display: inline-block;
          margin-top: -4px;
          vertical-align: middle; }
        .sidebar .nav .nav-item .nav-link i, .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar .nav .nav-item .dropdown-toggle i {
          width: 20px;
          margin: 0 0.5rem 0 0;
          font-size: 14px;
          color: #b0bec5;
          text-align: center; }
        .sidebar .nav .nav-item .nav-link .badge, .sidebar .nav .nav-item .navbar .dropdown-toggle .badge, .navbar .sidebar .nav .nav-item .dropdown-toggle .badge {
          float: right;
          margin-top: 2px; }
        .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
          position: absolute;
          top: 1.6rem;
          right: 1rem;
          display: block;
          width: 0.875rem;
          height: 0.875rem;
          padding: 0;
          font-size: 1.3rem;
          line-height: 0.65625rem;
          text-align: center;
          content: "\2039";
          transition: .3s; }
      .sidebar .nav .nav-item.nav-dropdown.open {
        background: rgba(0, 0, 0, 0.2); }
        .sidebar .nav .nav-item.nav-dropdown.open > ul, .sidebar .nav .nav-item.nav-dropdown.open > ol {
          max-height: 1000px; }
        .sidebar .nav .nav-item.nav-dropdown.open .nav-link, .sidebar .nav .nav-item.nav-dropdown.open .navbar .dropdown-toggle, .navbar .sidebar .nav .nav-item.nav-dropdown.open .dropdown-toggle {
          color: #fff;
          border-left: 0 !important; }
        .sidebar .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, .sidebar .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
          transform: rotate(-90deg); }
        .sidebar .nav .nav-item.nav-dropdown.open .nav-dropdown.open {
          border-left: 0; }
      .sidebar .nav .nav-item.nav-dropdown.nt {
        transition: 0s !important; }
        .sidebar .nav .nav-item.nav-dropdown.nt > ul, .sidebar .nav .nav-item.nav-dropdown.nt > ol {
          transition: 0s !important; }
        .sidebar .nav .nav-item.nav-dropdown.nt .nav-link.nav-dropdown-toggle::before, .sidebar .nav .nav-item.nav-dropdown.nt .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar .nav .nav-item.nav-dropdown.nt .nav-dropdown-toggle.dropdown-toggle::before {
          transition: 0s !important; }
      .sidebar .nav .nav-item .nav-label {
        display: block;
        padding: 0.09375rem 1rem;
        color: #cfd8dc; }
        .sidebar .nav .nav-item .nav-label:hover {
          color: #fff;
          text-decoration: none; }
        .sidebar .nav .nav-item .nav-label i {
          width: 20px;
          margin: -3px 0.5rem 0 0;
          font-size: 10px;
          color: #b0bec5;
          text-align: center;
          vertical-align: middle; }
      .sidebar .nav .nav-item .progress {
        background-color: #455b66 !important; }
.sidebar-hidden .sidebar {
  margin-left: -200px; }
.sidebar-fixed .sidebar {
  position: fixed;
  width: 200px;
  height: 100%; }
  .sidebar-fixed .sidebar .sidebar-nav {
    height: calc(100vh - 55px); }

.sidebar-fixed .main, .sidebar-fixed .app-footer {
  margin-left: 200px; }

.sidebar-fixed.sidebar-hidden .main, .sidebar-fixed.sidebar-hidden .app-footer {
  margin-left: 0; }

.sidebar-off-canvas .sidebar {
  position: fixed;
  z-index: 1019;
  height: 100%; }
  .sidebar-off-canvas .sidebar .sidebar-nav {
    height: calc(100vh - 55px); }

@media (min-width: 992px) {
  .sidebar-compact .sidebar .sidebar-nav {
    width: 150px; }
  .sidebar-compact .sidebar .nav {
    width: 150px; }
    .sidebar-compact .sidebar .nav .nav-title {
      text-align: center; }
    .sidebar-compact .sidebar .nav .nav-item {
      width: 150px;
      border-left: 0 !important; }
      .sidebar-compact .sidebar .nav .nav-item .nav-link, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle {
        text-align: center; }
        .sidebar-compact .sidebar .nav .nav-item .nav-link i, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle i {
          display: block;
          width: 100%;
          margin: 0.25rem 0;
          font-size: 24px; }
        .sidebar-compact .sidebar .nav .nav-item .nav-link .badge, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle .badge, .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle .badge {
          position: absolute;
          top: 18px;
          right: 10px; }
        .sidebar-compact .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar-compact .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar-compact .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
          top: 30px; }
  .sidebar-minimized .hidden-cn {
    display: none; }
  .sidebar-minimized .sidebar {
    z-index: 1019; }
    .sidebar-minimized .sidebar:hover {
      overflow: visible; }
    .sidebar-minimized .sidebar .sidebar-nav {
      overflow: visible;
      width: 50px; }
    .sidebar-minimized .sidebar .nav {
      width: 50px; }
      .sidebar-minimized .sidebar .nav .nav-title, .sidebar-minimized .sidebar .nav .divider {
        display: none; }
      .sidebar-minimized .sidebar .nav .nav-item {
        width: 50px;
        overflow: hidden;
        border-left: 0 !important; }
        .sidebar-minimized .sidebar .nav .nav-item ul {
          background: #263238; }
        .sidebar-minimized .sidebar .nav .nav-item .nav-link, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle {
          position: relative;
          padding-left: 0;
          margin: 0;
          white-space: nowrap;
          border-left: 0 !important; }
          .sidebar-minimized .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar-minimized .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .sidebar-minimized .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
            display: none; }
          .sidebar-minimized .sidebar .nav .nav-item .nav-link i, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle i {
            display: block;
            float: left;
            width: 50px;
            padding: 0;
            margin: 0 !important;
            font-size: 18px; }
          .sidebar-minimized .sidebar .nav .nav-item .nav-link .badge, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle .badge, .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle .badge {
            position: absolute;
            right: 15px;
            display: none; }
          .sidebar-minimized .sidebar .nav .nav-item .nav-link:hover, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle:hover {
            width: 200px; }
            .sidebar-minimized .sidebar .nav .nav-item .nav-link:hover .badge, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle:hover .badge, .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle:hover .badge {
              display: inline; }
        .sidebar-minimized .sidebar .nav .nav-item ul {
          position: absolute;
          left: 50px; }
          .sidebar-minimized .sidebar .nav .nav-item ul li {
            position: relative;
            padding: 0; }
            .sidebar-minimized .sidebar .nav .nav-item ul li .nav-link, .sidebar-minimized .sidebar .nav .nav-item ul li .navbar .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav .nav-item ul li .dropdown-toggle {
              width: 150px; }
            .sidebar-minimized .sidebar .nav .nav-item ul li ul, .sidebar-minimized .sidebar .nav .nav-item ul li ol {
              position: absolute;
              top: 0;
              left: 100%; }
        .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open {
          background: #304047; }
          .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > .nav-link i, .sidebar-minimized .sidebar .nav .navbar .nav-item.nav-dropdown.open > .dropdown-toggle i, .navbar .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > .dropdown-toggle i {
            color: #20a8d8; }
          .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > ul, .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > ol {
            display: none; }
        .sidebar-minimized .sidebar .nav .nav-item:hover {
          width: 250px;
          overflow: visible;
          background: #20a8d8;
          transition: 0s; }
          .sidebar-minimized .sidebar .nav .nav-item:hover > .nav-link, .sidebar-minimized .sidebar .nav .navbar .nav-item:hover > .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav .nav-item:hover > .dropdown-toggle {
            width: 250px; }
          .sidebar-minimized .sidebar .nav .nav-item:hover > ul, .sidebar-minimized .sidebar .nav .nav-item:hover > ol {
            display: inline;
            max-height: 10000px;
            transition: 0s; }
            .sidebar-minimized .sidebar .nav .nav-item:hover > ul li, .sidebar-minimized .sidebar .nav .nav-item:hover > ol li {
              width: 200px; }
              .sidebar-minimized .sidebar .nav .nav-item:hover > ul li .nav-link, .sidebar-minimized .sidebar .nav .nav-item:hover > ul li .navbar .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav .nav-item:hover > ul li .dropdown-toggle, .sidebar-minimized .sidebar .nav .nav-item:hover > ol li .nav-link, .sidebar-minimized .sidebar .nav .nav-item:hover > ol li .navbar .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav .nav-item:hover > ol li .dropdown-toggle {
                width: 200px; }
          .sidebar-minimized .sidebar .nav .nav-item:hover.nav-dropdown.open > ul, .sidebar-minimized .sidebar .nav .nav-item:hover.nav-dropdown.open > ol {
            display: inline; } }



/* Aside menu */
.aside-menu {
  z-index: 1019;
  width: 250px;
  color: #263238;
  background: #fff;
  border-left: 1px solid #cfd8dc; }
  .aside-menu .nav-tabs {
    border-color: #cfd8dc; }
    .aside-menu .nav-tabs .nav-link, .aside-menu .nav-tabs .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .dropdown-toggle {
      padding: 0.75rem 1rem;
      color: #263238;
      border-top: 0; }
      .aside-menu .nav-tabs .nav-link.active, .aside-menu .nav-tabs .navbar .active.dropdown-toggle, .navbar .aside-menu .nav-tabs .active.dropdown-toggle {
        color: #20a8d8;
        border-right-color: #cfd8dc;
        border-left-color: #cfd8dc; }
    .aside-menu .nav-tabs .nav-item:first-child .nav-link, .aside-menu .nav-tabs .nav-item:first-child .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .nav-item:first-child .dropdown-toggle {
      border-left: 0; }
  .aside-menu .tab-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    border-top: 1px solid #cfd8dc;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .aside-menu .tab-content::-webkit-scrollbar {
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none; }
    .aside-menu .tab-content::-webkit-scrollbar-track {
      background-color: white;
      border-right: 1px solid #f2f2f2;
      border-left: 1px solid #f2f2f2; }
    .aside-menu .tab-content::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #e6e6e6;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px; }
    .aside-menu .tab-content .tab-pane {
      padding: 0; }
.aside-menu-hidden .aside-menu {
  margin-right: -250px; }

.aside-menu-fixed .aside-menu {
  position: fixed;
  right: 0;
  height: 100%; }
  .aside-menu-fixed .aside-menu .tab-content {
    height: calc(100vh - 2.375rem - 55px); }

.aside-menu-fixed .main, .aside-menu-fixed .app-footer {
  margin-right: 250px; }

.aside-menu-fixed.aside-menu-hidden .main, .aside-menu-fixed.aside-menu-hidden .app-footer {
  margin-right: 0; }

.aside-menu-off-canvas .aside-menu {
  position: fixed;
  right: 0;
  z-index: 1019;
  height: 100%; }
  .aside-menu-off-canvas .aside-menu .tab-content {
    height: calc(100vh - 2.375rem - 55px); }
@media (min-width: 992px) {
  .sidebar-compact .sidebar {
    flex: 0 0 150px; }
  .sidebar-compact.sidebar-hidden .sidebar {
    margin-left: -150px; }
  .sidebar-compact.sidebar-fixed .main, .sidebar-compact.sidebar-fixed .app-footer {
    margin-left: 150px; }
  .sidebar-compact.sidebar-fixed .sidebar {
    width: 150px; }
  .sidebar-compact.sidebar-fixed.sidebar-hidden .main, .sidebar-compact.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0; }
  .sidebar-minimized .sidebar {
    flex: 0 0 50px; }
  .sidebar-minimized.sidebar-hidden .sidebar {
    margin-left: -50px; }
  .sidebar-minimized.sidebar-fixed .main, .sidebar-minimized.sidebar-fixed .app-footer {
    margin-left: 50px; }
  .sidebar-minimized.sidebar-fixed .sidebar {
    width: 50px; }
  .sidebar-minimized.sidebar-fixed.sidebar-hidden .main, .sidebar-minimized.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0; } }

.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu {
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s; }

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    z-index: 999;
    margin-top: 44px; }
    .sidebar .sidebar-nav,
    .sidebar .nav {
      width: 220px !important; }
  .sidebar-hidden .sidebar {
    margin-left: -220px;
  }
  .main, .app-footer {
    margin-left: 0 !important; }
  .aside-menu {
    margin-right: -250px; }
  .sidebar-mobile-show .sidebar {
    width: 220px;
    margin-left: 0; }
    .sidebar-mobile-show .sidebar .sidebar-nav {
      height: calc(100vh - 55px); }
  .sidebar-mobile-show .main {
    margin-right: -220px !important;
    margin-left: 220px !important; } }


/* Breadcrumb */
.breadcrumb-menu {
  float: right; }
  .breadcrumb-menu::before {
    display: none; }
  .breadcrumb-menu .btn-group {
    margin-right: 12px; }
  .breadcrumb-menu .breadcrumb-btn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .breadcrumb-menu .breadcrumb-btn:not(:last-child) {
    margin-right: 10px; }
  .breadcrumb-menu .breadcrumb-btn.btn-secondary {
    color: #b0bec5;
    border: 0; }
    .breadcrumb-menu .breadcrumb-btn.btn-secondary:hover, .breadcrumb-menu .breadcrumb-btn.btn-secondary.active {
      color: #263238;
      background: transparent; }
  .breadcrumb-menu .open .breadcrumb-btn.btn-secondary {
    color: #263238;
    background: transparent; }
  .breadcrumb-menu .dropdown-menu {
    min-width: 180px;
    line-height: 1.5; }
.breadcrumb-item.root {
  margin-left: 12px; }
  .breadcrumb-item.root::before {
    display: none; }

/* Card */
.admin-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc; }

  .admin-card-block {
    flex: 1 1 auto;
    padding: 1.25rem; }

  .admin-card-title {
    margin-bottom: 0.75rem;
    word-break: break-all; }

  .admin-card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0; }

  .admin-card-text:last-child {
    margin-bottom: 0; }

  .admin-card-link:hover {
    text-decoration: none; }

  .admin-card-link + .admin-card-link {
    margin-left: 1.25rem; }

  .admin-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #eceff1;
    border-bottom: 1px solid #cfd8dc; }

  .admin-card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #eceff1;
    border-top: 1px solid #cfd8dc; }

  .admin-card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0; }

  .admin-card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem; }

  .admin-card-primary {
    background-color: #20a8d8;
    border-color: #20a8d8; }
    .admin-card-primary .admin-card-header,
    .admin-card-primary .admin-card-footer {
      background-color: transparent; }

  .admin-card-success {
    background-color: #4dbd74;
    border-color: #4dbd74; }
    .admin-card-success .admin-card-header,
    .admin-card-success .admin-card-footer {
      background-color: transparent; }

  .admin-card-info {
    background-color: #63c2de;
    border-color: #63c2de; }
    .admin-card-info .admin-card-header,
    .admin-card-info .admin-card-footer {
      background-color: transparent; }

  .admin-card-warning {
    background-color: #f8cb00;
    border-color: #f8cb00; }
    .admin-card-warning .admin-card-header,
    .admin-card-warning .admin-card-footer {
      background-color: transparent; }

  .admin-card-danger {
    background-color: #f86c6b;
    border-color: #f86c6b; }
    .admin-card-danger .admin-card-header,
    .admin-card-danger .admin-card-footer {
      background-color: transparent; }

  .admin-card-outline-primary {
    background-color: transparent;
    border-color: #20a8d8; }
    .admin-card-outline-primary .admin-card-header,
    .admin-card-outline-primary .admin-card-footer {
      background-color: transparent;
      border-color: #20a8d8; }

  .admin-card-outline-secondary {
    background-color: transparent;
    border-color: #ccc; }
    .admin-card-outline-secondary .admin-card-header,
    .admin-card-outline-secondary .admin-card-footer {
      background-color: transparent;
      border-color: #ccc; }

  .admin-card-outline-info {
    background-color: transparent;
    border-color: #63c2de; }
    .admin-card-outline-info .admin-card-header,
    .admin-card-outline-info .admin-card-footer {
      background-color: transparent;
      border-color: #63c2de; }

  .admin-card-outline-success {
    background-color: transparent;
    border-color: #4dbd74; }
    .admin-card-outline-success .admin-card-header,
    .admin-card-outline-success .admin-card-footer {
      background-color: transparent;
      border-color: #4dbd74; }

  .admin-card-outline-warning {
    background-color: transparent;
    border-color: #f8cb00; }
    .admin-card-outline-warning .admin-card-header,
    .admin-card-outline-warning .admin-card-footer {
      background-color: transparent;
      border-color: #f8cb00; }

  .admin-card-outline-danger {
    background-color: transparent;
    border-color: #f86c6b; }
    .admin-card-outline-danger .admin-card-header,
    .admin-card-outline-danger .admin-card-footer {
      background-color: transparent;
      border-color: #f86c6b; }

  .admin-card-inverse {
    color: rgba(255, 255, 255, 0.65); }
    .admin-card-inverse .admin-card-header,
    .admin-card-inverse .admin-card-footer {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.2); }
    .admin-card-inverse .admin-card-header,
    .admin-card-inverse .admin-card-footer,
    .admin-card-inverse .admin-card-title,
    .admin-card-inverse .admin-card-blockquote {
      color: #fff; }
    .admin-card-inverse .admin-card-link,
    .admin-card-inverse .admin-card-text,
    .admin-card-inverse .admin-card-subtitle,
    .admin-card-inverse .admin-card-blockquote .blockquote-footer {
      color: rgba(255, 255, 255, 0.65); }
    .admin-card-inverse .admin-card-link:focus, .admin-card-inverse .admin-card-link:hover {
      color: #fff; }

  .admin-card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0; }

  .admin-card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem; }

  .admin-card-img {
    width: 100%; }

  .admin-card-img-top {
    width: 100%; }

  .admin-card-img-bottom {
    width: 100%; }

  @media (min-width: 576px) {
    .admin-card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .admin-card-deck .admin-card {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px; } }

  @media (min-width: 576px) {
    .admin-card-group {
      display: flex;
      flex-flow: row wrap; }
      .admin-card-group .admin-card {
        flex: 1 0 0; }
        .admin-card-group .admin-card + .admin-card {
          margin-left: 0;
          border-left: 0; } }

  .admin-card-columns .admin-card {
    margin-bottom: 0.75rem; }

  @media (min-width: 576px) {
    .admin-card-columns {
      column-count: 3;
      column-gap: 1.25rem; }
      .admin-card-columns .admin-card {
        display: inline-block;
        width: 100%; } }

.chart-wrapper canvas {
  width: 100% !important; }

base-chart.chart {
  display: block !important; }

.social-box {
  min-height: 160px;
  margin-bottom: 1.5rem;
  text-align: center;
  background: #fff;
  border: 1px solid #cfd8dc; }
  .social-box i {
    display: block;
    margin: -1px -1px 0;
    font-size: 40px;
    line-height: 90px;
    background: #cfd8dc; }
  .social-box .chart-wrapper {
    height: 90px;
    margin: -90px 0 0; }
    .social-box .chart-wrapper canvas {
      width: 100% !important;
      height: 90px !important; }
  .social-box ul {
    padding: 10px 0;
    list-style: none; }
    .social-box ul li {
      display: block;
      float: left;
      width: 50%; }
      .social-box ul li:first-child {
        border-right: 1px solid #cfd8dc; }
      .social-box ul li strong {
        display: block;
        font-size: 20px; }
      .social-box ul li span {
        font-size: 10px;
        font-weight: 500;
        color: #cfd8dc;
        text-transform: uppercase; }
  .social-box.facebook i {
    color: #fff;
    background: #3b5998; }
  .social-box.twitter i {
    color: #fff;
    background: #00aced; }
  .social-box.linkedin i {
    color: #fff;
    background: #4875b4; }
  .social-box.google-plus i {
    color: #fff;
    background: #bb4b39; }

/* rtl */
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed; }
  *[dir="rtl"] ul {
    -webkit-padding-start: 0; }
  *[dir="rtl"] table tr th {
    text-align: right; }
  *[dir="rtl"] .breadcrumb-item {
    float: right; }
  *[dir="rtl"] .breadcrumb-menu {
    right: auto;
    left: 1rem; }
  *[dir="rtl"] .dropdown-item {
    text-align: right; }
    *[dir="rtl"] .dropdown-item i {
      margin-right: -10px;
      margin-left: 10px; }
    *[dir="rtl"] .dropdown-item .badge {
      right: auto;
      left: 10px; }
  *[dir="rtl"] .sidebar-hidden .sidebar {
    margin-right: -200px; }
  *[dir="rtl"] .sidebar-fixed .main, *[dir="rtl"] .sidebar-fixed .app-footer {
    margin-right: 200px; }
  *[dir="rtl"] .sidebar-fixed.sidebar-hidden .main, *[dir="rtl"] .sidebar-fixed.sidebar-hidden .app-footer {
    margin-right: 0; }
  *[dir="rtl"] .sidebar-minimized .sidebar {
    flex: 0 0 50px; }
  *[dir="rtl"] .sidebar-minimized.sidebar-hidden .sidebar {
    margin-left: -50px; }
  *[dir="rtl"] .sidebar-minimized.sidebar-fixed .main, *[dir="rtl"] .sidebar-minimized.sidebar-fixed .app-footer {
    margin-left: 50px; }
  *[dir="rtl"] .sidebar-minimized.sidebar-fixed.sidebar-hidden .main, *[dir="rtl"] .sidebar-minimized.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0; }
  *[dir="rtl"] .aside-menu-hidden .aside-menu {
    margin-left: -250px; }
  *[dir="rtl"] .aside-menu-fixed .aside-menu {
    right: auto;
    left: 0; }
  *[dir="rtl"] .aside-menu-fixed .main, *[dir="rtl"] .aside-menu-fixed .app-footer {
    margin-left: 250px; }
  *[dir="rtl"] .aside-menu-fixed.aside-menu-hidden .main, *[dir="rtl"] .aside-menu-fixed.aside-menu-hidden .app-footer {
    margin-left: 0; }
  *[dir="rtl"] .aside-menu-off-canvas .aside-menu {
    position: fixed;
    right: 0;
    z-index: 1019;
    height: 100%; }
    *[dir="rtl"] .aside-menu-off-canvas .aside-menu .tab-content {
      height: calc(100vh - 2.375rem - 55px); }
  *[dir="rtl"] .sidebar .sidebar-nav {
    direction: ltr; }
    *[dir="rtl"] .sidebar .sidebar-nav * {
      direction: rtl; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link [class^="icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class^="icon-"], .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class^="icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link [class*=" icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class*=" icon-"] {
      margin-right: -4px; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link .badge, *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle .badge, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle .badge {
      float: left;
      margin-top: 2px; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link.nav-dropdown-toggle::before, *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
      position: absolute;
      right: auto !important;
      left: 1rem; }
    *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, *[dir="rtl"] .sidebar .sidebar-nav .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
      transform: rotate(90deg); }
  *[dir="rtl"] .horizontal-bars li .bars {
    padding-right: 100px;
    padding-left: 0; }
    *[dir="rtl"] .horizontal-bars li .bars .progress:first-child {
      margin-bottom: 2px; }
  *[dir="rtl"] .horizontal-bars.type-2 li i {
    margin-right: 5px;
    margin-left: 1rem; }
  *[dir="rtl"] .horizontal-bars.type-2 li .value {
    float: left;
    font-weight: 600; }
  *[dir="rtl"] .horizontal-bars.type-2 li .bars {
    padding: 0; }
  *[dir="rtl"] .icons-list li {
    position: relative;
    height: 40px;
    vertical-align: middle; }
    *[dir="rtl"] .icons-list li i {
      float: right; }
    *[dir="rtl"] .icons-list li .desc {
      margin-right: 50px;
      margin-left: 0; }
    *[dir="rtl"] .icons-list li .value {
      right: auto;
      left: 45px;
      text-align: left; }
      *[dir="rtl"] .icons-list li .value strong {
        display: block;
        margin-top: -3px; }
    *[dir="rtl"] .icons-list li .actions {
      right: auto;
      left: 10px; }
  *[dir="rtl"] .callout {
    border: 0 solid #cfd8dc;
    border-right-width: .25rem; }
    *[dir="rtl"] .callout .chart-wrapper {
      left: 0;
      float: left; }
  *[dir="rtl"] .callout-default {
    border-right-color: #b0bec5; }
  *[dir="rtl"] .callout-primary {
    border-right-color: #20a8d8; }
  *[dir="rtl"] .callout-info {
    border-right-color: #63c2de; }
  *[dir="rtl"] .callout-warning {
    border-right-color: #f8cb00; }
  *[dir="rtl"] .callout-danger {
    border-right-color: #f86c6b; }
  *[dir="rtl"] .callout-success {
    border-right-color: #4dbd74; }

