<section>
  <div class="page-header">
    <h3>{{ (vm.cmts.length) ? 'All comment in this poll' : 'No one has commented'}}</h3>
    <div class="pull-right">
      <button class="btn btn-primary btn-sm" ng-click="vm.comment()"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="list-group">
    <a ng-repeat="cmt in vm.cmts" ui-sref="cmts.view({ cmtId: cmt._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cmt.created | date:'mediumDate'"></span>
        by
        <span ng-if="cmt.user" ng-bind="cmt.user.displayName"></span>
        <span ng-if="!cmt.user">Deleted User</span>
      </small>
      <h5 class="list-group-item-heading" ng-bind="cmt.body"></h5>
    </a>
  </div>
</section>
