<div class="row">
  <ul class="cmts">
    <li ng-repeat="cmt in vm.cmts | orderBy:'updated'">
      <small>
        Posted on
        <span ng-bind="cmt.created | date:'mediumDate'"></span>
        by
        <a ui-sref="users.info({userId: cmt.user._id})" ng-if="cmt.user" ng-bind="cmt.user.displayName"></a>
        <span ng-if="!cmt.user">Deleted User</span>
      </small>
      <p class="text-justify" ng-bind="cmt.body"></p>
      <div class="pull-right">
        <!-- <a href="" ng-show="cmt.user._id == vm.authentication.user._id" ng-click="vm.reply(cmt)"></a> -->
        <button data-animation="am-flip-x" bs-dropdown="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
      </div>
      <div class="clearfix"></div>
      <hr>
    </li>
  </ul>
</div>
