<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" ng-click="$hide()">
          <small><i class="fa fa-window-close-o" aria-hidden="true"></i></small>
        </button>
        <button type="button" ng-click="vm.comment_form_change_screen()">
          <small><i class="fa fa-window-maximize" aria-hidden="true"></i></small>
        </button>
        <h4 class="aside-title" ng-bind="title"></h4>
      </div>
      <div class="aside-body" ng-bind="content"></div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
