<div class="card" id="poll_chart_card" ng-if="vm.opts.length > 0">
  <canvas id="pie" class="chart-base"
    chart-data="vm.chart.data"
    chart-labels="vm.chart.labels"
    chart-options="vm.chart.options"
    chart-colors ="vm.chart.colors"
    chart-type ="vm.chart.type"
    ng-if="vm.votedTotal > 0">
  </canvas>
  <div class="mgt10"></div>
  <div ng-repeat="opt in vm.opts | orderBy: '-voteCnt'">
    <div class="opt_color pull-left" ng-style="{'background-color': opt.color}">
      <md-tooltip md-direction="bottom">{{opt.title + ':' + opt.voteCnt}}</md-tooltip>
    </div>
    <div class="progress">
      <md-tooltip md-direction="bottom">{{opt.title + ':' + opt.voteCnt}}</md-tooltip>
      <div ng-class="['progress-bar']" ng-class="bar.barClass" ng-style="{'width': opt.progressVal + '%', 'background-color': opt.color}">
        <span ng-if="opt.voteCnt > 0">{{opt.voteCnt + '/' + vm.votedTotal}}</span>
        <span class="text-black" ng-if="opt.voteCnt === 0">{{opt.voteCnt + '/' + vm.votedTotal}}</span>
      </div>
    </div>
  </div>
  <div class="form-group mg10t">
    <button ng-if="vm.votedTotal > 0" class="btn btn-success pull-right" ng-click="vm.toggle_chart()">Change chart</button>
  </div>
  <div class="clearfix"></div>
</div>