<div class="row">
  <ul class="cmts">
    <li ng-repeat="cmt in vm.cmts | orderBy: vm.cmt_sort">
      <div class="icon pull-left">
        <a ui-sref="users.info({userId: cmt.user._id})" ng-if="cmt.user">
          <img src="{{cmt.user.profileImageURL}}" alt="{{cmt.user.displayName}}">
        </a>
      </div>
      <small class="pull-left">
        <strong><a ui-sref="users.info({userId: cmt.user._id})" ng-if="cmt.user" ng-bind="cmt.user.displayName"></a></strong>
        <span ng-if="!cmt.user">Deleted User</span>
        <span>&nbsp;on&nbsp;</span>
        <span ng-bind="cmt.updated | date:'mediumDate'"></span>
        <span class="mg10l" ng-show="cmt.isEdited"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        <a href="#" bs-dropdown aria-haspopup="true" aria-expanded="false" class="mg10l">
          <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-show="(vm.authentication.user) && cmt.user._id !== vm.authentication.user._id"><a ng-click="vm.reply_cmt(cmt)"><i class="fa fa-reply"></i>&nbsp;Reply</a></li>
          <li ng-show="cmt.user._id === vm.authentication.user._id"><a ng-click="vm.edit_cmt(cmt)"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></li>
          <li ng-show="cmt.user._id === vm.authentication.user._id"><a ng-click="vm.delete_cmt(cmt)"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
        </ul>
        <span class="text-muted" ng-if="cmt.to">To:&nbsp;</span><a ui-sref="users.info({userId: cmt.to})" ng-bind="cmt.toName" ng-if="cmt.to"></a>
      </small>
      <br>
      <p class="text-justify" ng-bind="cmt.body"></p>
      <span class="pull-right" class="like_tools">
        <a class="like_btn" ng-click="vm.like_cmt(cmt)" ng-show="cmt.like.type == 1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
        <span class="like_btn" ng-click="vm.like_cmt(cmt)" ng-show="cmt.like.type != 1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
        <span class="mg5l mg5r" ng-bind="cmt.likeCnt"></span>
        <a class="like_btn" ng-click="vm.dislike_cmt(cmt)" ng-show="cmt.like.type == 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
        <span class="like_btn" ng-click="vm.dislike_cmt(cmt)" ng-show="cmt.like.type != 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
      </span>
      <div class="clearfix"></div>
      <hr>
    </li>
  </ul>
</div>
