<section class="container animated fadeIn mg6t mg50b" infinite-scroll="vm.get_polls()" infinite-scroll-distance='2'>
  <div class="row" ng-show="vm.is_has_new_polls">
    <div class="col-xs-12 pdn pd6l pd6r">
      <div class="notice notice-info">
        New poll has just been added, <a class="undecorated-link" ng-click="load_new()">load now</a>.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-push-3 pdn">
      <div ng-repeat="poll in vm.polls" class="card" id="{{::poll._id}}">
        <div ng-include="'/modules/core/client/views/templates/list-poll.client.template.html'"></div>
      </div>
      <!-- Loading indicator -->
      <div class="row" ng-show="vm.busy">
        <div class="loader"></div>
      </div>
      <div class="notice notice-warning" ng-show="vm.polls.length === 0 && vm.stopped">
        No polls yet, why don't you <a ui-sref="polls.create">create one</a>?
      </div>
    </div>
    <!-- RIGHT -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-lg-push-3 pdn d-sm-down-none">
      <!-- Activitys  -->
      <div class="card card-expand card-scroll" ng-if="isLogged">
        <div class="card-header">
          <strong class="card-title">Ticker</strong>
          <a class="undecorated-link card-expand-toggle pull-right text-muted"><i class="fa fa-caret-down"></i></a>
        </div>
        <div class="card-body">
          <div class="card-scroll-content">
            <div class="side-list-poll" ng-repeat="activity in Activitys.list | orderBy: '-time' track by $index">
              <div class="user-avatar pull-left">
                <img src="{{activity.profileImageURL}}" alt="{{activity.displayName}}">
              </div>
              <small><strong><a class="undecorated-link" ui-sref="profile.info({userId: activity.user})">{{::activity.displayName}}</a></strong></small>
              <small>{{::activity.action}}</small>
              <small><strong><a class="undecorated-link" ui-sref="polls.view({pollId: activity.poll })">{{::activity.title}}</a></strong></small>
              <div class="clearfix"></div>
              <hr class="mg5t mg5b">
            </div>
          </div>
        </div>
      </div>
      <!-- Popular poll -->
      <div class="card card-tab">
        <div class="card-header">
          <strong class="card-title">Popular polls</strong>
          <small class="card-link"><a class="undecorated-link" ui-sref="search({ sort: '-likeCnt' })">Search</a></small>
        </div>
        <div class="card-body pdnt">
          <uib-tabset justified="true">
            <uib-tab index="1" heading="Likes">
              <div class="side-list-poll" ng-repeat="poll in vm.populars.likes">
                <div class="user-avatar pull-left">
                  <a ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">
                  <img src="{{poll.user.profileImageURL}}" alt="{{poll.user.displayName}}">
                  </a>
                  <img ng-if="!poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
                </div>
                <div class="side-list-body">
                  <h4 class="side-list-title">
                    <a class="undecorated-link" ui-sref="polls.view({pollId: poll.slug})" ng-bind="poll.title" autoAdjust></a>
                  </h4>
                  <div class="side-list-entry">
                    <small am-time-ago="poll.created"></small>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr class="mg5t mg5b">
              </div>
            </uib-tab>
            <uib-tab index="2" heading="Votes">
              <div class="side-list-poll" ng-repeat="poll in vm.populars.votes">
                <div class="user-avatar pull-left">
                  <a ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">
                  <img src="{{::poll.user.profileImageURL}}" alt="{{::poll.user.displayName}}">
                  </a>
                  <img ng-if="!poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
                </div>
                <div class="side-list-body">
                  <h4 class="side-list-title">
                    <a class="undecorated-link" ui-sref="polls.view({pollId: poll.slug})" ng-bind="poll.title" autoAdjust></a>
                  </h4>
                  <div class="side-list-entry">
                    <small am-time-ago="poll.created"></small>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr class="mg5t mg5b">
              </div>
            </uib-tab>
            <uib-tab index="3" heading="Comments">
              <div class="side-list-poll" ng-repeat="poll in vm.populars.cmts">
                <div class="user-avatar pull-left">
                  <a ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">
                  <img src="{{::poll.user.profileImageURL}}" alt="{{::poll.user.displayName}}">
                  </a>
                  <img ng-if="!poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
                </div>
                <div class="side-list-body">
                  <h4 class="side-list-title">
                    <a class="undecorated-link" ui-sref="polls.view({pollId: poll.slug})" ng-bind="poll.title" autoAdjust></a>
                  </h4>
                  <div class="side-list-entry">
                    <small am-time-ago="poll.created"></small>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr class="mg5t mg5b">
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <!-- Popular tags -->
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Popular tags</strong>
          <small class="card-link"><a class="undecorated-link" ui-sref="tags.list">View all</a></small>
        </div>
        <div class="card-body">
          <ul class="tags">
            <li ng-repeat="tag in vm.tags"><a ui-sref="tags.polls({ tagId: tag.slug })" class="tag">{{::tag.name}}({{::tag.count}})</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- LEFT -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-pull-9 pdn d-sm-down-none">
      <!-- Category -->
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Categorys</strong>
          <small class="card-link"><a class="undecorated-link" ui-sref="categorys.list">View all</a></small>
        </div>
        <ul class="nav nav-list">
          <li ng-repeat="category in Categorys.list">
            <a class="undecorated-link" ui-sref="categorys.polls({ categoryId: category.slug })">
              <i ng-class="['fa', category.icon]"></i>&nbsp;{{::category.name}}
              <span class="badge-count pull-right" ng-bind="category.count"></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Bookmark -->
      <div class="card" ng-if="isLogged && vm.bookmarks.length > 0">
        <div class="card-header">
          <strong class="card-title">Bookmarks</strong>
          <small class="card-link"><a class="undecorated-link" ui-sref="profile.bookmarks({ userId: user.slug })">View all</a></small>
        </div>
        <div class="card-body">
          <div class="side-list-poll" ng-repeat="poll in vm.bookmarks">
            <div class="user-avatar pull-left">
              <a ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">
                <img src="{{::poll.user.profileImageURL}}" alt="{{::poll.user.displayName}}">
              </a>
              <img ng-if="!poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
            </div>
            <div class="side-list-body">
              <h4 class="side-list-title">
                <a class="undecorated-link" ui-sref="polls.view({pollId: poll.slug})" ng-bind="poll.title" autoAdjust></a>
              </h4>
              <div class="side-list-entry">
                <small am-time-ago="poll.created"></small>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr class="mg5t mg5b">
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

  <div class="quick-menu">
    <md-fab-speed-dial md-open="isOpen" md-direction="up" class="md-scale md-fab-bottom-left">
      <md-fab-trigger>
        <md-button md-colors="{background: 'blue'}" aria-label="menu" class="md-fab"><i class="fa fa-bars"></i></md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button aria-label="Search" class="md-fab md-raised" ng-click="q_search()"><i class="fa fa-search"></i>
          <md-tooltip md-direction="right">Search</md-tooltip>
        </md-button>
        <md-button aria-label="New Post" class="md-fab md-raised" ng-click="q_post_poll()"><i class="fa fa-pencil-square-o"></i>
          <md-tooltip md-direction="right">Type post</md-tooltip>
        </md-button>
        <md-button aria-label="Quick Poll" class="md-fab md-raised" ng-click="q_quick_poll()"><i class="fa fa-rocket"></i>
          <md-tooltip md-direction="right">Quick poll</md-tooltip>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</section>