<section class="container">
  <div class="row mg20t mg20b">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary pull-right">Create poll</button>
      <button type="button" class="btn btn-primary pull-right">Refresh</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 h500 card">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
      <div ng-repeat="poll in vm.polls" class="card">
        <div clas="poll-header">
          <div class="user-avatar pull-left">
            <img src="{{poll.user.profileImageURL}}" alt="{{poll.user.displayName}}">
          </div>
          <span class="pull-left">
            <strong><a ui-sref="users.info({userId: poll.user._id})" ng-if="poll.user" ng-bind="poll.user.displayName"></a></strong>
            <span ng-if="!poll.user">Deleted User</span>
            <span class="text-muted">&nbsp;created on</span>
            <span class="text-muted" ng-bind="poll.created | date:'mediumDate'"></span>
          </span>
          <span class="pull-right">
            <a href="#" bs-dropdown aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-show="(vm.authentication.user) && cmt.user._id !== vm.authentication.user._id"><a ng-click="vm.reply_cmt(cmt)"><i class="fa fa-reply"></i>&nbsp;Reply</a></li>
              <li ng-show="cmt.user._id === vm.authentication.user._id"><a ng-click="vm.edit_cmt(cmt)"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></li>
              <li ng-show="cmt.user._id === vm.authentication.user._id"><a ng-click="vm.delete_cmt(cmt)"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
            </ul>
          </span>
          <br>
          <span ng-if="poll.allow_guest" class="fa fa-globe"></span>
          <span ng-if="!poll.allow_guest" class="fa fa-users"></span>
          <hr class="mg10t mg10b">
          <div class="clearfix"></div>
        </div>
        <div clas="poll-body">
          <h4 class="poll_item_title"><a ui-sref="polls.view({ pollId: poll._id })">{{poll.title}}</a></h4>
          <p class="text-justify poll_item_body" ng-bind="poll.summary"></p>
          <p ng-show="poll.body.length > poll.summary.length" class="poll_item_body">...
            <a ui-sref="polls.view({ pollId: poll._id })">more</a>
          </p>
          <br>
          <strong><span>Option title 1</span></strong><tek-progress-bar bar-class="progress-bar-primary" ng-model="vm.progressVal">46%</tek-progress-bar>
          <strong><span>Option title 2</span></strong><tek-progress-bar bar-class="progress-bar-warning" ng-model="vm.progressVal2">{{vm.progressVal2 + '%'}}</tek-progress-bar>
          <strong><span>Option title 3</span></strong><tek-progress-bar bar-class="progress-bar-info" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 4</span></strong><tek-progress-bar bar-class="progress-bar-success" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 5</span></strong><tek-progress-bar bar-class="progress-bar-danger" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 6</span></strong><tek-progress-bar bar-class="progress-bar-color-1" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 7</span></strong><tek-progress-bar bar-class="progress-bar-color-2" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 8</span></strong><tek-progress-bar bar-class="progress-bar-color-3" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 9</span></strong><tek-progress-bar bar-class="progress-bar-color-4" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 10</span></strong><tek-progress-bar bar-class="progress-bar-color-5" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 11</span></strong><tek-progress-bar bar-class="progress-bar-color-6" ng-model="vm.progressVal">35%</tek-progress-bar>
          <strong><span>Option title 12</span></strong><tek-progress-bar bar-class="progress-bar-color-7" ng-model="vm.progressVal">35%</tek-progress-bar>
          <hr class="mg10t mg10b">
          <div class="clearfix"></div>
        </div>
        <div clas="poll-footer">
          <p class="poll_item_info">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <strong> Votes: </strong>{{poll.voteCnt}}
          </p>
          <p class="poll_item_info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <strong> Views: </strong>{{poll.viewCnt}}
          </p>
          <p class="poll_item_info">
            <i class="fa fa-commenting" aria-hidden="true"></i>
            <strong> Comments: </strong>{{poll.cmtCnt}}
          </p>
        </div>
        <!--<p class="poll_item_info">
          <i class="fa fa-user" aria-hidden="true"></i>
          <strong> Added by: </strong>
          <span ng-if="poll.user" ng-bind="poll.user.displayName"></span>
          <span ng-if="!poll.user">Deleted User</span>
        </p>-->
      </div>
      <div class="alert alert-warning text-center" ng-if="vm.polls.$resolved && !vm.polls.length">
        No Polls yet, why don't you <a ui-sref="polls.create">create one</a>?
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 h500 card"></div>
    <div class="clearfix"></div>
  </div>
</section>