<div class="card" ng-if="ctrl.opts.length > 0">
  <div class="card-header">
    <strong class="card-title">{{:: 'LB_POLL_CHART_PANEL' | translate }}</strong>
    <a class="card-link font-sm" ui-sref="polls.report({ pollId: ctrl.poll.slug })" target="_blank">{{:: 'LB_POLL_CHART_REPORT' | translate }}</a>
  </div>
  <div class="card-body">
    <canvas id="pie" class="chart-base" chart-data="ctrl.chart.data" chart-labels="ctrl.chart.labels"
      chart-options="ctrl.chart.options" chart-colors="ctrl.chart.colors" chart-type="ctrl.chart.type" ng-if="ctrl.votedTotal > 0">
    </canvas>

    <!-- Danh sách options -->
    <ul class="horizontal-bars type-2">
      <li ng-repeat="opt in ctrl.opts | orderBy: '-voteCnt'">
        <!--<i class="icon-chart"></i>-->
        <div class="detail">
          <p class="title" ng-bind="opt.title" ng-mouseenter="ctrl.handleMouseEnterOption(opt)" ng-click="ctrl.handleMouseClickOption(opt) && $event.stopPropagation();"
            ng-mouseleave="ctrl.handleMouseLeaveOption(opt)" uib-popover-template="'optionUsersTemplate'" popover-trigger="mouseenter"
            popover-popup-delay="500" popover-placement="top-left" popover-class="black-popover">
          </p>
          <span class="value">
            <span>{{ opt.voteCnt | shortNumber }}</span>
            <span>/</span>
            <span>{{ poll.votedTotal | shortNumber }}</span>
            <span class="text-muted small">({{ opt.progressVal }}%)</span>
          </span>
        </div>
        <div class="bars">
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-animated" ng-style="{'width': opt.progressVal + '%', 'background-color': opt.color}"
              aria-valuenow="{{ opt.progressVal }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-group mg10t">
      <button ng-if="ctrl.votedTotal > 0" class="btn btn-primary pull-right" ng-click="ctrl.toggle_chart()">{{:: 'LB_POLL_CHART_CHANGE' | translate }}</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<script type="text/ng-template" id="optionUsersTemplate">
  <div class="form-group">
    <p class="mgn" ng-repeat="user in opt.users | limitTo: 10">{{:: user.displayName }}</p>
    <p class="mgn" ng-if="opt.voteCollect.users && opt.voteCollect.users > 10">
      <span>{{:: 'LB_AND' | translate }}</span>
      <span>{{:: opt.voteCollect.users - 10 | shortNumber }}</span>
      <span>{{:: 'LB_MORE' | translate }}</span>
    </p>
    <p class="mgn" ng-if="opt.voteCollect.guest && opt.voteCollect.guest > 0">
      <span ng-if="opt.voteCollect.users && opt.voteCollect.users > 0">{{:: 'LB_AND' | translate }}</span>
      <span>{{:: opt.voteCollect.guest | shortNumber }}</span>
      <span>{{:: 'LB_GUEST' | translate }}</span>
    </p>
  </div>
</script>