<div class="card d-sm-down-none">
  <div class="card-header">
    <strong class="card-title"> COMMENTS ({{ctrl.poll.cmtCnt}})</strong>
  </div>
  <div class="card-body">
    <div class="cmt_form" ng-if="isLogged">
      <div class="form-group mg5b">
        <span ng-if="ctrl.tmp_cmt.to">@</span>
        <a ng-if="ctrl.tmp_cmt.to" ui-sref="profile.info({userId: ctrl.tmp_cmt.toSlug})" ng-bind="ctrl.tmp_cmt.toName"></a>
      </div>
      <div class="form-group">
        <div class="user-avatar pull-left" ng-if="isLogged">
          <a ui-sref="profile.info({userId: user.slug})"><img src="{{user.profileImageURL}}" alt="{{user.displayName}}"></a>
        </div>
        <textarea ng-is-enter="{{ctrl.enter_send}}" ng-enter="ctrl.save_cmt()" focus-me="{{ctrl.cmt_typing}}" class="msd-elastic: \n; reply-input"
          data-ng-model="ctrl.tmp_cmt.body" placeholder="Type your comment..."></textarea>
      </div>
      <label class="text-muted"><input type="checkbox" ng-model="ctrl.enter_send"><small>&nbsp;Enter to send</small></label>
      <span class="pull-right">
        <a ng-hide="ctrl.enter_send" ng-click="ctrl.save_cmt()">Send</a>
        <a class="mg20l" ng-click="ctrl.discard_cmt()" ng-if="ctrl.tmp_cmt.discard">Discard</a>
      </span>
      <hr class="mg10t mg10b" />
    </div>

    <div class="cmt_sort" ng-if="ctrl.cmts.length > 0">
      <small class="pull-right">Sort:
      <md-menu md-offset="-12 25" md-position-mode="target-right target">
        <a ng-click="$mdMenu.open($event)" aria-label="Open sort menu">
          {{ctrl.cmt_sort.name}}<i class="fa fa-angle-down"></i>
        </a>
        <md-menu-content>
          <ul class="menu-list">
            <li ng-repeat="cmt_sort in ctrl.cmt_sorts">
              <a ng-click="ctrl.sort($index)">{{cmt_sort.name}}</a>
            </li>
          </ul>
        </md-menu-content>
      </md-menu>
      </small>
      <div class="clearfix h30"></div>
    </div>

    <div class="cmt_list" ng-repeat="cmt in ctrl.cmts | orderBy: cmt_sort.val">
      <div class="user-avatar pull-left">
        <a ng-if="cmt.user" ui-sref="profile.info({userId: cmt.user.slug})">
        <img src="{{cmt.user.profileImageURL}}" alt="{{cmt.user.displayName}}">
      </a>
        <img ng-if="!cmt.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
      </div>
      <span class="pull-left">
        <strong><a ui-sref="profile.info({userId: cmt.user.slug})" ng-if="cmt.user" ng-bind="cmt.user.displayName"></a></strong>
        <span ng-if="!cmt.user">Deleted User</span>
        <small class="text-muted" am-time-ago="cmt.created"></small>
        <a ng-if="cmt.to">@{{cmt.toName}}</a>
        <span ng-show="cmt.isEdited" class="fa fa-pencil-square-o"><md-tooltip md-direction="bottom">{{cmt.updated | date:'mediumDate'}}</md-tooltip>
        </span>
      </span>
      <span class="pull-right">
        <md-menu md-offset="-20 25" md-position-mode="target-right target">
          <a class="span-link" ng-click="$mdMenu.open($event)" aria-label="Open comment menu">
            <i class="fa fa-angle-down"></i>
          </a>
          <md-menu-content>
            <ul class="menu-list">
              <li ng-if="isLogged && cmt.user._id !== user._id"><a ng-click="ctrl.reply_cmt(cmt)"><i class="fa fa-reply"></i>&nbsp;Reply</a></li>
              <li ng-if="cmt.user._id === user._id"><a ng-click="ctrl.edit_cmt(cmt)"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></li>
              <li ng-if="cmt.user._id === user._id"><a ng-click="ctrl.delete_cmt(cmt)"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
            </ul>
          </md-menu-content>
        </md-menu>
      </span>
      <br>
      <p class="text-justify" ng-bind-html="cmt.body | nl2br"></p>
      <small class="like_tools pull-right">
        <a ng-click="ctrl.like_cmt(cmt, 1)" ng-show="cmt.like.type == 1"><i class="fa fa-thumbs-o-up"></i>&nbsp;Like</a>
        <span class="span_btn" ng-click="ctrl.like_cmt(cmt, 1)" ng-show="cmt.like.type != 1"><i class="fa fa-thumbs-o-up"></i>&nbsp;Like</span>
        <span class="mg5l mg5r highlight-text" ng-bind="cmt.likeCnt"></span>
        <a ng-click="ctrl.like_cmt(cmt, 2)" ng-show="cmt.like.type == 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Dislike</a>
        <span class="span_btn" ng-click="ctrl.like_cmt(cmt, 2)" ng-show="cmt.like.type != 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Dislike</span>
      </small>
      <div class="clearfix"></div>
      <hr class="mg12y">
    </div>
    <div class="row text-center" ng-if="!ctrl.stopped">
      <a ng-click="ctrl.get_cmts()">Load more</a>
    </div>
    <!-- Load indicator -->
    <div class="row text-center" ng-show="ctrl.busy"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></div>
  </div>
</div>
<div class="card d-md-none card-expand">
  <div class="card-header pd12b">
    <strong class="card-title"> COMMENTS ({{ctrl.poll.cmtCnt}})</strong>
    <a class="card-expand-toggle pull-right text-muted"><i class="fa fa-caret-down"></i></a>
  </div>
  <div class="card-body">
    <div class="cmt_form" ng-if="isLogged">
      <div class="form-group mg5b">
        <span ng-if="ctrl.tmp_cmt.to">@</span>
        <a ng-if="ctrl.tmp_cmt.to" ui-sref="profile.info({userId: ctrl.tmp_cmt.toSlug})" ng-bind="ctrl.tmp_cmt.toName"></a>
      </div>
      <div class="form-group">
        <div class="user-avatar pull-left" ng-if="isLogged">
          <a ui-sref="profile.info({userId: user.slug})"><img src="{{user.profileImageURL}}" alt="{{user.displayName}}"></a>
        </div>
        <textarea ng-is-enter="{{ctrl.enter_send}}" ng-enter="ctrl.save_cmt()" focus-me="{{ctrl.cmt_typing}}" class="msd-elastic: \n; reply-input"
          data-ng-model="ctrl.tmp_cmt.body" placeholder="Type your comment..."></textarea>
      </div>
      <label class="text-muted"><input type="checkbox" ng-model="ctrl.enter_send"><small>&nbsp;Enter to send</small></label>
      <span class="pull-right">
        <a ng-hide="ctrl.enter_send" ng-click="ctrl.save_cmt()">Send</a>
        <a class="mg20l" ng-click="ctrl.discard_cmt()" ng-if="ctrl.tmp_cmt.discard">Discard</a>
      </span>
      <hr class="mg10t mg10b" />
    </div>

    <div class="cmt_sort" ng-if="ctrl.cmts.length > 0">
      <small class="pull-right">Sort:
      <md-menu md-offset="-12 25" md-position-mode="target-right target">
        <a ng-click="$mdMenu.open($event)" aria-label="Open sort menu">
          {{ctrl.cmt_sort.name}}<i class="fa fa-angle-down"></i>
        </a>
        <md-menu-content>
          <ul class="menu-list">
            <li ng-repeat="cmt_sort in ctrl.cmt_sorts">
              <a ng-click="ctrl.sort($index)">{{cmt_sort.name}}</a>
            </li>
          </ul>
        </md-menu-content>
      </md-menu>
      </small>
      <div class="clearfix h30"></div>
    </div>

    <div class="cmt_list" ng-repeat="cmt in ctrl.cmts">
      <div class="user-avatar pull-left">
        <a ng-if="cmt.user" ui-sref="profile.info({userId: cmt.user.slug})"><img src="{{cmt.user.profileImageURL}}" alt="{{cmt.user.displayName}}"></a>
        <img ng-if="!cmt.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
      </div>
      <span class="pull-left">
        <strong><a ui-sref="profile.info({userId: cmt.user.slug})" ng-if="cmt.user" ng-bind="cmt.user.displayName"></a></strong>
        <span ng-if="!cmt.user">Deleted User</span>
        <small class="text-muted" am-time-ago="cmt.created"></small>
        <a ng-if="cmt.to">@{{cmt.toName}}</a>
        <span ng-show="cmt.isEdited" class="fa fa-pencil-square-o">
          <md-tooltip md-direction="bottom">{{cmt.updated | date:'mediumDate'}}</md-tooltip>
        </span>
      </span>
      <span class="pull-right">
        <md-menu md-offset="-20 25" md-position-mode="target-right target">
          <a class="span-link" ng-click="$mdMenu.open($event)" aria-label="Open comment menu">
            <i class="fa fa-angle-down"></i>
          </a>
          <md-menu-content>
            <ul class="menu-list">
              <li ng-if="isLogged && cmt.user._id !== user._id"><a ng-click="ctrl.reply_cmt(cmt)"><i class="fa fa-reply"></i>&nbsp;Reply</a></li>
              <li ng-if="cmt.user._id === user._id"><a ng-click="ctrl.edit_cmt(cmt)"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></li>
              <li ng-if="cmt.user._id === user._id"><a ng-click="ctrl.delete_cmt(cmt)"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
            </ul>
          </md-menu-content>
        </md-menu>
      </span>
      <br>
      <p class="text-justify" ng-bind-html="cmt.body | nl2br"></p>
      <small class="like_tools pull-right">
        <a ng-click="ctrl.like_cmt(cmt, 1)" ng-show="cmt.like.type == 1"><i class="fa fa-thumbs-o-up"></i>&nbsp;Like</a>
        <span class="span_btn" ng-click="ctrl.like_cmt(cmt, 1)" ng-show="cmt.like.type != 1"><i class="fa fa-thumbs-o-up"></i>&nbsp;Like</span>
        <span class="mg5l mg5r highlight-text" ng-bind="cmt.likeCnt"></span>
        <a ng-click="ctrl.like_cmt(cmt, 2)" ng-show="cmt.like.type == 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Dislike</a>
        <span class="span_btn" ng-click="ctrl.like_cmt(cmt, 2)" ng-show="cmt.like.type != 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Dislike</span>
      </small>
      <div class="clearfix"></div>
      <hr class="mg12y">
    </div>
    <div class="row text-center" ng-if="!ctrl.stopped">
      <a ng-click="ctrl.get_cmts()">Load more</a>
    </div>
    <!-- Load indicator -->
    <div class="row text-center" ng-show="ctrl.busy"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></div>
  </div>
</div>