<span class="text-muted" ng-if="!vm.opts.length || vm.opts.length === 0"><small>No option yet</small></span>
<a class="undecorated-link" ng-if="poll.opts.length === 0 && poll.allow_add" ng-click="vm.input_opt()"><small>, why don't add some option</small></a>
<div ng-repeat="opt in vm.opts | orderBy: '-voteCnt'">
  <div class="opt_image pull-left">
    <img src="{{opt.image}}" alt="{{opt.title}}">
  </div>
  <strong><a class="undecorated-link" href="" ng-bind="opt.title"></a></strong>
  <div class="progress">
    <div ng-class="['progress-bar']" ng-class="bar.barClass" ng-style="{'width': opt.progressVal + '%', 'background-color': opt.color}">
      <span ng-if="opt.voteCnt > 0">{{opt.voteCnt + '/' + vm.votedTotal}}</span>
      <span class="text-black" ng-if="opt.voteCnt === 0">{{opt.voteCnt + '/' + vm.votedTotal}}</span>
    </div>
  </div>
</div>

<!--<ul class="opts">
  <li ng-repeat="opt in vm.opts | orderBy: '-voteCnt'">
    
      
    </div>
    <span ng-bind="opt.title"></span>
    <span> ({{opt.voteCnt}}/{{vm.votedTotal}})</span>
    <progressbar max="vm.votedTotal" value="opt.voteCnt"></progressbar>
    <div class="clearfix"></div>
  </li>
</ul>-->



<!--<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pdnl pdnr">
    <div class="form-group" ng-if="vm.opts.length">
      <label ng-repeat="opt in vm.opts">
        <input type="checkbox" value="{{opt._id}}" ng-click="vm.checked(opt._id)" ng-checked="vm.is_voted(opt._id)"> {{opt.title}}
      </label>
    </div>
    <div class="form-group" ng-if="vm.opts.length">
      <button class="btn btn-primary btn-sm" ng-click="vm.save_vote()">{{(vm.ownVote._id) ? 'Change vote' : 'Vote'}}</button>
      <p class="text-muted" ng-hide="vm.ownVote._id">You have not voted for this poll.</p>
      <p class="text-muted" ng-show="vm.ownVote._id">You have voted for: <strong><span ng-repeat="title in vm.voted_title()">{{title + ' '}}</span></strong></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pdnl pdnr">
  </div>
  <div class="clearfix"></div>
  <hr>
</div>-->