<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <button type="button" class="close" ng-click="aside_full_screen()">
        </button>
        <h4 class="aside-title" ng-bind="title"></h4>
      </div>
      <div class="aside-body">
        <div class="col-xs-12">
          <form name="vm.form.optForm" class="form-horizontal" novalidate>
            <fieldset>
              <div class="form-group">
              <md-menu md-offset="100 50">
                <button class="btn-poll-color" ng-click="$mdMenu.open($event)" ng-style="{'background-color': (vm.tmp_opt.color) ? vm.tmp_opt.color : '#ccc'}">
                  {{(vm.tmp_opt.color) ? vm.tmp_opt.color : Option's color}}</button>
                <md-menu-content>
                  <material-picker format="'hex'" ng-model="vm.tmp_opt.color" size="15"></material-picker>
                </md-menu-content>
              </md-menu>

                
                <div class="opt-color-preview" ng-style="{'background-color': vm.tmp_opt.color}"></div>
                
              </div>
              <div class="clearfix"></div>
              <!-- Title -->
              <div class="form-group" show-errors>
                <input name="title" type="text" ng-model="vm.tmp_opt.title" class="form-control" placeholder="Title" required>
                <div ng-messages="vm.form.optForm.title.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Opt title is required.</p>
                </div>
              </div>
              <!-- Body -->
              <div class="form-group">
                <text-angular ng-model="vm.tmp_opt.body"></text-angular>
                <!--<textarea class="msd-elastic: \n; opt-body-input" data-ng-model="vm.tmp_opt.body" placeholder="Enter your option body here..."></textarea>-->
              </div>
            </fieldset>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="vm.save_opt(vm.form.optForm.$valid)">Save</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
