<div class="card mgn">
  <div class="card-header pd12y">
    <a ng-click="ctrl.save_opt(ctrl.form.optForm.$valid)">Save</a>
    <a class="undecorated-link mg10l aside-panel-toggle">Discard</a>
    <md-menu md-offset="0 30">
      <a ng-click="$mdMenu.open($event)" class="undecorated-link card-link" aria-label="Color" href="#">
        <i class="fa fa-square" ng-style="{'color': ctrl.tmp_opt.color || '#ccc' }"></i> Option's color
      </a>
      <md-menu-content>
        <material-picker format="'hex'" ng-model="ctrl.tmp_opt.color" size="15"></material-picker>
      </md-menu-content>
    </md-menu>
    <div class="clearfix"></div>
  </div>
  <hr class="mgn">
  <div class="card-body" ng-init="isHideOptBody = true;">
    <div class="col-xs-12">
      <form name="ctrl.form.optForm" ng-submit="ctrl.save_opt(ctrl.form.optForm.$valid)" class="form-horizontal" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <input type="hidden" name="color" ng-model="ctrl.tmp_opt.color" required>
            <div ng-messages="ctrl.form.optForm.color.$error" role="alert">
              <p class="help-block error-text" ng-message="required">You must select color for option</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="form-group" show-errors>
            <input name="title" type="text" ng-model="ctrl.tmp_opt.title" class="form-control" placeholder="Title" required>
            <div ng-messages="ctrl.form.optForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Opt title is required.</p>
            </div>
          </div>
          <div class="form-group">
            <a class="undecorated-link pull-right" id="aside-panel-full-toggle" ng-click="isHideOptBody = !isHideOptBody; ctrl.opt_full()" >
              See full
              <i class="fa fa-caret-up"></i>
            </a>
            <div class="clearfix"></div>
          </div>
          <div class="form-group" uib-collapse="isHideOptBody">
            <text-angular ng-model="ctrl.tmp_opt.body"></text-angular>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>