<div class="card">
  <div class="card-header">
    <a ng-click="vm.save(vm.form.pollForm.$valid)">{{:: 'LB_POST' | translate }}</a>
    <a class="mg10l" ng-click="vm.discard()">{{:: 'LB_DISCARD' | translate}}</a>
    <div uib-dropdown class="card-link">
      <a ng-class="{ 'text-shake': !vm.poll.isPublic }" uib-dropdown-toggle href="#"><i class="fa fa-lock"></i> {{:: 'LB_POLL_OPTION' | translate}}</a>
      <ul class="uib-dropdown-menu dropdown-menu-right dropdown-menu-flat" role="menu">
        <li>
          <md-checkbox class="md-primary" ng-model="vm.poll.isPublic">{{:: 'LB_PUBLIC' | translate}}</md-checkbox>
        </li>
        <li>
          <md-checkbox class="md-primary" ng-model="vm.poll.allow_guest">{{:: 'LB_POLL_ALLOW_GUEST' | translate}}</md-checkbox>
        </li>
        <li>
          <md-checkbox class="md-primary" ng-model="vm.poll.allow_multiple">{{:: 'LB_POLL_MULTIPLE' | translate}}</md-checkbox>
        </li>
        <li>
          <md-checkbox class="md-primary" ng-model="vm.poll.allow_add">{{:: 'LB_POLL_SUGGEST' | translate}}</md-checkbox>
        </li>
      </ul>
    </div>

    <!-- <md-menu md-position-mode="target-right target" md-offset="10 30">
      <a class="card-link" ng-class="{ 'text-shake': !vm.poll.isPublic }" ng-click="$mdMenu.open($event)"><i class="fa fa-lock"></i> {{:: 'LB_POLL_OPTION' | translate}}</a>
      <md-menu-content>
        <ul class="menu-list">
          <li class="pdn text-right">
            <a class="pull-right" ng-click="$mdMenu.close()"><i class="fa fa-times"></i></a>
          </li>
          <li class="mgn pdn">
            <md-checkbox class="md-primary" ng-model="vm.poll.isPublic">{{:: 'LB_PUBLIC' | translate}}</md-checkbox>
          </li>
          <li class="mgn pdn">
            <md-checkbox class="md-primary" ng-model="vm.poll.allow_guest">{{:: 'LB_POLL_ALLOW_GUEST' | translate}}</md-checkbox>
          </li>
          <li class="mgn pdn">
            <md-checkbox class="md-primary" ng-model="vm.poll.allow_multiple">{{:: 'LB_POLL_MULTIPLE' | translate}}</md-checkbox>
          </li>
          <li class="mgn pdn">
            <md-checkbox class="md-primary" ng-model="vm.poll.allow_add">{{:: 'LB_POLL_SUGGEST' | translate}}</md-checkbox>
          </li>
        </ul>
      </md-menu-content>
    </md-menu> -->
  </div>
  <hr class="mgn">
  <div class="card-body mgnb">
    <form name="vm.form.pollForm" ng-submit="vm.save(vm.form.pollForm.$valid)" novalidate autocomplete="off">
      <div class="form-group mg6b">
        <p class="font-sm text-danger mgnb" ng-bind="vm.message"></p>
      </div>
      <div class="form-group mg6b" show-errors>
        <select tabindex="1" name="category" class="form-control" ng-model="vm.poll.category" required>
          <option ng-repeat="ctgr in vm.categorys" value="{{ctgr._id}}">{{ctgr.name}}</option>
        </select>
        <div ng-messages="vm.form.pollForm.category.$error" role="alert">
          <p class="help-block error-text font-sm" ng-message="required">{{:: 'LB_CATEGORY_REQUIRE' | translate}}</p>
        </div>
      </div>
      <!-- Title -->
      <div class="form-group mg6b" show-errors>
        <input tabindex="2" focus-me="true" type="text" class="form-control" name="title" ng-model="vm.poll.title" placeholder="{{:: 'LB_POLL_TITLE_PLACE' | translate }}"
          required/>
        <div ng-messages="vm.form.pollForm.title.$error" role="alert">
          <p class="help-block error-text font-sm" ng-message="required">{{:: 'LB_POLL_TITLE_REQUIRE' | translate }}</p>
        </div>
      </div>
      <!-- Body -->
      <div class="form-group mg6b" show-errors>
        <text-angular ta-toolbar="''" tabIndex="3" name="body" ng-model="vm.poll.body" placeholder="{{:: 'LB_QUICK_BODY_PLACE' | translate }}"
          required ta-text-editor-class="form-control quick-body" ta-html-editor-class="form-control quick-body"></text-angular>
        <div ng-messages="vm.form.pollForm.body.$error" role="alert">
          <p class="help-block error-text font-sm" ng-message="required">{{:: 'LB_QUICK_BODY_REQUIRE' | translate }}</p>
        </div>
      </div>
      <div class="form-group mg6b">
        <table class="w100p">
          <tr ng-repeat="opt in vm.poll.opts track by $index">
            <td class="text-left w20">
              <!--md-offset="0 30"-->
              <md-menu md-position-mode="target-left target" md-offset="15 -160">
                <a ng-click="$mdMenu.open($event)" aria-label="Color" href="#">
                  <i class="fa fa-square" ng-style="{'color': opt.color }"></i>
                </a>
                <md-menu-content>
                  <p class="text-right">
                    <a class="pull-right" ng-click="$mdMenu.close()"><i class="fa fa-times"></i></a>
                  </p>
                  <div class="clearfix"></div>
                  <material-picker format="'hex'" ng-model="opt.color" size="12"></material-picker>
                </md-menu-content>
              </md-menu>
            </td>
            <td><input tabindex="{{ 4 + $index }}" type="text" class="form-control input-sm" ng-model="opt.title" placeholder="{{:: 'LB_QUICK_OPT_PLACE' | translate }}"></td>
            <td class="text-right w20"><a ng-click="vm.remove(opt)">&#8722;</a></td>
          </tr>
        </table>
      </div>
      <div class="form-group mgnb">
        <a ng-click="vm.add()" class="pull-right font-lg"><i class="icon-plus"></i></a>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
  <hr class="mgn">
  <div class="card-footer">
    <a class="pull-right" ng-click="vm.write_as_post()" tooltip-placement="bottom" uib-tooltip="{{:: 'LB_WRITE_MORE_TOOLTIP' | translate }}">
      <i class="fa fa-pencil-square-o"></i> {{:: 'LB_WRITE_MORE' | translate }}
      <!--<md-tooltip md-z-index="10002" class="d-sm-down-none" md-direction="bottom">{{:: 'LB_WRITE_MORE_TOOLTIP' | translate }}</md-tooltip>-->
    </a>
  </div>
</div>