<section class="container animated fadeIn mg6t mg50b">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{:: vm.poll.title}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="card mgn">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="btn-group btn-group-justified">
                <a class="btn btn-primary btn-sm" ng-click="vm.handleChangeChartMode(1)" ng-disable="vm.chartMode === 1">{{:: 'LB_YEAR' | translate }}</a>
                <a class="btn btn-primary btn-sm" ng-click="vm.handleChangeChartMode(2)" ng-disable="vm.chartMode === 2">{{:: 'LB_MONTH' | translate }}</a>
                <a class="btn btn-primary btn-sm" ng-click="vm.handleChangeChartMode(3)" ng-disable="vm.chartMode === 3">{{:: 'LB_DATE' | translate }}</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="form-group mgnb">
                <select ng-model="vm.timezone" class="form-control input-sm" ng-change="vm.handleChangeDate()">
                  <option value="utc">{{:: 'LB_POLL_CHART_UTC' | translate }}</option>
                  <option value="language">{{:: 'LB_POLL_CHART_LANG' | translate }}</option>
                  <option value="local">{{:: 'LB_POLL_CHART_LOCAL' | translate }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="form-group mgnb">
                <select ng-options="year as year for year in vm.years" ng-model="vm.year" class="form-control input-sm" ng-change="vm.handleChangeYear()"></select>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="form-group mgnb" ng-show="vm.chartMode != 1">
                <select ng-options="month as month for month in vm.months" ng-model="vm.month" class="form-control input-sm" ng-change="vm.handleChangeMonth()"></select>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="form-group mgnb" ng-show="vm.chartMode === 3">
                <select ng-options="date as date for date in vm.dates" ng-model="vm.date" class="form-control input-sm" ng-change="vm.handleChangeDate()"></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="card mgn mg12t">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_CHART_LINE_TITLE' | translate }} {{ vm.year }}</strong>
        </div>
        <hr class="mgn">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12">
              <canvas id="line" class="chart chart-line" chart-data="vm.lineChart.data" chart-labels="vm.lineChart.labels" chart-series="vm.lineChart.series"
                chart-options="vm.lineChart.option" chart-colors="vm.lineChart.colors"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="card mgn mg12t">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_CHART_BAR_TITLE' | translate }} {{ vm.year }}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12">
              <canvas id="bar" class="chart chart-bar" chart-data="vm.barChart.data" chart-labels="vm.barChart.labels" chart-series="vm.barChart.series"
                chart-options="vm.barChart.option" chart-colors="vm.lineChart.colors"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>