<section class="container animated fadeIn mg6t mg50b">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{:: ctrl.poll.title}}</h2>
    </div>
  </div>
  <!-- Báo cáo thông số -->
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <td>Ngày bắt đầu: </td>
          <td>{{ ctrl.startDate.clone().local().format('LLL') }}</td>
          <td>{{ ctrl.startDate.format('LLL') }}</td>
        </tr>
        <tr>
          <td>Ngày kết thúc: </td>
          <td>{{ ctrl.endDate.clone().local().format('LLL') }}</td>
          <td>{{ ctrl.endDate.format('LLL') }}</td>
        </tr>
        <tr>
          <td>Danh sách năm: </td>
          <td colspan="2" ng-bind="ctrl.years"></td>
        </tr>
        <tr>
          <td>Danh sách tháng: </td>
          <td colspan="2" ng-bind="ctrl.months"></td>
        </tr>
        <tr>
          <td>Số tuần: </td>
          <td colspan="2" ng-bind="ctrl.weekCnt"></td>
        </tr>
      </table>
      <!--<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
      </canvas>-->
    </div>
  </div>
</section>