<section class="container animated fadeIn mg6t mg50b">
  <div class="row">
    <div class="col-xs-12 pdn">
      <div class="card">
        <div class="card-header">
          <strong class="card-title"><i class="fa fa-search"></i> {{:: 'LB_SEARCH_TOOL' | translate }}</strong>
        </div>
        <hr class="mgn">
        <div class="card-body">
          <form name="vm.form.searchForm" class="form-horizontal" novalidate>
            <div class="form-group">
              <div class="col-md-12">
                <label>{{:: 'LB_SEARCH_KEY' | translate }}</label>
                <input type="text" class="form-control" placeholder="{{:: 'LB_SEARCH_KEY' | translate }}..." ng-model="vm.condition.key">
              </div>
            </div>
            <uib-accordion close-others="true" ng-init="openAdvance = false;">
              <uib-accordion-group panel-class="custom-panel public" is-open="openAdvance">
                <uib-accordion-heading>
                  <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openAdvance}"></i> {{:: 'LB_ADVANCE_SEARCH' | translate }}
                </uib-accordion-heading>
                <div class="form-group">
                  <div class="col-sm-12">
                    <label for="sort">{{:: 'LB_SEARCH_SORT_BY' | translate }}</label>
                    <select id="sort" name="sort" class="form-control input-sm" ng-model="vm.condition.sort">
                      <option value>{{:: 'LB_SEARCH_NOT_SET' | translate }}</option>
                      <option value="-created">{{:: 'LB_SEARCH_SORT_NEWEST' | translate }}</option>
                      <option value="created">{{:: 'LB_SEARCH_SORT_OLDEST' | translate }}</option>
                      <option value="-likeCnt">{{:: 'LB_SEARCH_SORT_MOST_LIKE' | translate }}</option>
                      <option value="likeCnt">{{:: 'LB_SEARCH_SORT_LEAST_LIKE' | translate }}</option>
                      <option value="-cmtCnt">{{:: 'LB_SEARCH_SORT_MOST_CMT' | translate }}</option>
                      <option value="cmtCnt">{{:: 'LB_SEARCH_SORT_LEAST_CMT' | translate }}</option>
                      <option value="-voteCnt">{{:: 'LB_SEARCH_SORT_MOST_VOTE' | translate }}</option>
                      <option value="voteCnt">{{:: 'LB_SEARCH_SORT_LEAST_VOTE' | translate }}</option>
                      <option value="-viewCnt">{{:: 'LB_SEARCH_SORT_MOST_VIEW' | translate }}</option>
                      <option value="viewCnt">{{:: 'LB_SEARCH_SORT_LEAST_VIEW' | translate }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Status -->
                  <div class="col-sm-6">
                    <label for="status">{{:: 'LB_SEARCH_STATUS' | translate }}</label>
                    <select id="status" name="status" class="form-control input-sm" ng-model="vm.condition.status">
						        	<option value>{{:: 'LB_SEARCH_STATUS_ALL' | translate }}</option>
						        	<option value="opening">{{:: 'LB_SEARCH_STATUS_OPENING' | translate }}</option>
						        	<option value="closed">{{:: 'LB_SEARCH_STATUS_CLOSED' | translate }}</option>
						        </select>
                  </div>
                  <!-- User -->
                  <div class="col-sm-6">
                    <label>{{:: 'LB_SEARCH_POST_BY' | translate }}</label>
                    <input name="by" type="hidden" class="form-control" ng-model="vm.condition.by">
                    <angucomplete-alt placeholder="{{:: 'LB_SEARCH_POST_BY_USER' | translate }}" pause="300" selected-object="vm.selectedUserFn"
                      initial-value="selectedUser" remote-url="/api/users/search?s=" remote-url-data-field="users" title-field="displayName"
                      description-field="email" image-field="profileImageURL" minlength="1" input-class="form-control input-sm"
                      match-class="highlight" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-6">
                    <!-- Category -->
                    <label>{{:: 'LB_CATEGORY' | translate }}</label>
                    <select id="ctgr" name="ctgr" class="form-control input-sm" ng-model="vm.condition.ctgr">
                      <option value>{{:: 'LB_SEARCH_STATUS_ALL' | translate }}</option>
                      <option ng-repeat="category in Categorys.list" value="{{category._id}}" ng-selected="category._id.toString() === vm.condition.ctgr.toString()">{{:: category.name}} ({{:: category.count}})</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-sm-12 pdn"><label>{{:: 'LB_SEARCH_CREATED' | translate }}</label></div>
                    <div class="col-sm-6 pdn">
                      <input id="created_start" name="created_start" class="form-control input-sm" today="true" moment-picker="vm.condition.created_start"
                        ng-model="vm.condition.created_start" format="YYYY/MM/DD" start-view="month" placeholder="{{:: 'LB_SEARCH_CREATED_START' | translate }}"
                        additions="{ bottom: 'start_bottom-template-url' }">
                    </div>
                    <div class="col-sm-6 pdn">
                      <input id="created_end" name="created_end" class="form-control input-sm" today="true" moment-picker="vm.condition.created_end"
                        ng-model="vm.condition.created_end" format="YYYY/MM/DD" start-view="month" placeholder="{{:: 'LB_SEARCH_CREATED_END' | translate }}"
                        additions="{ bottom: 'end_bottom-template-url' }">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4">
                    <label for="allow_multiple">{{:: 'LB_POLL_MULTIPLE' | translate }}</label>
                    <select id="allow_multiple" name="allow_multiple" class="form-control input-sm" ng-model="vm.condition.allow_multiple">
                    <option value>{{:: 'LB_SEARCH_STATUS_ALL' | translate }}</option>
                    <option value="true">{{:: 'LB_SEARCH_ALLOW' | translate }}</option>
                    <option value="false">{{:: 'LB_SEARCH_DENY' | translate }}</option>
                  </select>
                  </div>
                  <div class="col-sm-4">
                    <label for="allow_add">{{:: 'LB_POLL_SUGGEST' | translate }}</label>
                    <select id="allow_add" name="allow_add" class="form-control input-sm" ng-model="vm.condition.allow_add">
                      <option value>{{:: 'LB_SEARCH_STATUS_ALL' | translate }}</option>
                      <option value="true">{{:: 'LB_SEARCH_ALLOW' | translate }}</option>
                      <option value="false">{{:: 'LB_SEARCH_DENY' | translate }}</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <label for="allow_guest">{{:: 'LB_POLL_ALLOW_GUEST' | translate }}</label>
                    <select id="allow_guest" name="allow_guest" class="form-control input-sm" ng-model="vm.condition.allow_guest">
                      <option value>{{:: 'LB_SEARCH_STATUS_ALL' | translate }}</option>
                      <option value="true">{{:: 'LB_SEARCH_ALLOW' | translate }}</option>
                      <option value="false">{{:: 'LB_SEARCH_DENY' | translate }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <div class="col-sm-12 pdn"><label>{{:: 'LB_SEARCH_CMT_CNT' | translate }}</label></div>
                    <div class="col-sm-6 pdn">
                      <select class="form-control input-sm" ng-model="vm.condition.cmts_pref">
                        <option value="least">{{:: 'LB_SEARCH_CNT_LEAST' | translate }}</option>
                        <option value="most">{{:: 'LB_SEARCH_CNT_MOST' | translate }}</option>
                      </select>
                    </div>
                    <div class="col-sm-6 pdn">
                      <input name="cmts" id="cmts" type="number" class="form-control input-sm" placeholder="{{:: 'LB_SEARCH_CMT_CNT' | translate }}"
                        ng-model="vm.condition.cmts">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-sm-12 pdn"><label>{{:: 'LB_SEARCH_LIKE_CNT' | translate }}</label></div>
                    <div class="col-sm-6 pdn">
                      <select class="form-control input-sm" ng-model="vm.condition.likes_pref">
                        <option value>{{:: 'LB_SEARCH_NOT_SET' | translate }}</option>
                        <option value="least">{{:: 'LB_SEARCH_CNT_LEAST' | translate }}</option>
                        <option value="most">{{:: 'LB_SEARCH_CNT_MOST' | translate }}</option>
                      </select>
                    </div>
                    <div class="col-sm-6 pdn">
                      <input name="likes" id="likes" type="number" class="form-control input-sm" placeholder="{{:: 'LB_SEARCH_LIKE_CNT' | translate }}"
                        ng-model="vm.condition.likes">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <div class="col-sm-12 pdn"><label>{{:: 'LB_SEARCH_VOTE_CNT' | translate }}</label></div>
                    <div class="col-sm-6 pdn">
                      <select class="form-control input-sm" ng-model="vm.condition.votes_pref">
                        <option value>{{:: 'LB_SEARCH_NOT_SET' | translate }}</option>
                        <option value="least">{{:: 'LB_SEARCH_CNT_LEAST' | translate }}</option>
                        <option value="most">{{:: 'LB_SEARCH_CNT_MOST' | translate }}</option>
                      </select>
                    </div>
                    <div class="col-sm-6 pdn">
                      <input name="votes" id="votes" type="number" class="form-control input-sm" placeholder="{{:: 'LB_SEARCH_VOTE_CNT' | translate }}"
                        ng-model="vm.condition.votes">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-sm-12 pdn"><label>{{:: 'LB_SEARCH_VIEW_CNT' | translate }}</label></div>
                    <div class="col-sm-6 pdn">
                      <select class="form-control input-sm" ng-model="vm.condition.views_pref">
                        <option value>{{:: 'LB_SEARCH_NOT_SET' | translate }}</option>
                        <option value="least">{{:: 'LB_SEARCH_CNT_LEAST' | translate }}</option>
                        <option value="most">{{:: 'LB_SEARCH_CNT_MOST' | translate }}</option>
                      </select>
                    </div>
                    <div class="col-sm-6 pdn">
                      <input name="views" id="views" type="number" class="form-control input-sm" placeholder="{{:: 'LB_SEARCH_VIEW_CNT' | translate }}"
                        ng-model="vm.condition.views">
                    </div>
                  </div>
                </div>
              </uib-accordion-group>
            </uib-accordion>
          </form>
        </div>
        <hr class="mgn">
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="vm.handleSearch()">{{:: 'LB_SEARCH' | translate }}</button>
          <button class="btn btn-default btn-sm pull-right mg10r" ng-click="vm.handleClearCondition()">{{:: 'LB_CLEAR' | translate }}</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Indicator -->
  <div class="row text-center" ng-show="busy"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></div>

  <!-- Message -->
  <div class="row pd6l pd6r" ng-show="vm.polls.length > 0  && !busy">
    <div class="notice notice-success">{{vm.polls.length}} {{:: 'LB_SEARCH_RESULT' | translate }}</div>
  </div>
  <!-- Result -->
  <div class="row" ng-show="vm.polls.length > 0">
    <div class="col-xs-12 pdn">
      <div ng-repeat="poll in vm.polls" class="card">
        <poll-item></poll-item>
      </div>
    </div>
  </div>
  <!-- Message -->
  <div class="row pd6l pd6r" ng-show="vm.polls.length <= 0 && !busy">
    <div class="notice notice-warning">{{:: 'LB_SEARCH_NOT_FOUND' | translate }}</div>
  </div>
</section>
<script type="text/ng-template" id="start_bottom-template-url">
  <button class="btn btn-default btn-sm btn-block" ng-click="vm.handleClearStartDate()">
    {{:: 'LB_CLEAR' | translate }}
  </button>
</script>
<script type="text/ng-template" id="end_bottom-template-url">
  <button class="btn btn-default btn-sm btn-block" ng-click="vm.handleClearEndDate()">
    {{:: 'LB_CLEAR' | translate }}
  </button>
</script>