<section class="container">
  <!-- Breadcrumb -->
  <div class="row mg10t">
    <div class="col-xs-12 pdn">
      <div class="card">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item">
            <a class="undecorated-link" ui-sref="home">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li class="breadcrumb-item active">Search</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 pdn">
      <div class="card">
        <form name="form.searchForm" class="form-horizontal" ng-submit="search()" novalidate>
          <div class="form-group">
            <div class="col-md-5">
              <label>Key</label>
              <input type="text" class="form-control" placeholder="Search key" ng-model="condition.key">
            </div>
            <div class="col-md-5">
              <label>In</label>
              <select class="form-control" ng-model="condition.in">
								<option value="polltitle">Poll's title only</option>
								<option value="pollcontent">Poll's content (include options)</option>
								<option value="pollcmt">Poll content and all comments</option>
							</select>
            </div>
            <div class="col-md-2">
              <label>&nbsp;</label>
              <button type="submit" class="btn btn-default form-control">Search</button>
            </div>
          </div>

          <div class="panel-group" role="tablist" ng-model="detailToggle" aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default custom-panel">
              <div ng-class="{ 'panel-heading': true, 'public': true }" role="tab">
                <h4 class="panel-title">
                  <i class="fa fa-caret-down"></i>&nbsp;
                  <a class="undecorated-link" bs-collapse-toggle>Advanced Search Setting</a>
                </h4>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <!-- Status -->
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label>Status</label>
                      <select class="form-control" ng-model="condition.status">
							        	<option value></option>
							        	<option value="opening">Opening</option>
							        	<option value="closed">Closed</option>
							        </select>
                    </div>
                  </div>
                  <!-- User -->
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label>Posted by</label>
                      <input name="by" type="hidden" class="form-control" ng-model="condition.by">
                      <angucomplete-alt
                        placeholder="Search user"
                        pause="300"
                        selected-object="selectedUserFn"
                        initial-value="selectedUser"
                        remote-url="/api/users/search?s="
                        remote-url-data-field="users"
                        title-field="displayName"
                        description-field="username"
                        image-field="profileImageURL"
                        minlength="1"
                        input-class="form-control"
                        match-class="highlight" />
                    </div>
                    
                  </div>
                  <!-- Category -->
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label>Category</label>
                      <select class="form-control" ng-model="condition.ctgr" name="ctgr" ng-options="category._id as category.name for category in categorys"></select>
                    </div>
                  </div>
                  <!-- Comment -->
                  <div class="form-group">
                    <div class="col-xs-12"><label>Comment count</label></div>
                    <div class="col-md-6">
                      <select class="form-control" ng-model="condition.compare">
							        	<option value></option>
							        	<option value="least">At least</option>
							        	<option value="most">As most</option>
							        </select>
                    </div>
                    <div class="col-md-6">
                      <input name="cmt" class="form-control" ng-model="condition.cmt">
                    </div>
                  </div>
                  <!-- Time -->
                  <div class="form-group">
                    <div class="col-xs-12"><label>Created time</label></div>
                    <div class="col-md-6">
                      <select class="form-control" ng-model="condition.timing">
							        	<option value></option>
							        	<option value="new">Newer than</option>
							        	<option value="old">Older than</option>
							        </select>
                    </div>
                    <div class="col-md-6">
                      <select class="form-control" ng-model="condition.created">
							        	<option value></option>
							        	<option value="86400">Yesterday</option>
							        	<option value="604800">One week</option>
							        	<option value="1209600">Two week</option>
							        	<option value="2592000">One month</option>
							        	<option value="7776000">Three months</option>
							        	<option value="15552000">Six monthst</option>
							        	<option value="31104000">One year</option>
							        </select>
                    </div>
                  </div>
                  <!-- Sort -->
                  <div class="form-group">
                    <div class="col-xs-12"><label>Sort by</label></div>
                    <div class="col-md-6">
                      <select class="form-control" ng-model="condition.sort">
							        	<option value></option>
							        	<option value="created">Created time</option>
							        	<option value="cmtCnt">Number of comments</option>
							        	<option value="likeCnt">Number of likes</option>
							        	<option value="voteCnt">Number of votes</option>
							        	<option value="viewCnt">Number of views</option>
							        </select>
                    </div>
                    <div class="col-md-6">
                      <select class="form-control" ng-model="condition.sortkind">
							        	<option value></option>
							        	<option value="desc">In descending order</option>
							        	<option value="asc">In ascending order</option>
							        </select>
                    </div>
                  </div>
                  <!-- Tools -->
                  <div class="form-group">
                    <div class="col-xs-12">
                      <a class="undecorated-link pull-right" ng-click="clear_preferences()">Clear preferences</a>
                      <a class="undecorated-link pull-right mg10r" ng-click="save_preferences()">Save preferences</a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- Indicator -->
  <div class="row text-center pd6l pd6r" ng-show="busy">
    <md-progress-circular ng-disabled="!busy" class="md-hue-2 center" md-diameter="20px"></md-progress-circular>
  </div>

  <!-- Message -->
  <div class="row pd6l pd6r" ng-show="polls.length > 0">
    <div class="notice notice-success">{{polls.length}} result(s) matching.</div>
  </div>
  <!-- Result -->
  <div class="row" ng-show="polls.length > 0">
    <div class="col-xs-12 pdn">
      <div ng-repeat="item in polls | orderBy: sort" class="card">
        <div clas="poll-header">
          <div class="user-avatar pull-left">
            <a ng-if="item.poll.user" ui-sref="profile.info({userId: item.poll.user._id})">
              <img src="{{item.poll.user.profileImageURL}}" alt="{{item.poll.user.displayName}}">
            </a>
            <img ng-if="!item.poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
          </div>
          <span class="pull-left">
            <strong><a class="undecorated-link" ui-sref="profile.info({userId: item.poll.user._id})" ng-if="item.poll.user" ng-bind="item.poll.user.displayName"></a></strong>
            <span ng-if="!item.poll.user">Deleted User</span>
          <small class="text-muted">&nbsp;created on</small>
          <small class="text-muted" am-time-ago="item.poll.created"></small>
          </span>
          <span class="pull-right">
            <md-menu md-offset="-12 20" md-position-mode="target-right target">
              <a class="undecorated-link span-link" ng-click="$mdMenu.open($event)" aria-label="Open setting menu">
                <i class="fa fa-angle-down"></i>
              </a>
              <md-menu-content>
                <ul class="menu-list">
                  <li><a ui-sref="polls.view({ pollId: item.poll._id })"><i class="fa fa-eye"></i>&nbsp;View</a></li>
                  <li ng-if="user._id === item.poll.user._id"><a class="undecorated-link" ui-sref="polls.edit({ pollId: item.poll._id })"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></li>
                  <li ng-if="user._id === item.poll.user._id"><a class="undecorated-link" ng-click="delete_poll(item.poll)"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
                  <li ng-if="isLogged">
                    <a ng-click="follow_poll(item.poll)" class="undecorated-link">
                      <i class="fa fa-rss"></i>&nbsp;{{(item.poll.follow.following) ? 'Unfollow' : 'Follow'}}
                    </a>
                  </li>
                  <li ng-if="isLogged && user._id !== item.poll._id && !item.poll.reported"><a class="undecorated-link" ng-click="report_poll(item.poll)"><i class="fa fa-exclamation-circle"></i>&nbsp;Report poll</a></li>
                  <li ng-if="isLogged && user._id !== item.poll._id && !item.poll.bookmarked"><a class="undecorated-link" ng-click="bookmark_poll(item.poll)"><i class="fa fa-bookmark"></i>&nbsp;Bookmark poll</a></li>
                </ul>
              </md-menu-content>
            </md-menu>
          </span>
          <br>
          <div class="mg5t">
            <span ng-if="item.poll.allow_guest" class="fa fa-globe">
              <md-tooltip md-direction="bottom">This poll is public</md-tooltip>
            </span>
            <span ng-if="!item.poll.allow_guest" class="fa fa-users">
              <md-tooltip md-direction="bottom">Only user can vote</md-tooltip>
            </span>
            <a class="undecorated-link" ui-sref="categorys.polls({ categoryId: item.poll.category._id })">{{ item.poll.category.name }}</a>
          </div>
          <div class="clearfix"></div>
          <hr class="mg5t mg10b">
        </div>

        <div clas="poll-body">
          <h4><a ui-sref="polls.view({ pollId: item.poll._id })">{{item.poll.title}}</a></h4>
          <!--<p class="text-justify poll_item_body" ng-bind-html="poll.summary | nl2br"></p>-->
          <div class="text-body" ta-bind="text" ng-model="item.poll.summary" ta-readonly="true"></div>
          <div class="clearfix"></div>
          <!-- #options -->
        </div>
      </div>
    </div>
  </div>
  <!-- Message -->
  <div class="row pd6l pd6r">
    <div class="notice notice-warning" ng-show="polls.length === 0 && !busy">No matches found.</div>
  </div>
</section>