<section class="container">
  <!-- Breadcrumb -->
  <div class="row mg10t">
    <div class="col-xs-12 pdn">
      <div class="card">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item">
            <a class="undecorated-link" ui-sref="home">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li class="breadcrumb-item active">Search</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 pdn">
      <div class="card h500">
        <form name="form.searchForm" class="form-horizontal" ng-submit="search()" novalidate>
          <div class="form-group">
            <div class="col-md-5">
              <label>Key</label>
              <input type="text" class="form-control" placeholder="Search key" ng-model="key">
            </div>
            <div class="col-md-5">
              <label>In</label>
              <select class="form-control" ng-model="in">
								<option value="polltitle">Poll's title only</option>
								<option value="pollcontent">Poll's content (include title)</option>
								<option value="pollcmt">Poll content and all comments</option>
								<option value="tags">Tags</option>
							</select>
            </div>
            <div class="col-md-2">
              <label>&nbsp;</label>
              <button type="submit" class="btn btn-default form-control">Search</button>
            </div>
          </div>

          <div class="panel-group" role="tablist" ng-model="detailToggle" aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default custom-panel">
              <div ng-class="{ 'panel-heading': true, 'public': true }" role="tab">
                <h4 class="panel-title">
                  <i class="fa fa-caret-down"></i>&nbsp;
                  <a class="undecorated-link" bs-collapse-toggle>Advanced Search Setting</a>
                </h4>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label>Posted by</label>
                      <input type="text" class="form-control" placeholder="Posted by" ng-model="by">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>