<section class="container" infinite-scroll="vm.loadCmts()">
  <div class="row mg50t">
    <!-- Title and category -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="card" id="poll_title_card">
        <p>
          <i ng-class="['fa', vm.poll.category.icon]"></i>&nbsp;
          <a class="undecorated-link" ui-sref="categorys.view({ categoryId: vm.poll.category._id })">
            {{vm.poll.category.name}}
          </a>
        </p>
        <a class="undecorated-link" ui-sref="polls.view({ pollId: vm.poll._id })">
          <h3 class="mg5t mg5b" ng-bind="vm.poll.title"></h3>
        </a>
      </div>
      <!-- First post -->
      <div class="card" id="poll_first_post_card">
        <div clas="post-header">
          <div class="user-avatar pull-left">
            <a ui-sref="users.info({userId: vm.poll.user._id})" ng-if="vm.poll.user">
              <img src="{{vm.poll.user.profileImageURL}}" alt="{{vm.poll.user.displayName}}">
            </a>
            <img ng-if="!vm.poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
          </div>
          <span class="pull-left">
            <strong><a class="undecorated-link" ui-sref="users.info({userId: vm.poll.user._id})" ng-if="vm.poll.user" ng-bind="vm.poll.user.displayName"></a></strong>
            <span ng-if="!vm.poll.user">Deleted User</span>
            <span class="text-muted"><small>&nbsp;created on</small></span>
            <span class="text-muted" ng-bind="vm.poll.created | date:'mediumDate'"></span>
          </span>
          <span class="pull-right">
            <a href="#" bs-dropdown aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-show="vm.isLogged">
                <a ng-click="vm.follow_poll()" class="undecorated-link">
                  <i class="fa fa-rss"></i>&nbsp;{{(vm.polluser._id && vm.polluser.following) ? 'Unfollow' : 'Follow'}}
                </a>
              </li>
              <li ng-show="vm.isLogged && !vm.poll.isCurrentUserOwner"><a class="undecorated-link" ng-click="vm.report_poll()"><i class="fa fa-exclamation-circle"></i>&nbsp;Report poll</a></li>
              <li ng-show="vm.poll.isCurrentUserOwner || vm.poll.canEdit"><a class="undecorated-link" ui-sref="polls.edit({ pollId: vm.poll._id })"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></li>
              <li ng-show="vm.poll.isCurrentUserOwner || vm.poll.canEdit"><a class="undecorated-link" ng-click="vm.remove()"><i class="fa fa-trash"></i>&nbsp;Delete</a></li>
              <li ng-show="vm.isLogged && !vm.poll.isCurrentUserOwner"><a class="undecorated-link" ng-click="vm.add_bookmark(poll)"><i class="fa fa-bookmark"></i>&nbsp;Bookmark poll</a></li>
            </ul>
          </span>
          <br>
          <span ng-if="vm.poll.allow_guest" class="fa fa-globe"></span>
          <span ng-if="!vm.poll.allow_guest" class="fa fa-users"></span>
          <hr class="mg10t mg10b">
          <div class="clearfix"></div>
        </div>
        <div class="post-body">
          <p class="text-justify" ng-bind="vm.poll.body"></p>
          <hr class="mg10t mg10b">
        </div>
        <div class="post-footer">
          <span class="like_tools">
            <a class="undecorated-link" ng-click="vm.like_poll()" ng-show="vm.like.type == 1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</a>
            <span class="span_btn" ng-click="vm.like_poll()" ng-show="vm.like.type != 1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</span>
            <span class="mg5l mg5r" ng-bind="vm.poll.likeCnt"></span>
            <a class="undecorated-link" ng-click="vm.dislike_poll()" ng-show="vm.like.type == 2"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Dislike</a>
            <span class="span_btn" ng-click="vm.dislike_poll()" ng-show="vm.like.type != 2"><i class="fa fa-thumbs-o-down" aria-hidden="true">&nbsp;Dislike</i></span>
          </span>
          <span class="pull-right">
            <span ng-if="!vm.poll.isCurrentUserOwner" ng-click="vm.reply_cmt(vm.poll)" class="span_btn"><i class="fa fa-reply"></i>&nbsp;Reply</span>
            <span ng-click="vm.focus_cmt()" class="span_btn mg5r"><i class="fa fa-commenting"></i>&nbsp;Comment</span>
          </span>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Comment form -->
      <div class="card" id="poll_cmt_form_card">
        <div class="form-group">
          <span ng-if="vm.tmp_cmt.to">To:&nbsp;</span>
          <a class="undecorated-link" ng-if="vm.tmp_cmt.to" ui-sref="users.info({userId: vm.tmp_cmt.to})" ng-bind="vm.tmp_cmt.toName"></a>
        </div>
        <div class="form-group">
          <div class="user-avatar pull-left" ng-if="vm.authentication.user">
            <a ui-sref="users.info({userId: cmt.user._id})">
            <img src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}">
          </a>
          </div>
          <textarea ng-is-enter="{{vm.enter_send}}" ng-enter="vm.save_cmt()" focus-me="{{vm.cmt_typing}}" class="msd-elastic: \n; reply-input"
            data-ng-model="vm.tmp_cmt.body" placeholder="Type your comment..."></textarea>
        </div>
        <label class="text-muted"><input type="checkbox" ng-model="vm.enter_send"><small>&nbsp;Enter to send</small></label>
        <span class="pull-right">
          <a class="undecorated-link" ng-hide="vm.enter_send" ng-click="vm.save_cmt()">Send</a>
          <a class="mg20l undecorated-link" ng-click="vm.discard_cmt()" ng-if="vm.tmp_cmt.discard">Discard</a>
        </span>
      </div>
      <!-- List comments -->
      <div ui-view="cmts"></div>
    </div>
    <!-- Poll report -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pdnl">
      <!-- Report -->
      <div class="card" id="poll_report_card">
        <div class="poll_info">
          <div class="poll_info_item">
            <span class="text-center">VIEW</span>
            <span class="text-center" ng-bind="vm.poll.viewCnt"></span>
            <br>
          </div>
          <div class="poll_info_item">
            <span class="text-center">VOTE</span>
            <span class="text-center" ng-bind="vm.poll.voteCnt"></span>
            <br>
          </div>
          <div class="poll_info_item">
            <span class="text-center">COMMENT</span>
            <span class="text-center" ng-bind="vm.cmts.length"></span>
            <br>
          </div>
        </div>
      </div>
      <!-- Chart -->
      <div class="card" id="poll_chart_card">
        
      </div>
      <!--Options-->
      <div class="card" id="poll_opts_card">
        <div ui-view="opts"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Control -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pdnl pdnr">
      <select class="form-control sort" ng-model="vm.cmt_sort" ng-options="sort.val as sort.name for sort in vm.cmt_sorts"></select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdnl pdnr">
      <div class="poll_info pull-right">
        <div class="poll_info_item">
          <span class="text-center">VIEW</span>
          <span class="text-center" ng-bind="vm.poll.viewCnt"></span>
          <br>
        </div>
        <div class="poll_info_item">
          <span class="text-center">VOTE</span>
          <span class="text-center" ng-bind="vm.poll.voteCnt"></span>
          <br>
        </div>
        <div class="poll_info_item">
          <span class="text-center">COMMENT</span>
          <span class="text-center" ng-bind="vm.cmts.length"></span>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pdnl pdnr">
      <div class="pull-right">
        <a class="btn btn-info" ui-sref="polls.edit({ pollId: vm.poll._id })" ng-if="vm.poll.isCurrentUserOwner || vm.poll.canEdit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" ng-click="vm.remove()" ng-if="vm.poll.isCurrentUserOwner || vm.poll.canEdit">
          <i class="glyphicon glyphicon-trash"></i> Delete
        </a>
        <button ng-if="!vm.poll.isCurrentUserOwner && !vm.poll.canEdit && vm.poll.allow_add && vm.authentication.user" class="btn btn-warning"
          ng-click="vm.input_opt()"><i class="fa fa-plus" aria-hidden="true"></i> Suggest option</button>
        <button class="btn btn-info" ng-click="vm.follow_poll()">{{(vm.polluser._id && vm.polluser.following) ? 'Unfollow' : 'Follow'}}</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
  <!-- #Control -->
  <!-- Control -->
  <div class="row" ng-if="vm.cmts.length > 5">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pdnl pdnr">
      <select class="form-control sort" ng-model="vm.cmt_sort" ng-options="sort.val as sort.name for sort in vm.cmt_sorts"></select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pdnl pdnr">
      <div class="poll_info pull-right">
        <div class="poll_info_item">
          <span class="text-center">VIEW</span>
          <span class="text-center" ng-bind="vm.poll.viewCnt"></span>
          <br>
        </div>
        <div class="poll_info_item">
          <span class="text-center">VOTE</span>
          <span class="text-center" ng-bind="vm.poll.voteCnt"></span>
          <br>
        </div>
        <div class="poll_info_item">
          <span class="text-center">COMMENT</span>
          <span class="text-center" ng-bind="vm.cmts.length"></span>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pdnl pdnr">
      <div class="pull-right">
        <a class="btn btn-info" ui-sref="polls.edit({ pollId: vm.poll._id })" ng-if="vm.poll.isCurrentUserOwner || vm.poll.canEdit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" ng-click="vm.remove()" ng-if="vm.poll.isCurrentUserOwner || vm.poll.canEdit">
          <i class="glyphicon glyphicon-trash"></i> Delete
        </a>
        <button ng-if="!vm.poll.isCurrentUserOwner && !vm.poll.canEdit && vm.poll.allow_add && vm.authentication.user" class="btn btn-warning"
          ng-click="vm.input_opt()"><i class="fa fa-plus" aria-hidden="true"></i> Suggest option</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
  <!-- #Control -->
  <div class="row">
    <div class="col-xs-12">
      <h4>Tags: <small>{{(!vm.poll.tags.length) ? 'Has no tag added' : ''}}</small></h4>
      <ul class="tags" ng-show="vm.poll.tags.length">
        <li ng-repeat="tag in vm.poll.tags"><a ui-sref="tags.view({ tagId: tag._id })" class="tag">{{tag.name}}</a></li>
      </ul>
    </div>
  </div>
</section>