<section class="container animated fadeIn mg6t mg50b">
  <div class="row">
    <!-- Title and category -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pdn">
      <div class="card" id="poll_title_card">
        <div class="card-body">
          <p>
            <i ng-class="['fa', ctrl.poll.category.icon]"></i>
            <a ui-sref="categorys.polls({ categoryId: ctrl.poll.category.slug })">
            {{ ctrl.poll.category.name }}
          </a>
            <a class="pull-right" ng-click="ctrl.handleFollowPoll()" ng-if="ctrl.follow._id" tooltip-placement="bottom" uib-tooltip="{{:: 'LB_POLL_UNFOLLOW_TOOLTIP' | translate }}">
              <i class="fa fa-rss"></i> {{:: 'LB_POLLS_MENU_UNFOLLOW' | translate}}
            </a>
            <a class="pull-right" ng-click="ctrl.handleFollowPoll()" ng-if="!ctrl.follow._id" tooltip-placement="bottom" uib-tooltip="{{:: 'LB_POLL_FOLLOW_TOOLTIP' | translate }}">
              <i class="fa fa-rss"></i> {{:: 'LB_POLLS_MENU_FOLLOW' | translate}}
            </a>
          </p>
          <h3 class="mg5t mg5b">{{ ctrl.poll.title }}</h3>
        </div>
      </div>
      <!-- First post -->
      <div class="card" id="poll_first_post_card">
        <div class="card-body">
          <div class="poll-header">
            <div class="poll-avatar">
              <a ng-if="ctrl.poll.user" ui-sref="profile.info({userId: ctrl.poll.user.slug})">
                <img src="{{:: ctrl.poll.user.profileImageURL}}" alt="{{:: ctrl.poll.user.displayName}}">
              </a>
              <img ng-if="!ctrl.poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
            </div>
            <div class="poll-info">
              <div class="poll-info-title">
                <a class="poll-info-title-user-name" ng-if="ctrl.poll.user" ui-sref="profile.info({userId: ctrl.poll.user.slug})">{{::ctrl.poll.user.displayName}}</a>
                <span class="poll-info-title-user-name" ng-if="!ctrl.poll.user">{{:: 'LB_DELETED_USER' | translate }}</span>
                <span class="poll-info-title-time">
                    {{:: 'LB_POLLS_CREATEON' | translate }}
                    <span am-time-ago="ctrl.poll.created"></span>
                </span>
                <md-menu md-offset="-12 20" md-position-mode="target-right target">
                  <a class="poll-info-title-menu" ng-click="$mdMenu.open($event)" aria-label="Open menu"><i class="icon-options"></i></a>
                  <md-menu-content>
                    <ul class="menu-list">
                      <li ng-if="isLogged">
                        <a ng-click="ctrl.handleFollowPoll()"><i class="fa fa-rss"></i>&nbsp;{{(ctrl.follow._id) ? 'LB_POLLS_MENU_UNFOLLOW' : 'LB_POLLS_MENU_FOLLOW' | translate }}</a>
                      </li>
                      <li ng-if="isLogged && !ctrl.poll.isCurrentUserOwner && !ctrl.reported"><a ng-click="ctrl.handleReportPoll()"><i class="fa fa-exclamation-circle"></i> {{:: 'LB_POLLS_MENU_REPORT' | translate }}</a></li>
                      <li ng-if="ctrl.poll.isCurrentUserOwner || ctrl.poll.canEdit"><a ui-sref="polls.edit({ pollId: ctrl.poll.slug })"><i class="fa fa-pencil-square-o"></i> {{:: 'LB_POLLS_MENU_EDIT' | translate }}</a></li>
                      <li ng-if="ctrl.poll.isCurrentUserOwner || ctrl.poll.canEdit"><a ng-click="ctrl.handleRemovePoll()"><i class="fa fa-trash"></i> {{:: 'LB_DELETE' | translate }}</a></li>
                      <li ng-if="isLogged && !ctrl.poll.isCurrentUserOwner && !ctrl.bookmarked"><a ng-click="ctrl.handleBookmarkPoll()"><i class="fa fa-bookmark"></i> {{:: 'LB_POLLS_MENU_BOOKMARK' | translate }}</a></li>
                      <li ng-if="ctrl.poll.isCurrentUserOwner"><a ng-click="ctrl.handleSharePoll()"><i class="fa fa-share-alt"></i> {{:: 'LB_SHARE' | translate }}</a></li>
                    </ul>
                  </md-menu-content>
                </md-menu>
                <p class="poll-info-title-close">
                  <i class="fa fa-calendar"></i>
                  <span ng-if="ctrl.poll.close">{{:: 'LB_CM_CLOSE' | translate }} <span am-time-ago="ctrl.poll.close"></span></span>
                  <span ng-if="!ctrl.poll.close">{{:: 'LB_CM_UNLIMIT' | translate }}</span>
                </p>
              </div>
              <div class="poll-info-secure">
                <span ng-if="!ctrl.poll.isPublic" class="fa fa-lock" tooltip-placement="bottom" uib-tooltip="{{:: 'LB_POLLS_SECURE_PRIVATE' | translate }}"></span>
                <span ng-if="ctrl.poll.isPublic && ctrl.poll.allow_guest" class="fa fa-globe" tooltip-placement="bottom" uib-tooltip="{{:: 'LB_POLLS_SECURE_PUBLIC' | translate }}"></span>
                <span ng-if="ctrl.poll.isPublic && !ctrl.poll.allow_guest" class="fa fa-users" tooltip-placement="bottom" uib-tooltip="{{:: 'LB_POLLS_SECURE_ONLYUSER' | translate }}"></span>
              </div>
            </div>
          </div>
          <hr class="mg5t mg10y">
          <div class="post-body">
            <div ta-bind="text" ng-model="ctrl.poll.body" ta-readonly="true"></div>
          </div>
          <hr class="mg10y">
          <div class="post-footer">
            <div class="like_tools">
              <span class="span_btn" ng-click="ctrl.handleLikePoll(1)" ng-class="{'highlight-text': ctrl.like.type === 1}"><i class="fa fa-thumbs-o-up"></i> {{:: 'LB_LIKE' | translate }}</span>
              <span class="mg5l mg5r highlight-text" ng-bind="ctrl.poll.likeCnt | shortNumber"></span>
              <span class="span_btn" ng-click="ctrl.handleLikePoll(2)" ng-class="{'highlight-text': ctrl.like.type === 2}"><i class="fa fa-thumbs-o-down"></i> {{:: 'LB_DISLIKE' | translate }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- Options -->
      <div class="card" id="opts_detail_card">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_OPTIONS' | translate }} ({{ctrl.opts.length | shortNumber }})</strong>
          <a class="card-link font-sm" ng-if="ctrl.opts.length > 0 && !ctrl.isClosed" ng-click="ctrl.handleGetLinkOption()">{{:: 'LB_VOTE_GET_LINK' | translate }}</a>
        </div>
        <div class="card-body">
          <span class="text-muted" ng-if="!ctrl.opts.length || ctrl.opts.length === 0">{{:: 'LB_POLL_OPTIONS_EMPTY' | translate }}</span>
          <!-- Danh sách options -->
          <uib-accordion close-others="true" ng-if="ctrl.opts.length > 0">
            <uib-accordion-group ng-repeat="opt in ctrl.opts" heading="{{opt.title}} ( {{ opt.voteCnt | shortNumber }} votes)" panel-class="custom-panel public">
              <span class="pull-right text-muted font-sm">
                <span>{{:: 'LB_ADD_BY' | translate }}</span>
              <a ui-sref="profile.info({userId: opt.user.slug})" ng-if="opt.user" ng-bind="opt.user.displayName"></a>
              <span ng-if="!opt.user">{{:: 'LB_DELETED_USER' | translate }}</span>
              <span>{{:: 'LB_ON' | translate }}</span>
              <span>{{:: opt.created | LLL_format}}</span>
              </span>
              <div class="clearfix"></div>
              <div ta-bind="text" ng-model="opt.body" ta-readonly="true"></div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>

      <!-- #Show only MD screen -->
      <!-- Vote card -->
      <div class="card d-md-none" ng-if="ctrl.isClosed">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_VOTE_PANEL' | translate }}</strong>
        </div>
        <div class="card-body">
          <h4 ng-if="ctrl.isClosed">{{:: 'LB_POLL_CLOSED' | translate }}</h4>
        </div>
      </div>
      <div class="card d-md-none" ng-if="!ctrl.isClosed">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_VOTE_PANEL' | translate }}</strong>
          <a class="card-link font-sm" ng-if="ctrl.opts.length > 0" ng-click="ctrl.handleGetLinkOption()">{{:: 'LB_VOTE_GET_LINK' | translate }}</a>
        </div>
        <div class="card-body">
          <div class="poll-remaining" ng-if="ctrl.poll.close">
            <p>
              <span>{{ctrl.close_duration.days}}{{:: 'LB_POLL_CLOSE_DAY' | translate }}</span>
              <span>{{ctrl.close_duration.hours}}{{:: 'LB_POLL_CLOSE_HOUR' | translate }}</span>
              <span>{{ctrl.close_duration.minutes}}{{:: 'LB_POLL_CLOSE_MIN' | translate }}</span>
              <span>{{ctrl.close_duration.seconds}}{{:: 'LB_POLL_CLOSE_SEC' | translate }}</span>
            </p>
          </div>
          <hr class="mgn mg12b">
          <span class="text-muted font-sm" ng-if="!ctrl.opts.length || ctrl.opts.length === 0">{{:: 'LB_POLL_OPTIONS_EMPTY' | translate }}</span>

          <div class="form-group" ng-if="!ctrl.poll.allow_multiple">
            <md-radio-group ng-model="ctrl.radioChecked" ng-change="ctrl.handleChecked()">
              <md-radio-button ng-repeat="opt in ctrl.opts" ng-value="opt._id" class="md-primary">
                {{opt.title}}
                <strong class="mg5l" ng-style="{color: opt.color}">●</strong>
              </md-radio-button>
            </md-radio-group>
          </div>
          <div class="form-group" ng-if="ctrl.poll.allow_multiple">
            <div ng-repeat="opt in ctrl.opts">
              <md-checkbox class="md-primary" ng-checked="ctrl.is_voted(opt._id)" ng-click="ctrl.handleChecked(opt._id)">
                {{opt.title}}
                <strong class="mg5l" ng-style="{color: opt.color}">●</strong>
              </md-checkbox>
            </div>
          </div>
          <div class="form-group">
            <button ng-show="ctrl.opts.length > 0 && ctrl.isCanVote" class="btn btn-primary pull-right" ng-click="ctrl.handleSaveVote()">
              {{(ctrl.ownVote._id) ? 'LB_CHANGE_VOTE' : 'LB_VOTE' | translate }}
            </button>
            <button ng-show="isLogged && ctrl.poll.allow_add && !ctrl.poll.isCurrentUserOwner" class="btn btn-warning pull-right mg10r"
              ng-click="ctrl.handleStartInputOption()">{{:: 'LB_SUGGEST' | translate }}</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Chart -->
      <div ui-view="opts" class="d-md-none"></div>
      <!-- Social -->
      <div class="card d-md-none">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_SOCIAL' | translate }}</strong>
        </div>
        <div class="card-body">
          <p class="text-justify mgn">
            <button class="btn btn-facebook icon" type="button" ng-click="ctrl.handleSharePoll('facebook')"></button>
            <button class="btn btn-twitter icon" type="button" ng-click="ctrl.handleSharePoll('twitter')"></button>
            <button class="btn btn-linkedin icon" type="button" ng-click="ctrl.handleSharePoll('linkedin')"></button>
            <button class="btn btn-google-plus icon" type="button" ng-click="ctrl.handleSharePoll('google')"></button>
            <button class="btn btn-tumblr icon" type="button" ng-click="ctrl.handleSharePoll('tumblr')"></button>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Tag -->
      <div class="card d-md-none">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_TAGS' | translate }}</strong>
        </div>
        <div class="card-body">
          <span class="text-muted font-sm" ng-if="!ctrl.poll.tags.length || ctrl.poll.tags.length === 0">{{:: 'LB_POLL_TAGS_EMPTY' | translate }}</span>
          <ul class="tags" ng-if="ctrl.poll.tags.length > 0">
            <li ng-repeat="tag in ctrl.poll.tags"><a ui-sref="tags.polls({ tagId: tag.slug })" class="tag">{{:: tag.name}}</a></li>
          </ul>
        </div>
      </div>
      <!-- #Show only MD screen -->

      <!-- List comments -->
      <div ui-view="cmts"></div>
    </div>
    <!-- Poll report -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pdn d-sm-down-none">
      <!-- Report -->
      <div class="card" id="poll_report_card">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_REPORT_PANEL' | translate }}</strong>
        </div>
        <div class="card-body">
          <div class="col-xs-3 pdn">
            <div class="poll_info_item">
              <div class="value">{{ctrl.poll.voteCnt | shortNumber}}</div>
              <span class="label">{{:: 'LB_POLLS_VOTES' | translate }}</span>
            </div>
          </div>
          <div class="col-xs-3 pdn text-center">
            <div class="poll_info_item pull-left">
              <div class="value">{{ctrl.poll.viewCnt | shortNumber}}</div>
              <span class="label">{{:: 'LB_POLLS_VIEWS' | translate }}</span>
            </div>
          </div>
          <div class="col-xs-3 pdn text-center">
            <div class="poll_info_item pull-right">
              <div class="value">{{ctrl.poll.cmtCnt | shortNumber}}</div>
              <span class="label">{{:: 'LB_POLLS_COMMENTS' | translate }}</span>
            </div>
          </div>
          <div class="col-xs-3 pdn">
            <div class="poll_info_item">
              <div class="value">{{ctrl.poll.likeCnt | shortNumber}}</div>
              <span class="label">{{:: 'LB_POLLS_LIKES' | translate }}</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Vote card -->
      <div class="card" ng-if="ctrl.isClosed">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_VOTE_PANEL' | translate }}</strong>
        </div>
        <div class="card-body">
          <h4 ng-if="ctrl.isClosed">{{:: 'LB_POLL_CLOSED' | translate }}</h4>
        </div>
      </div>
      <div class="card" ng-if="!ctrl.isClosed">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_VOTE_PANEL' | translate }}</strong>
          <a class="card-link font-sm" ng-if="ctrl.opts.length > 0" ng-click="ctrl.handleGetLinkOption()">{{:: 'LB_VOTE_GET_LINK' | translate }}</a>
        </div>
        <div class="card-body">
          <div class="poll-remaining" ng-if="ctrl.poll.close">
            <p>
              <span>{{ctrl.close_duration.days}}{{:: 'LB_POLL_CLOSE_DAY' | translate }}</span>
              <span>{{ctrl.close_duration.hours}}{{:: 'LB_POLL_CLOSE_HOUR' | translate }}</span>
              <span>{{ctrl.close_duration.minutes}}{{:: 'LB_POLL_CLOSE_MIN' | translate }}</span>
              <span>{{ctrl.close_duration.seconds}}{{:: 'LB_POLL_CLOSE_SEC' | translate }}</span>
            </p>
          </div>
          <hr class="mgn mg12b">
          <span class="text-muted font-sm" ng-if="!ctrl.opts.length || ctrl.opts.length === 0">{{:: 'LB_POLL_OPTIONS_EMPTY' | translate }}</span>
          <!-- Danh sách lựa chọn đối với trường hợp vote đơn -->
          <div class="form-group" ng-if="!ctrl.poll.allow_multiple">
            <md-radio-group ng-model="ctrl.radioChecked" ng-change="ctrl.handleChecked()">
              <md-radio-button ng-repeat="opt in ctrl.opts" ng-value="opt._id" class="md-primary">
                {{opt.title}}
                <strong class="mg5l" ng-style="{color: opt.color}">●</strong>
              </md-radio-button>
            </md-radio-group>
          </div>
          <!-- Danh sách lựa chọn đối với trường hợp vote nhiều -->
          <div class="form-group" ng-if="ctrl.poll.allow_multiple">
            <div ng-repeat="opt in ctrl.opts">
              <md-checkbox class="md-primary" ng-checked="ctrl.is_voted(opt._id)" ng-click="ctrl.handleChecked(opt._id)">
                {{opt.title}}
                <strong class="mg5l" ng-style="{color: opt.color}">●</strong>
              </md-checkbox>
            </div>
          </div>
          <div class="form-group">
            <button ng-show="ctrl.opts.length > 0 && ctrl.isCanVote" class="btn btn-primary pull-right" ng-click="ctrl.handleSaveVote()">
              {{(ctrl.ownVote._id) ? 'LB_CHANGE_VOTE' : 'LB_VOTE' | translate }}
            </button>
            <button ng-show="isLogged && ctrl.poll.allow_add && !ctrl.poll.isCurrentUserOwner" class="btn btn-warning pull-right mg10r"
              ng-click="ctrl.handleStartInputOption()">{{:: 'LB_SUGGEST' | translate }}</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Chart -->
      <div ui-view="opts"></div>
      <!-- Social -->
      <div class="card">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_POLL_SOCIAL' | translate }}</strong>
        </div>
        <div class="card-body">
          <p class="text-justify mgn">
            <button class="btn btn-facebook icon" type="button" ng-click="ctrl.handleSharePoll('facebook')"></button>
            <button class="btn btn-twitter icon" type="button" ng-click="ctrl.handleSharePoll('twitter')"></button>
            <button class="btn btn-linkedin icon" type="button" ng-click="ctrl.handleSharePoll('linkedin')"></button>
            <button class="btn btn-google-plus icon" type="button" ng-click="ctrl.handleSharePoll('google')"></button>
            <button class="btn btn-tumblr icon" type="button" ng-click="ctrl.handleSharePoll('tumblr')"></button>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Tag -->
      <div class="card" id="poll_tags_card">
        <div class="card-header">
          <strong class="card-title">{{:: 'LB_TAGS' | translate }}</strong>
        </div>
        <div class="card-body">
          <span class="text-muted font-sm" ng-if="!ctrl.poll.tags.length || ctrl.poll.tags.length === 0">{{:: 'LB_POLL_TAGS_EMPTY' | translate }}</span>
          <ul class="tags" ng-if="ctrl.poll.tags.length">
            <li ng-repeat="tag in ctrl.poll.tags"><a ui-sref="tags.polls({ tagId: tag.slug })" class="tag">{{:: tag.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="quick-menu">
    <md-fab-speed-dial md-open="isOpen" md-direction="up" class="md-scale md-fab-bottom-left">
      <md-fab-trigger>
        <md-button md-colors="{background: 'blue'}" aria-label="menu" class="md-fab"><i class="fa fa-bars"></i></md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button aria-label="Like" class="md-fab md-raised" ng-click="ctrl.handleLikePoll(1)">
          <i class="fa fa-thumbs-o-up"></i>
          <md-tooltip class="d-md-none" md-direction="right" md-visible="isOpen">{{:: 'LB_LIKE' | translate }}</md-tooltip>
        </md-button>
        <md-button aria-label="Dislike" class="md-fab md-raised" ng-click="ctrl.handleLikePoll(2)">
          <i class="fa fa-thumbs-o-down"></i>
          <md-tooltip class="d-md-none" md-direction="right" md-visible="isOpen">{{:: 'LB_DISLIKE' | translate }}</md-tooltip>
        </md-button>
        <md-button aria-label="Comment" class="md-fab md-raised" ng-click="ctrl.handleStartTypeComment()">
          <i class="fa fa-commenting"></i>
          <md-tooltip class="d-md-none" md-direction="right" md-visible="isOpen">{{:: 'LB_COMMENT' | translate }}</md-tooltip>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</section>
<!-- Form đề xuất lựa chọn cho người dùng -->
<div class="aside-backdrop"></div>
<div class="aside-panel">
  <div ng-include="'/modules/polls/client/views/new-opt.client.view.html'"></div>
</div>
<!-- Temlate lấy link vote option -->
<script type="text/ng-template" id="getLinkOptionTemplate">
  <div class="ngdialog-message">
    <!-- Message -->
    <p>{{:: 'LB_VOTE_GET_LINK_MSG' | translate }}</p>
    <!-- Vùng chọn các option -->
    <md-radio-group ng-model="linkOptionData.selected" ng-change="linkOptionData.handleSeletedOption()">
      <md-radio-button ng-repeat="opt in linkOptionData.opts" ng-value="opt._id" class="md-primary">
        {{:: opt.title }}
        </md-radio-button>
    </md-radio-group>
    <!-- Vùng hiển thị url các option -->
    <input class="form-control" ng-model="linkOptionData.url">

    <div class="ngdialog-buttons mg10t">
      <button class="btn btn-default pull-right" ng-click="closeThisDialog()">{{:: 'LB_DONE' | translate }}</button>
      <button class="btn btn-primary pull-right mg5r" copy-to-clipboard text-to-copy="linkOptionData.url">{{:: 'LB_COPY' | translate }}</button>
    </div>
  </div>
</script>