<aside class="aside-menu" ng-controller="HeaderController">
  <div class="aside-profile" ng-if="authentication.user">
    <div class="avatar">
      <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}"/>
    </div>
    <span class="h4-text" ng-bind="authentication.user.displayName"></span>
  </div>
  <nav class="aside-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="admin.dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        Manage data
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('admin.users')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('admin.users')}" href="#"><i class="fa fa-users"></i> Users</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.users.list"><i class="fa fa-list-alt"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.users.new"><i class="fa fa-plus"></i> Add</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('admin.polls')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('admin.polls')}" href="#"><i class="fa fa-list"></i> Polls</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.polls.list"><i class="fa fa-list-alt"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.polls.new"><i class="fa fa-plus"></i> Add</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('admin.categorys')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('admin.categorys')}" href="#"><i class="fa fa-list"></i> Categorys</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.categorys.list"><i class="fa fa-list-alt"></i> List categorys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.categorys.new"><i class="fa fa-plus"></i> Add new</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('admin.tags')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('admin.tags')}" href="#"><i class="fa fa-list"></i> Tags</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.tags.list"><i class="fa fa-list-alt"></i> List tags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="admin.tags.new"><i class="fa fa-plus"></i> Add new</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="admin.widgets"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="admin.charts"><i class="icon-pie-chart"></i> Charts</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('admin.pages')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('admin.pages')}" href="#"><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>