<aside class="aside-menu" ng-controller="HeaderController">
  <div class="aside-profile" ng-if="authentication.user">
    <img class="aside-avatar pull-left" ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}"
    />
    <span class="h4-text">{{authentication.user.displayName}}</span>
    <div class="clearfix"></div>
  </div>
  <div class="aside-search">
    <div class="quick-search">
      <input ng-model="search_key" type="text" class="form-control quick-search-input" name="search" placeholder="Search...">
      <a class="undecorated-link quick-search-submit" type="submit" ng-click="search()"><i class="fa fa-search"></i></a>
      <a class="undecorated-link quick-search-advance" type="button" ui-sref="search"><i class="fa fa-cogs"></i></a>
    </div>
  </div>
  <nav class="aside-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="home"><i class="fa fa-newspaper-o"></i> Feeds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="categorys.list"><i class="fa fa-list"></i> Categorys</a>
      </li>
      <li class="nav-item" ng-show="isAdmin">
        <a class="nav-link" ui-sref-active="active" ui-sref="admin.dashboard"><i class="fa fa-tachometer"></i> Admin</a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">Profile</li>
      <li class="nav-item" ng-show="authentication.user">
        <a class="nav-link" ui-sref-active="active" ui-sref="profile.info({ userId: authentication.user._id })"><i class="fa fa-user-circle"></i> View Profile</a>
      </li>
      <li class="nav-item" ng-show="authentication.user">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.profile"><i class="fa fa-pencil-square-o"></i> Edit Profile</a>
      </li>
      <li class="nav-item" ng-show="authentication.user">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.picture"><i class="fa fa-file-image-o"></i> Change Profile Picture</a>
      </li>
      <li class="nav-item" ng-show="authentication.user && authentication.user.provider === 'local'">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.password"><i class="fa fa-lock"></i> Change Password</a>
      </li>
      <li class="nav-item" ng-show="authentication.user">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.accounts"><i class="fa fa-facebook"></i> Manage Social Accounts</a>
      </li>
      <li class="nav-item" ng-show="authentication.user">
        <a class="nav-link" href="/api/auth/signout" target="_self"><i class="fa fa-sign-out"></i> Sign Out</a>
      </li>
      <li class="nav-item" ng-show="!authentication.user">
        <a class="nav-link" ui-sref="authentication.signin"><i class="fa fa-sign-in"></i> Sign In</a>
      </li>
      <li class="nav-item" ng-show="!authentication.user">
        <a class="nav-link" ui-sref="authentication.signup"><i class="fa fa-download"></i> Sign Up</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Notifications<span class="badge badge-info">NEW</span>
      </li>
    </ul>
  </nav>
</aside>