<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand"></a>
  </div>
  <nav class="collapse navbar-collapse" uib-collapse="!isCollapsed" role="navigation">

    <!-- Main menu -->
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type"
        ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>

    <!-- User login -->
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>

    <!-- User profile -->
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="profile.info({ userId: authentication.user._id })">Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Manage Social Accounts</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Notifications -->
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" uib-dropdown ui-sref-active="active">
        <a class="dropdown-toggle notif-dropdown-toggle" uib-dropdown-toggle role="button">
          <span class="fa fa-bell-o fa-lg"></span>
          <span class="notif-number" ng-bind="uncheckNotifs" ng-show="uncheckNotifs > 0"></span>
        </a>
        <ul class="dropdown-menu notifis-list mg2t" role="menu">
          <a ng-repeat="notif in notifs" ui-sref="{{notif.state}}({ pollId: notif.poll._id, notif: notif._id })" class="notifis-list-item">
            <div class="user-avatar pull-left">
              <img src="{{notif.from.profileImageURL}}" alt="{{notif.from.displayName}}">
            </div>
            <small>{{notif.from.displayName}}</small>
            <small class="default-text">{{notif.content}}</small>
            <small>{{notif.poll.title}}</small>
            <div class="clearfix"></div>
          </a>
          <li class="text-center">
            <a ui-sref="notifs.list">See all notifications</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Search -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" role="button" uib-dropdown-toggle>
          <i class="fa fa-search fa-lg"></i>
        </a>
        <ul class="dropdown-menu notifis-list mg2t pd12x" role="menu" ng-click="$event.stopPropagation()">
          <form ng-submit="search()">
            <div class="form-group mgnb quick-search">
              <!--<span class="input-group-addon"><a class="btn-secondary undecorated-link default-text" type="button" ui-sref="search"><i class="fa fa-cogs"></i></a></span>-->
              <input ng-model="search_key" type="text" class="form-control quick-search-input" name="search" placeholder="Search...">
              <a class="undecorated-link" ng-click="search()"><i class="fa fa-search quick-search-submit"></i></a>
            </div>
          </form>
        </ul>
      </li>
    </ul>

  </nav>
  <div class="clearfix"></div>
</div>