<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <ul class="list-group">
      <li ng-repeat="opt in vm.opts" class="list-group-item">
        <h4 class="list-group-item-heading" ng-bind="opt.title"></h4>
      </li>
    </ul>
    <button class="btn btn-primary btn-sm" ng-click="vm.send_vote()">Vote</button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <ul class="opts" ng-controller="OptsInPollController">
      <li ng-repeat="opt in vm.opts | orderBy: '-voteCnt'">
        <div class="opt_image pull-left">
          <img src="{{opt.image}}" alt="{{opt.title}}" class="img-rounded">
        </div>
        <span ng-bind="opt.title"></span>
        <span> ({{dynamic}}/{{max}})</span>
        <progressbar max="max" value="dynamic"></progressbar>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  <hr>
</div>
