<section class="container">
  <div class="page-header">
    <h3 ng-bind="vm.opt.name"></h3>
  </div>
  <div class="pull-right" ng-show="vm.opt.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="opts.edit({ optId: vm.opt._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.opt.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.opt.user"
            ng-bind="vm.opt.user.displayName"></span>
      <span ng-if="!vm.opt.user">Deleted User</span>
    </em>
  </small>
  <p class="text-justify" ng-bind-html="vm.opt.body | nl2br"></p>
</section>
