<section class="container animated fadeIn mg6t">
  <div class="row">
    <div class="col-xs-12 pdn">
      <div class="card">
        <div class="card-header">
          <strong class="card-title" style="text-transform: uppercase;">{{:: 'LB_POLICY' | translate }}</strong>
        </div>
        <hr class="mgn">
        <div class="card-body">
          <p>{{:: 'LB_POLICY_1' | translate }}</p>
          <p>{{:: 'LB_POLICY_2' | translate }}</p>
          <p>{{:: 'LB_POLICY_3' | translate }}</p>
          <br>
          <p>{{:: 'LB_POLICY_4' | translate }}</p>
          <p>{{:: 'LB_POLICY_5' | translate }}</p>
          <br>
          <p>{{:: 'LB_POLICY_6' | translate }}</p>
          <p>{{:: 'LB_POLICY_7' | translate }}</p>
          <br>
          <p>{{:: 'LB_POLICY_8' | translate }}</p>
          <p>{{:: 'LB_POLICY_9' | translate }}</p>
          <p>{{:: 'LB_POLICY_10' | translate }}</p>
          <p>{{:: 'LB_POLICY_11' | translate }}</p>
          <br>
          <p>{{:: 'LB_POLICY_12' | translate }}</p>
          <br>
          <p>{{:: 'LB_POLICY_13' | translate }}</p>
          <p>{{:: 'LB_POLICY_14' | translate }}</p>
          <p>{{:: 'LB_POLICY_15' | translate }}</p>
          <p>{{:: 'LB_POLICY_16' | translate }}</p>
          <p>{{:: 'LB_POLICY_17' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>