<section class="container animated fadeIn mg6t">
    <div class="row">
      <div class="col-xs-12 pdn">
        <div class="card">
          <div class="card-header">
            <strong class="card-title" style="text-transform: uppercase;">{{:: 'LB_POLICY' | translate }}</strong>
          </div>
          <hr class="mgn">
          <div class="card-body">
            <p>{{:: 'LB_TERM_1' | translate }}</p>
            <p>{{:: 'LB_TERM_2' | translate }}</p>
            <p>{{:: 'LB_TERM_3' | translate }}</p>
            <p>{{:: 'LB_TERM_4' | translate }}</p>
            <p>{{:: 'LB_TERM_5' | translate }}</p>
            <p>{{:: 'LB_TERM_6' | translate }}</p>
            <p>{{:: 'LB_TERM_7' | translate }}</p>
            <p>{{:: 'LB_TERM_8' | translate }}</p>
            <br>
            <p>{{:: 'LB_TERM_9' | translate }}</p>
            <p>{{:: 'LB_TERM_10' | translate }}</p>
            <p>{{:: 'LB_TERM_11' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>