.authentication-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #267ED5; }
  
@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.bgcover {
  width: 100%;
  height: 320px;
  position: relative; }
  .bgcover .cover {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url('../img/covers/default.jpg');*/
    background-origin: content-box;}
  .bgcover .cover .container {
    height: 100%;
    position: relative; }
    .bgcover .cover .container .cover-avatar {
      position: absolute;
      left: 0;
      bottom: -64px; 
      border: 4px solid white;
      width: 128px;
      height: 128px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      .bgcover .cover .container .cover-avatar img {
        width: 100%;
        height: 100%; }
    .bgcover .cover .container .cover-name {
      font-size: 2.2rem;
      color: #fff;
      position: absolute;
      left: 140px;
      bottom: 0; }
    .bgcover .cover .container .cover-menu {
      position: absolute;
      bottom: -24px;
      height: 48px;
      width: 48px;
      right: 0; }
      .bgcover .cover .container .cover-menu .btn-fab {
        width: 48px;
        height: 48px;
        background-color: #267ED5;
        color: #fff;
        border-radius: 50%;
        border: none; }
      .bgcover .cover .container .cover-menu .btn-fab:hover {
        background-color: #1a5895; }
      .bgcover .cover .container .cover-menu .btn-fab:focus {
        background-color: #267ED5;
        outline: none; }

@media (max-width: 767px) {
  .bgcover {
    height: 250px; }
    .bgcover .cover {
      height: 200px; }
      .bgcover .cover .container .cover-avatar {
        left: 6px;
        bottom: -48px;
        height: 96px;
        width: 96px; }
      .bgcover .cover .container .cover-name {
        font-size: 1.8rem;
        left: 112px; }
      .bgcover .cover .container .cover-menu {
        right: 6px;
        bottom: -18px;
        height: 36px;
        width: 36px; }
        .bgcover .cover .container .cover-menu .btn-fab {
          height: 36px;
          width: 36px; }
}

@media (max-width: 479px) {
  .bgcover {
    height: 135px; }
    .bgcover .cover {
      height: 100px; }
      .bgcover .cover .container .cover-avatar {
        left: 6px;
        bottom: -32px;
        height: 64px;
        width: 64px; }
      .bgcover .cover .container .cover-name {
        font-size: 1.3rem;
        left: 76px; }
      .bgcover .cover .container .cover-menu {
        right: 5px;
        bottom: -18px;
        height: 36px;
        width: 36px; }
        .bgcover .cover .container .cover-menu .btn-fab {
          height: 36px;
          width: 36px; }
}


.profile-menu-list {
  border: none !important;
  margin: 0;
  border-radius: 0;
}
.profile-menu-list .list-group-item {
  border: none !important;
  border-radius: 0;
}

.profile-menu-list {
  margin: 0;
  padding: 0;
}

.profile-menu-list li {
  list-style:none;
  padding: 5px;
  cursor: pointer;
}

.profile-menu-list li a {
  color: #666;
  text-decoration: none;
  width: 100%;
  display: block;
}

.profile-menu-list li:hover {
  background-color: #EEEEEE;
}

.profile-menu-list li.active {
  background-color: #d6d6d6;
}

.profile-stats {
  text-align: center;
  font-size: 35px;
  line-height: 25px;
  margin-top: 10px;
  /*margin-bottom: -20px;*/
}
.profile-stats .stat {
  display: inline-block;
  min-width: 100px;
  margin-bottom: 20px;
}
.profile-stats .stat .stat-value {
  color: #555;
}
.profile-stats .stat .stat-label {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
}

.profile-joined {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #777;
}

.timeline {
  border-left: 8px solid #42A5F5;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #555;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
  background-color: #fff; }
  .timeline h1,
  .timeline h2,
  .timeline h3 {
    font-size: 1.4em;}
  .timeline .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative; }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0; }
  .timeline .event:before {
    left: -177.5px;
    color: #212121;
    content: attr(data-date);
    text-align: right;
    font-size: 16px;
    min-width: 120px; }
  .timeline .event:after {
    box-shadow: 0 0 0 8px #267ED5;
    left: -30px;
    background: #212121;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
/**/
/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
}