.aside {
  top: calc(100% / 2) !important;
  min-height: calc(100% / 2) !important;
  min-width: 100% !important;
}

/*.aside .aside-dialog .aside-header .close {
}*/

.post-header,
.post-body,
.poll-header,
.poll-body,
.post-footer,
.poll-footer {
  position: relative;
}
.poll-body p,
.post-body p{
  display: inline-block;
}
.user-avatar {
  margin-right: 10px;
  position: relative;
  border-radius: 3px;
  min-width: 46px;
  min-height: 46px;
}
.user-avatar img {
  border-radius: 3px;
  width: 46px;
  height: 46px;
}

.progress {
  height: 24px !important;
  margin-bottom: 10px !important;
}
.progress-bar {
  padding: 2px 0;
  font-size: 14px !important;
}
.progress-bar span {
  margin-left: 12px;
}
.opt1 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #ffb9c5 0%, #ff748c 100%) !important;*/
}
.opt2 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #008080 0%, #007373 100%) !important;*/
}
.opt3 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #ff7373 0%, #E56767 100%) !important;*/
}
.opt4 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #800080 0%, #730073 100%) !important;*/
}
.opt5 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #40e0d0 0%, #39c9bb 100%) !important;*/
}
.opt6 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #f6546a 0%, #dd4b5f 100%) !important;*/
}
.opt7 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #66cdaa 0%, #5bb899 100%) !important;*/
}
.opt8 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;*/
}
.opt9 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #ffa3a3 0%, #f6546a 100%) !important;*/
}
.opt10 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #8c8c8c 0%, #404040 100%) !important;*/
}
.opt11 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;*/
}
.opt12 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;*/
}
.opt13 {
  background-color: #d9edf7 !important;
  /*background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;*/
}
.opt14 {
  background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;
}
.opt15 {
  background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;
}
.opt16 {
  background-image: linear-gradient(to bottom, #79d0cc 0%, #20b2aa 100%) !important;
}

.poll_item_info {
  display: inline !important;
}

.poll_item_info:not(:last-child) {
  margin-right: 10px;
}

.sort {
  max-width: 200px;
}

.poll_info {
  display: flex;
}

.poll_info_item {
  min-width: 40px;
  height: 36px;
  margin-left: 10px;
}

.poll_info_item span {
  display: block;
  height: 50%;
  width: 100%
}

.span_btn {
  cursor: pointer;
}

.reply-input {
  width: calc(100% - 56px);
  resize: none;
  min-height: 46px;
  max-height: 400px;
  padding-left: 5px;
  padding-right: 5px;
  transition: height 50ms ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border: none;
}

.opt_image {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  background: transparent;
}

.opt_image img {
  margin-top: 4px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}