.aside {
  top: calc(100% / 2) !important;
  min-height: calc(100% / 2) !important;
  min-width: 100% !important;
}

/*.aside .aside-dialog .aside-header .close {
}*/

.poll-header {
  position: relative;
}
.user-avatar {
  margin-right: 10px;
  position: relative;
  border-radius: 3px;
  min-width: 46px;
  min-height: 46px;
}
.user-avatar img {
  border-radius: 3px;
  width: 46px;
  height: 46px;
}
.poll-body {
  position: relative;
}
.poll-footer {
  position: relative;
  margin-bottom: 10px;
}

.progress-bar-color-1 {
    background-color: #ffc0cb !important;
}
.progress-bar-color-2 {
    background-color: #008080 !important;
}
.progress-bar-color-3 {
    background-color: #ff7373 !important;
}
.progress-bar-color-4 {
    background-color: #800080 !important;
}
.progress-bar-color-5 {
    background-color: #40e0d0 !important;
}
.progress-bar-color-6 {
    background-color: #f6546a !important;
}
.progress-bar-color-7 {
    background-color: #66cdaa !important;
}




.poll_item_title {
  margin-top: 0 !important;
  text-decoration: none !important;
}







.poll_item_title a {
  text-decoration: none !important;
}

.poll_item_info {
  display: inline !important;
}

.poll_item_info:not(:last-child) {
  margin-right: 10px;
}

.poll_item_body {
  display: inline !important;
}

.sort {
  max-width: 200px;
}

.poll_info {
  display: flex;
}

.poll_info_item {
  min-width: 40px;
  height: 36px;
  margin-left: 10px;
}

.poll_info_item span {
  display: block;
  height: 50%;
  width: 100%
}

.like_btn {
  cursor: pointer;
}

.link_btn {
  text-decoration: none !important;
  cursor: pointer !important;
}