.aside {
  top: calc(100% / 2) !important;
  min-height: calc(100% / 2) !important;
  min-width: 100% !important;
}

/*.aside .aside-dialog .aside-header .close {
}*/

.poll-header {
  position: relative;
}
.user-avatar {
  margin-right: 10px;
  position: relative;
  border-radius: 3px;
  min-width: 46px;
  min-height: 46px;
}
.user-avatar img {
  border-radius: 3px;
  width: 46px;
  height: 46px;
}
.poll-body {
  position: relative;
}
.poll-footer {
  position: relative;
  margin-bottom: 10px;
}
.progress {
  height: 30px !important;
  margin-bottom: 10px !important;
}
.progress-bar {
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  text-align: center;
}

.progress-bar-color-1 {
  background-image: linear-gradient(to bottom, #ffc0cb 0%, #e5acb6 100%) !important;
}
.progress-bar-color-2 {
  background-image: linear-gradient(to bottom, #008080 0%, #007373 100%) !important;
}
.progress-bar-color-3 {
  background-image: linear-gradient(to bottom, #ff7373 0%, #E56767 100%) !important;
}
.progress-bar-color-4 {
  background-image: linear-gradient(to bottom, #800080 0%, #730073 100%) !important;
}
.progress-bar-color-5 {
  background-image: linear-gradient(to bottom, #40e0d0 0%, #39c9bb 100%) !important;
}
.progress-bar-color-6 {
  background-image: linear-gradient(to bottom, #f6546a 0%, #dd4b5f 100%) !important;
}
.progress-bar-color-7 {
  background-image: linear-gradient(to bottom, #66cdaa 0%, #5bb899 100%) !important;
}




.poll_item_title {
  margin-top: 0 !important;
  text-decoration: none !important;
}







.poll_item_title a {
  text-decoration: none !important;
}

.poll_item_info {
  display: inline !important;
}

.poll_item_info:not(:last-child) {
  margin-right: 10px;
}

.poll_item_body {
  display: inline !important;
}

.sort {
  max-width: 200px;
}

.poll_info {
  display: flex;
}

.poll_info_item {
  min-width: 40px;
  height: 36px;
  margin-left: 10px;
}

.poll_info_item span {
  display: block;
  height: 50%;
  width: 100%
}

.like_btn {
  cursor: pointer;
}

.link_btn {
  text-decoration: none !important;
  cursor: pointer !important;
}