.chat-message {
  margin-top: 10px;
  padding-top: 10px;
}
.chat-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}
.chat-message-details {
  margin-left: 10px;
}
.chat-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.test-quick-menu {
  position: fixed;
  left: 3px;
  bottom: 3px; }

.aside-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background-color: #fff;
  transition: height 0.25s ease-in; }
.aside-panel-open .aside-panel {
  height: 80%; }