<section class="container animated fadeIn mg6t">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="guide.signup">{{:: 'LB_GUIDE_SIGNUP' | translate }}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="guide.poll">{{:: 'LB_GUIDE_POLL' | translate }}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="guide.quick-poll">{{:: 'LB_GUIDE_QUICK_POLL' | translate }}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="guide.vote">{{:: 'LB_GUIDE_VOTE' | translate }}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="guide.contact">{{:: 'LB_GUIDE_CONTACT' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <ui-view></ui-view>
    </div>
  </div>
</section>