<div class="container">
  <div class="row">
    <div class="cover" style="background-image: url({{user.coverImageURL}});">
      <div class="container">
        <div class="profile-avatar">
          <img src="{{user.profileImageURL}}" alt="{{user.displayName}}">
        </div>
        <div class="profile-menu">
          <md-menu md-offset="-10 60" md-position-mode="target-right target">
            <button class=" btn-fab" ng-click="$mdMenu.open($event)" aria-label="Open profile menu">
              <i class="fa fa-ellipsis-v fa-lg"></i>
            </button>
            <md-menu-content>
              <md-menu-item>Edit profile</md-menu-item>
              <md-menu-item>Edit profile</md-menu-item>
              <md-menu-item>Edit profile</md-menu-item>
              <md-menu-item>Edit profile</md-menu-item>
              <md-menu-item>Edit profile</md-menu-item>
              <md-menu-item>Edit profile</md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>
  </div>
</div>