<div class="container">
  <div class="row">
    <div class="cover" style="background-image: url({{user.coverImageURL}});">
      <div class="container">
        <div class="profile-avatar">
          <img src="{{user.profileImageURL}}" alt="{{user.displayName}}">
        </div>
        <div class="profile-name">
          <span>{{user.displayName}}</span>
        </div>
        <div class="profile-menu">
          <md-menu md-offset="-10 60" md-position-mode="target-right target">
            <button class=" btn-fab" ng-click="$mdMenu.open($event)" aria-label="Open profile menu">
              <i class="fa fa-ellipsis-v fa-lg"></i>
            </button>
            <md-menu-content>
              <ul class="profile-menu-list">
                <li ng-if="isCurrentOwner"><a ui-sref="settings.profile">Edit profile</a></li>
                <li><a ui-sref="settings.profile">Profile</a></li>
                <hr class="mg10t mg10b"/>
                <li><a ui-sref="settings.profile">Polls</a></li>
                <li><a ui-sref="settings.profile">Comments</a></li>
                <li><a ui-sref="settings.profile">Voted</a></li>
                <hr class="mg10t mg10b"/>
                <li><a ui-sref="settings.profile">Following</a></li>
                <li ng-if="isCurrentOwner"><a ui-sref="settings.profile">Bookmarks</a></li>
                <li ng-if="isCurrentOwner"><a ui-sref="settings.profile">Viewed</a></li>
                <li ng-if="isCurrentOwner"><a ui-sref="settings.profile">Liked</a></li>
                <li ng-if="isCurrentOwner"><a ui-sref="settings.profile">Disliked</a></li>
              </ul>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="row profile-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="home">Home</a></li>
      <!--<li class="breadcrumb-item"><a href="#">Library</a></li>-->
      <li class="breadcrumb-item active">{{user.displayName}}</li>
    </ol>
  </div>
  <div class="row profile-stats">
    <div class="stat">
      <div class="stat-value">19</div>
      <span class="stat-label">Polls</span>
    </div>
    <div class="stat">
      <div class="stat-value">1111</div>
      <span class="stat-label">Profile visits</span>
    </div>
    <div class="stat">
      <div class="stat-value">23</div>
      <span class="stat-label">Polls</span>
    </div>
    <div class="stat">
      <div class="stat-value">12</div>
      <span class="stat-label">Polls</span>
    </div>
  </div>
  <div class="row profile-joined">
    <span>join </span>
    <strong><span am-time-ago="user.created"></span></strong>
    <span>last online</span>
    <strong><span>****</span></strong>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pdn h500">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pdn h500">
    </div>
  </div>
</div>