<div class="row">
  <div class="col-xs-12 pd6x">
    <div class="form-group">
      <a ui-sref="admin.users.list" class="btn btn-default pull-right btn-sm">List</a>
      <a ng-if="vm.user._id" ng-click="vm.handleDeleteUser()" class="btn btn-danger pull-right btn-sm mg5r">Delete</a>
      <a ng-if="vm.user._id" ui-sref="profile.info({ userId: vm.user.slug })" class="btn btn-info btn-sm pull-right mg5r">View profile</a>
      <a ng-if="vm.user._id && vm.user.status === 1" ng-click="vm.handlePushVerify()" class="btn btn-default btn-sm pull-right mg5r">Send mail push</a>
      <a ng-if="vm.user._id && vm.user.status === 2" ng-click="vm.handleBlockUser()" class="btn btn-default btn-sm pull-right mg5r">Block</a>
      <a ng-if="vm.user._id && vm.user.status === 3" ng-click="vm.handleUnBlockUser()" class="btn btn-default btn-sm pull-right mg5r">Unblock</a>
      <a ng-if="vm.user._id && vm.user.provider === 'local'" ng-click="vm.handleResetPassword()" class="btn btn-default btn-sm pull-right mg5r">Reset pass</a>
      <a class="btn btn-primary pull-right mg5r" ng-click="vm.handleSaveUser(userForm.$valid)">{{ (vm.user._id) ? 'Update' : 'Save' }}</a>
    </div>
  </div>
</div>

<div class="row mg12t">
  <div class="card">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-user"></i> {{ (user._id) ? 'Edit user' : 'Add new' }}</strong>
      <a class="card-link" ui-sref="admin.users.list"><i class="fa fa-arrow-circle-left"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <form name="userForm" ng-submit="vm.handleSaveUser(userForm.$valid)" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <!-- First name-->
            <div class="form-group col-sm-6" show-errors>
              <label for="displayName">Name</label>
              <input type="text" id="displayName" name="displayName" class="form-control" ng-model="vm.user.displayName" placeholder="Display Name"
                required>
              <div ng-messages="userForm.displayName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Display is required.</p>
              </div>
            </div>
            <!-- Roles-->
            <div class="form-group col-sm-6" show-errors>
              <label class="control-label" for="roles">Roles <small>(Formart: 'user', 'user, admin')</small></label>
              <div class="controls">
                <input class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required />
                <div ng-messages="userForm.roles.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">At least one role is required.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Email-->
            <div class="form-group col-sm-6" show-errors>
              <label for="email">Email <small>(Formart: abc@xyz.com)</small></label>
              <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" required>
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
            <!-- Password-->
            <div class="form-group col-sm-6" show-errors ng-if="!vm.user._id">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="vm.user.password" placeholder="Password" password-validator required>
              <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6" ng-if="vm.user._id"></div>
          </div>
        </fieldset>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>