<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <a ui-sref="admin.users.list" class="btn btn-default pull-right btn-sm">List</a>
      <a ui-sref="admin.users.edit({ userId: vm.user._id })" class="btn btn-success pull-right btn-sm mg5r">Edit</a>
      <a ng-click="vm.handleDeleteUser()" class="btn btn-danger pull-right btn-sm mg5r">Delete</a>
      <a ui-sref="profile.info({ userId: vm.user.slug })" class="btn btn-info btn-sm pull-right mg5r">View profile</a>
      <a ng-if="vm.user.status === 1" ng-click="vm.handlePushVerify()" class="btn btn-default btn-sm pull-right mg5r">Send mail push</a>
      <a ng-if="vm.user.status === 2" ng-click="vm.handleBlockUser()" class="btn btn-default btn-sm pull-right mg5r">Block</a>
      <a ng-if="vm.user.status === 3" ng-click="vm.handleUnBlockUser()" class="btn btn-default btn-sm pull-right mg5r">Unblock</a>
      <a ng-if="vm.user.provider === 'local'" ng-click="vm.handleResetPassword()" class="btn btn-default btn-sm pull-right mg5r">Reset pass</a>
    </div>
  </div>
</div>
<!-- Info -->
<div class="row mg12t">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <img src="{{::vm.user.profileImageURL}}" alt="{{::vm.user.displayName}}" class="img-thumbnail user-profile-picture">
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    <table class="table">
      <tr>
        <td>Name:</td>
        <td>{{:: vm.user.displayName }}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{:: vm.user.email }}</td>
      </tr>
      <tr>
        <td>Provider:</td>
        <td>{{:: vm.user.provider }}</td>
      </tr>
      <tr>
        <td>Roles:</td>
        <td>{{:: vm.user.roles}}</td>
      </tr>
      <tr>
        <td>Last login:</td>
        <td><span am-time-ago="vm.user.lastLogin"></span></td>
      </tr>
      <tr>
        <td>Created:</td>
        <td>{{:: vm.user.created | LLL_format }}</td>
      </tr>
    </table>
  </div>
</div>
<!-- Report -->
<div class="row mg12t">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <tr>
        <th class="text-center">Rank</th>
        <th class="text-center">Login</th>
        <th class="text-center">Polls</th>
        <th class="text-center">Comments</th>
        <th class="text-center">Votes</th>
        <th class="text-center">Like Dislike</th>
        <th class="text-center">Viewed</th>
        <th class="text-center">Suggested</th>
        <th class="text-center">Reported</th>
        <th class="text-center">Be reported</th>
        <th class="text-center">Profile view</th>
      </tr>
      <tr>
        <td class="text-center">{{:: vm.user.report.rank}}</td>
        <td class="text-center">{{:: vm.user.loginCnt}}</td>
        <td class="text-center">{{:: vm.user.report.pollCnt}}</td>
        <td class="text-center">{{:: vm.user.report.cmtCnt}}</td>
        <td class="text-center">{{:: vm.user.report.voteCnt}}</td>
        <td class="text-center">{{:: vm.user.report.likeCnt}}</td>
        <td class="text-center">{{:: vm.user.report.viewedCnt}}</td>
        <td class="text-center">{{:: vm.user.report.suggestCnt}}</td>
        <td class="text-center">{{:: vm.user.report.reportCnt}}</td>
        <td class="text-center">{{:: vm.user.report.bereportCnt}}</td>
        <td class="text-center">{{:: vm.user.report.viewCnt}}</td>
      </tr>
      <tr>
        <td></td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListLogin()">View</button></td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListPolls()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListComments()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListVotes()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListLikes()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListVieweds()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListSuggests()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListReports()">View</td>
        <td class="text-center"><button class="btn btn-default btn-sm" ng-click="vm.handleViewListBeReports()">View</td>
        <td class="text-center"></td>
      </tr>
    </table>
  </div>
</div>
<!-- Login -->
<div class="row mg12t" id="login-table">
  <div class="col-xs-12">
    <form class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
    <table class="table table-bordered">
      <thead class="bg-primary">
        <tr>
          <th>Ip</th>
          <th>Agent</th>
          <th>Login time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="login in loginsPagedItems">
          <td>{{ login.ip }}</td>
          <td>{{ login.agent }}</td>
          <td><span ng-bind="login.created"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- logins -->
<div class="row">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> Login logs</strong>
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="logins">
          <thead class="bg-primary">
            <tr>
              <th>Ip</th>
              <th>Agent</th>
              <th>Login time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="login in loginsPagedItems">
              <td>{{ login.ip }}</td>
              <td>{{ login.agent }}</td>
              <td><span ng-bind="login.created"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="loginFilterLength" ng-model="loginsCurrentPage"
        ng-change="loginPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Polls -->
<div class="row" ng-show="pollsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List polls</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="pollSearch" ng-change="figureOutItemsToDisplay_polls()"
        placeholder="Search key...">
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="polls">
          <thead class="thead-default">
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Sercurity</th>
              <th>Likes count</th>
              <th>Views count</th>
              <th>Comments count</th>
              <th>Votes count</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="poll in pollsPagedItems">
              <td>{{ poll.title }}</td>
              <td>{{ poll.category.name }}</td>
              <td>{{ (poll.isPublic) ? 'Public' : 'Private' }}</td>
              <td>{{ poll.likeCnt | shortNumber }}</td>
              <td>{{ poll.viewCnt | shortNumber }}</td>
              <td>{{ poll.cmtCnt | shortNumber }}</td>
              <td>{{ poll.voteCnt | shortNumber }}</td>
              <td><span ng-bind="poll.created | date:'mediumDate'"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: poll._id })"><i class="icon-eye icons"></i>
                  </a>
                  <a class="mg5l" ui-sref="polls.edit({ pollId: poll._id })"><i class="icon-note icons"></i>
                  </a>
                  <a class="mg5l" ng-click="handleDeletePoll(poll)"><i class="icon-trash icons"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="pollFilterLength" ng-model="pollsCurrentPage"
        ng-change="pollPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Comments -->
<div class="row" ng-show="cmtsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List comments</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="cmtSearch" ng-change="figureOutItemsToDisplay_cmts()" placeholder="Search key...">
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="cmts">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Content</th>
              <th>Like count</th>
              <th>Created</th>
              <th>Last edited</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cmt in cmtsPagedItems">
              <td>{{ cmt.poll.title }}</td>
              <td><span ng-bind="cmt.body"></span></td>
              <td>{{ cmt.likeCnt | shortNumber }}</td>
              <td><span ng-bind="cmt.created"></span></td>
              <td><span ng-bind="cmt.updated"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: cmt.poll._id })"><i class="icon-eye icons"></i>
                  </a>
                  <a class="mg5l" ng-click="delete_cmt(cmt)"><i class="icon-trash icons"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="cmtFilterLength" ng-model="cmtsCurrentPage"
        ng-change="cmtPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Votes -->
<div class="row" ng-show="votesPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List votes</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="voteSearch" ng-change="figureOutItemsToDisplay_votes()"
        placeholder="Search key...">
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="votes">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Voted options</th>
              <th>Updated</th>
              <th>First voted</th>
              <th>Last voted</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vote in votesPagedItems">
              <td>{{ vote.poll.title }}</td>
              <td><span ng-bind="vote.opts"></span></td>
              <td>{{ vote.updateCnt | shortNumber }}</td>
              <td><span ng-bind="vote.updated"></span></td>
              <td><span ng-bind="vote.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: vote.poll._id })"><i class="icon-eye icons"></i>
                  </a>
                  <a class="mg5l" ng-click="delete_vote(vote)"><i class="icon-trash icons"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="voteFilterLength" ng-model="votesCurrentPage"
        ng-change="votePageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Poll reports -->
<div class="row" ng-show="reportsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List reported</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="reportSearch" ng-change="figureOutItemsToDisplay_reports()"
        placeholder="Search key...">
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="reports">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Reason</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="report in reportsPagedItems">
              <td>{{ report.poll.title }}</td>
              <td><span ng-bind="report.reason"></span></td>
              <td><span ng-bind="report.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: report.poll._id })"><i class="icon-eye icons"></i>
                  </a>
                  <a class="mg5l" ng-click="delete_report(report)"><i class="icon-trash icons"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="reportFilterLength" ng-model="reportsCurrentPage"
        ng-change="reportPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Poll bereports -->
<div class="row" ng-show="bereportsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List be reported</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="bereportSearch" ng-change="figureOutItemsToDisplay_bereports()"
        placeholder="Search key...">
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="bereports">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Reason</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bereport in bereportsPagedItems">
              <td>{{ bereport.poll.title }}</td>
              <td><span ng-bind="bereport.reason"></span></td>
              <td><span ng-bind="bereport.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: bereport.poll._id })"><i class="icon-eye icons"></i>
                  </a>
                  <a class="mg5l" ng-click="delete_bereport(bereport)"><i class="icon-trash icons"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="bereportFilterLength" ng-model="bereportsCurrentPage"
        ng-change="bereportPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Poll suggested -->
<div class="row" ng-show="suggestsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List suggested options</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="suggestSearch" ng-change="figureOutItemsToDisplay_suggests()"
        placeholder="Search key...">
      <a class="card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="suggests">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Option title</th>
              <th>Status</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="suggest in suggestsPagedItems">
              <td>{{ suggest.poll.title }}</td>
              <td><span ng-bind="suggest.title"></span></td>
              <td ng-class="{ 'bg-primary': suggest.status === 1, 'bg-warning': suggest.status === 2, 'bg-danger': suggest.status === 3 }">{{ (suggest.status === 1) ? 'Approved' : (suggest.status === 2) ? 'Waiting' : 'Rejected' }}</td>
              <td><span ng-bind="suggest.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a ui-sref="admin.polls.view({ pollId: suggest.poll._id })"><i class="icon-eye icons"></i>
                  </a>
                  <a class="mg5l" ng-click="delete_suggest(suggest)"><i class="icon-trash icons"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="suggestFilterLength" ng-model="suggestsCurrentPage"
        ng-change="suggestPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>