<div class="container" ng-controller="ProfileInfoController">
  <div class="row profile-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="home">Home</a></li>
      <!--<li class="breadcrumb-item"><a href="#">Library</a></li>-->
      <li class="breadcrumb-item active">{{profile.displayName}}</li>
    </ol>
  </div>
  <div class="row profile-stats">
    <div class="stat">
      <div class="stat-value">{{report.pollCnt}}</div>
      <span class="stat-label">Polls</span>
    </div>
    <div class="stat">
      <div class="stat-value">{{report.viewCnt}}</div>
      <span class="stat-label">Profile visits</span>
    </div>
    <div class="stat">
      <div class="stat-value">{{report.cmtCnt}}</div>
      <span class="stat-label">Comments</span>
    </div>
    <div class="stat">
      <div class="stat-value">12</div>
      <span class="stat-label">Polls</span>
    </div>
  </div>
  <div class="row profile-joined">
    <span>join </span>
    <strong><span am-time-ago="profile.created"></span></strong>
    <span>last online</span>
    <strong><span>****</span></strong>
  </div>
  <div class="row">
    <hr>
  </div>
  <div class="row">
    <ul class="timeline">
      <li class="event" ng-repeat="activity in activitys | filter: activity_filter | orderBy: '-created'">
        <small class="text-muted" am-time-ago="activity.created"></small><br>
        <h3 class="mg5t">
          <span ng-if="activity.type === 1">Created: </span>
          <span ng-if="activity.type === 2">Re: </span>
          <span ng-if="activity.type === 3">Vote: </span>
          <a class="undecorated-link" ui-sref="polls.view({ pollId: activity._id })">{{ activity.title }}</a>
        </h3>
        <!-- Poll -->
        <div ng-if="activity.type === 1" class="text-body" ta-bind="text" ng-model="activity.body" ta-readonly="true"></div>
        <!-- Comment -->
        <p ng-if="activity.type === 2" class="text-justify" ng-bind-html="activity.body | nl2br"></p>
        <!-- Vote -->
        <span ng-if="activity.type === 3">Voted for:</span>
        <span ng-if="activity.type === 3" ng-repeat="opt in activity.opts" ng-class="{'mg5l': !$first}">
          <strong>{{ opt.title }}</strong>
        </span>
      </li>
    </ul>
  </div>
  <div class="row text-center" ng-show="busy">
    <md-progress-circular ng-disabled="!busy" class="md-hue-2 center" md-diameter="20px"></md-progress-circular>
  </div>
</div>