<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="bgcover">
      <div class="cover">
        <div class="container">
          <div class="cover-avatar">

          </div>
          <div class="cover-name"><span>{{profile.displayName}}</span></div>
          <div class="cover-menu">
            <md-menu md-offset="-10 60" md-position-mode="target-right target">
              <button class=" btn-fab" ng-click="$mdMenu.open($event)" aria-label="Open profile menu">
              <i class="fa fa-ellipsis-v fa-lg"></i>
            </button>
              <md-menu-content>
                <ul class="profile-menu-list">
                  <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="settings.profile">Edit profile</a></li>
                  <li ui-sref-active="active"><a ui-sref="profile.info">Profile</a></li>
                  <hr class="mg10t mg10b" />
                  <li ui-sref-active="active"><a ui-sref="profile.polls">Polls</a></li>
                  <li ui-sref-active="active"><a ui-sref="profile.cmts">Comments</a></li>
                  <li ui-sref-active="active"><a ui-sref="profile.votes">Voted</a></li>
                  <hr class="mg10t mg10b" />
                  <li ui-sref-active="active"><a ui-sref="profile.follows">Following</a></li>
                  <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.bookmarks">Bookmarks</a></li>
                  <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.views">Viewed</a></li>
                  <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.likes">Liked</a></li>
                  <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.dislikes">Disliked</a></li>
                </ul>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container animated fadeIn">
  <div class="row">
    <div class="cover">
      <div class="container">
        <div class="profile-avatar">
          <img src="{{profile.profileImageURL}}" alt="{{profile.displayName}}">
        </div>
        <div class="profile-name">
          <span>{{profile.displayName}}</span>
        </div>
        <div class="profile-menu">
          <md-menu md-offset="-10 60" md-position-mode="target-right target">
            <button class=" btn-fab" ng-click="$mdMenu.open($event)" aria-label="Open profile menu">
              <i class="fa fa-ellipsis-v fa-lg"></i>
            </button>
            <md-menu-content>
              <ul class="profile-menu-list">
                <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="settings.profile">Edit profile</a></li>
                <li ui-sref-active="active"><a ui-sref="profile.info">Profile</a></li>
                <hr class="mg10t mg10b"/>
                <li ui-sref-active="active"><a ui-sref="profile.polls">Polls</a></li>
                <li ui-sref-active="active"><a ui-sref="profile.cmts">Comments</a></li>
                <li ui-sref-active="active"><a ui-sref="profile.votes">Voted</a></li>
                <hr class="mg10t mg10b"/>
                <li ui-sref-active="active"><a ui-sref="profile.follows">Following</a></li>
                <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.bookmarks">Bookmarks</a></li>
                <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.views">Viewed</a></li>
                <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.likes">Liked</a></li>
                <li ui-sref-active="active" ng-if="isCurrentOwner"><a ui-sref="profile.dislikes">Disliked</a></li>
              </ul>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div ui-view></div>