<div class="container" ng-controller="ProfileDislikesController">
  <div class="row profile-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="home">Home</a></li>
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="profile.info({ userId: profile._id })">{{profile.displayName}}</a></li>
      <li class="breadcrumb-item active">Disliked</li>
    </ol>
  </div>
  <div class="row mg50t" infinite-scroll="get_polls()" infinite-scroll-distance='2'>
    <div ng-repeat="poll in polls | filter: poll_filter" class="card">
      <div ng-include="'/modules/core/client/views/templates/list-poll.client.template.html'"></div>
    </div>
    <div class="notice notice-warning" ng-show="polls.length === 0 && stopped">
      <strong>Sorry</strong> You has not disliked any polls.
    </div>
  </div>
  <div class="row text-center" ng-show="busy">
    <div class="loader"></div>
  </div>
</div>