<div class="container" ng-controller="ProfileCmtsController">
  <div class="row profile-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="home">Home</a></li>
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="profile.info({ userId: profile._id })">{{profile.displayName}}</a></li>
      <li class="breadcrumb-item active">Comments</li>
    </ol>
  </div>
  <div class="row mg50t" infinite-scroll="get_cmts()" infinite-scroll-distance='2'>
    <div ng-repeat="cmt in cmts | filter: cmt_filter" class="card">
      <div clas="post-header">
        <div class="user-avatar pull-left">
          <a ui-sref="profile.info({userId: profile._id})">
            <img src="{{profile.profileImageURL}}" alt="{{profile.displayName}}">
          </a>
        </div>
        <span class="pull-left">
          <strong><a class="undecorated-link" ui-sref="profile.info({userId: profile._id})" ng-bind="profile.displayName"></a></strong>
          <small class="text-muted">replied on</small>
          <small class="text-muted" am-time-ago="cmt.created"></small>
        </span>
        <br>
        <small ng-if="cmt.to">
          <span class="text-muted">To:&nbsp;</span>
          <a class="undecorated-link">{{cmt.toName}}</a>
        </small>
        <div class="clearfix"></div>
        <hr class="mg5t mg10b">
      </div>
      <div class="post-body">
        <h4><a ui-sref="polls.view({ pollId: cmt.poll._id })">{{cmt.poll.title}}</a></h4>
        <p class="text-justify" ng-bind-html="cmt.body | nl2br"></p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="notice notice-warning" ng-show="polls.length === 0 && stopped">
      <strong>Sorry</strong> {{profile.displayName}} has not commented in any polls.
    </div>
  </div>
  <div class="row text-center" ng-show="busy">
    <md-progress-circular ng-disabled="!busy" class="md-hue-2 center" md-diameter="20px"></md-progress-circular>
  </div>
</div>