<div class="container animated fadeIn mg50b" ng-controller="ProfileVotesController">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="home">{{:: 'LB_HOME' | translate }}</a></li>
      <li class="breadcrumb-item"><a ui-sref="profile.info({ userId: profile.slug })">{{:: profile.displayName}}</a></li>
      <li class="breadcrumb-item active">{{:: 'LB_POLLS_VOTES' | translate }}</li>
    </ol>
  </div>
  <div class="row" infinite-scroll="loadVotes()" infinite-scroll-distance='2'>
    <div ng-repeat="vote in votes | filter: vote_filter" class="card">
      <div class="card-body">

        <div clas="post-header">
          <div class="user-avatar pull-left">
            <a ui-sref="profile.info({userId: profile.slug})">
              <img src="{{:: profile.profileImageURL}}" alt="{{:: profile.displayName}}">
            </a>
          </div>
          <span class="pull-left">
            <strong><a ui-sref="profile.info({userId: profile.slug})">{{:: profile.displayName}}</a></strong>
            <small class="text-muted">{{:: 'LB_PROFILE_VOTE_ON' | translate }}</small>
            <small class="text-muted" am-time-ago="vote.created"></small>
            <br>
            <span class="font-sm text-muted" ng-if="vote.updateCnt > 0">
              {{:: 'LB_PROFILE_VOTE_LAST_CHANGE' | translate }}
              <span class="text-muted" am-time-ago="vote.updated"></span>
            </span>
          </span>
          <div class="clearfix"></div>
          <hr class="mg5y">
        </div>
        <div class="post-body">
          <h3><a ui-sref="polls.view({ pollId: vote.poll.slug })">{{:: vote.poll.title}}</a></h3>
          <span>{{:: 'LB_PROFILE_VOTE_FOR' | translate }}</span>
          <span ng-repeat="opt in vote.opts">
            <strong>{{:: opt.title }}</strong>
            <strong ng-if="!$last">,</strong>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-12 pd6x">
      <div class="notice notice-warning" ng-show="votes.length === 0 && stopped">
        <strong>{{:: 'LB_SORRY' | translate }}</strong>
        <span>{{:: profile.displayName }}</span>
        <span>{{:: 'LB_PROFILE_VOTE_EMPTY' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="row text-center" ng-show="busy"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></div>
</div>