<div class="container" ng-controller="ProfileInfoController">
  <div class="row profile-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="home">Home</a></li>
      <!--<li class="breadcrumb-item"><a href="#">Library</a></li>-->
      <li class="breadcrumb-item active">{{profile.displayName}}</li>
    </ol>
  </div>
  <div class="row profile-stats">
    <div class="stat">
      <div class="stat-value">19</div>
      <span class="stat-label">Polls</span>
    </div>
    <div class="stat">
      <div class="stat-value">1111</div>
      <span class="stat-label">Profile visits</span>
    </div>
    <div class="stat">
      <div class="stat-value">23</div>
      <span class="stat-label">Polls</span>
    </div>
    <div class="stat">
      <div class="stat-value">12</div>
      <span class="stat-label">Polls</span>
    </div>
  </div>
  <div class="row profile-joined">
    <span>join </span>
    <strong><span am-time-ago="profile.created"></span></strong>
    <span>last online</span>
    <strong><span>****</span></strong>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="card h500"></div>
  </div>
</div>