<section class="container">
  <!-- Breadcrumb -->
  <div class="row mg10t">
    <div class="col-xs-12 pdn">
      <div class="card">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item">
            <a class="undecorated-link" ui-sref="home">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li class="breadcrumb-item active">Tags</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="form-group col-md-4 col-md-offset-4">
        <input class="form-control" type="text" ng-model="vm.searchKey" placeholder="Search" ng-change="vm.search()" />
      </div>
      <div class="col-xs-12 pdn">
        <ul class="tags">
          <li ng-repeat="tag in vm.shows"><a ui-sref="tags.view({ tagId: tag._id })" class="tag">{{tag.name}}({{tag.count}})</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<!-- 

<section class="container">
  <div class="page-header">
    <div class="col col-xs-12 col-sm-8">
      <h3>Tags</h3>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <a class="btn btn-primary pull-right" ui-sref="tags.create">Create tag</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="list-group">
    <a ng-repeat="tag in vm.tags" ui-sref="tags.view({ tagId: tag._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="tag.created | date:'mediumDate'"></span>
        by
        <span ng-if="tag.user" ng-bind="tag.user.displayName"></span>
        <span ng-if="!tag.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="tag.name"></h4>
      <p class="list-group-item-text" ng-bind="tag.des"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.tags.$resolved && !vm.tags.length">
    No Tags yet, why don't you <a ui-sref="tags.create">create one</a>?
  </div>
</section> -->