<section class="container animated fadeIn">
  <!-- Breadcrumb -->
  <div class="row mg10t">
    <div class="col-xs-12 pdn">
      <div class="card">
        <div class="card-body">
          <ol class="breadcrumb custom-breadcrumb">
            <li class="breadcrumb-item">
              <a class="undecorated-link" ui-sref="home">
                <i class="fa fa-home"></i> Home
              </a>
            </li>
            <li class="breadcrumb-item active">Tags</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-md-4 col-md-offset-4 pdn">
          <div class="form-group">
            <input class="form-control" type="text" ng-model="vm.searchKey" placeholder="Search" ng-change="vm.search()" />
          </div>
        </div>
        <div class="col-xs-12 pdn">
          <ul class="tags">
            <li ng-repeat="tag in vm.shows"><a ui-sref="tags.polls({ tagId: tag._id })" class="tag">{{tag.name}}({{tag.count}})</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>