<section class="container mg10b animated fadeIn mg6t mg20b">
  <div class="row">
    <div class="col-xs-12 pdn">
      <div ng-repeat="poll in vm.polls | filter: poll_filter" class="card">
        <div ng-include="'/modules/core/client/views/templates/list-poll.client.template.html'"></div>
        <div class="clearfix"></div>
      </div>
      <!-- Loader  -->
      <div class="row" ng-show="busy"><div class="loader"></div></div>
      <!-- Message  -->
      <div class="notice notice-warning" ng-show="vm.polls.length === 0 && !busy">
        No polls yet, why don't you <a ui-sref="polls.create">create one</a>?
      </div>
    </div>
  </div>
</section>