<section class="container mg10b animated fadeIn mg6t mg50b">
  <div class="row">
    <div class="col-xs-12">
      <select class="form-control pull-right w200 input-sm" ng-model="vm.sort" ng-change="vm.handleChangeSortType()">
        <option value="-created">{{:: 'LB_SEARCH_SORT_NEWEST' | translate }}</option>
        <option value="created">{{:: 'LB_SEARCH_SORT_OLDEST' | translate }}</option>
        <option value="-likeCnt">{{:: 'LB_SEARCH_SORT_MOST_LIKE' | translate }}</option>
        <option value="likeCnt">{{:: 'LB_SEARCH_SORT_LEAST_LIKE' | translate }}</option>
        <option value="-cmtCnt">{{:: 'LB_SEARCH_SORT_MOST_CMT' | translate }}</option>
        <option value="cmtCnt">{{:: 'LB_SEARCH_SORT_LEAST_CMT' | translate }}</option>
        <option value="-voteCnt">{{:: 'LB_SEARCH_SORT_MOST_VOTE' | translate }}</option>
        <option value="voteCnt">{{:: 'LB_SEARCH_SORT_LEAST_VOTE' | translate }}</option>
        <option value="-viewCnt">{{:: 'LB_SEARCH_SORT_MOST_VIEW' | translate }}</option>
        <option value="viewCnt">{{:: 'LB_SEARCH_SORT_LEAST_VIEW' | translate }}</option>
    </select>
    </div>
  </div>
  <div class="row mg6t">
    <div class="col-xs-12 pdn">
      <div ng-repeat="poll in vm.polls | filter: poll_filter" class="card">
        <poll-item></poll-item>
      </div>
      <!-- Loader  -->
      <div class="row text-center" ng-show="busy"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></div>
      <!-- Message  -->
      <div class="notice notice-warning" ng-show="vm.polls.length === 0 && !busy">
        {{ 'LB_POLLS_HASNO' | translate }}
        <a ui-sref="polls.create">{{ 'LB_POLLS_CREATE' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="row text-center" ng-show="!stopped">
    <a ng-click="vm.handleLoadPolls()">{{:: 'LB_LOAD_MORE' | translate }}</a>
  </div>
</section>