<!-- Tool bar -->
<div class="row">
  <div class="col-xs-12 pdn">
    <div class="custom-toolbar">
      <button class="btn btn-default pull-right" ng-click="discard()">Discard</button>
      <button class="btn btn-primary pull-right mg10r" ng-click="save(vm.form.categoryForm.$valid)">{{vm.category._id ? ' Update' : ' Create'}}</button>
      <button class="btn btn-danger pull-right mg10r" ng-if="vm.category._id" ng-click="remove()">Delete</button>
    </div>
  </div>
</div>
<!-- Form -->
<div class="row">
  <div class="col-xs-12 pdn">
    <div class="card">
      <div class="card-body">
        <form name="vm.form.categoryForm" class="form-horizontal" ng-submit="save(vm.form.categoryForm.$valid)" novalidate>
          <fieldset>
            <!-- Name -->
            <div class="form-group mgn mg10b pd6l pd6r" show-errors>
              <label class="control-label" for="name">Name</label>
              <input name="name" type="text" ng-model="vm.category.name" id="name" class="form-control" placeholder="Name" required>
              <div ng-messages="vm.form.categoryForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Category name is required.</p>
              </div>
            </div>
            <!-- Description -->
            <div class="form-group mgn mg10b pd6l pd6r">
              <label class="control-label" for="des">Description</label>
              <input name="des" type="text" ng-model="vm.category.des" id="des" class="form-control" placeholder="Description">
            </div>
            <!-- Color -->
            <div class="form-group mgn mg10b pd6l pd6r" show-errors>
              <input type="hidden" name="color" ng-model="vm.category.color" required>
              <md-menu md-offset="102 52">
                <button class="btn-poll-color" ng-click="$mdMenu.open($event)" ng-style="{'background-color': (vm.category.color) ? vm.category.color : '#ccc'}">
                    {{(vm.category.color) ? vm.category.color : 'Select color'}}</button>
                <md-menu-content>
                  <material-picker format="'hex'" ng-model="vm.category.color" size="15"></material-picker>
                </md-menu-content>
              </md-menu>
              <div ng-messages="vm.form.categoryForm.color.$error" role="alert">
                <p class="help-block error-text" ng-message="required">You must select color for category</p>
              </div>
            </div>
            <!-- Icon class -->
            <div class="form-group mgn pd6l pd6r" show-errors>
              <label class="control-label" for="icon">Icon</label>
              <input name="icon" type="text" ng-model="vm.category.icon" id="icon" class="form-control" placeholder="Awesome class" required>
              <div ng-messages="vm.form.categoryForm.icon.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Category icon is required.</p>
              </div>
              <a href="http://fontawesome.io/icons/" target="blank">http://fontawesome.io/icons/</a>
            </div>
          <fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Tool bar -->
<div class="row mg10t">
  <div class="col-xs-12 pdn">
    <div class="custom-toolbar">
      <button class="btn btn-default pull-right" ng-click="discard()">Discard</button>
      <button class="btn btn-primary pull-right mg10r" ng-click="save(vm.form.categoryForm.$valid)">{{vm.category._id ? ' Update' : ' Create'}}</button>
      <button class="btn btn-danger pull-right mg10r" ng-if="vm.category._id" ng-click="remove()">Delete</button>
    </div>
  </div>
</div>