<div class="row">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title">Categorys chart</strong>
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
    </div>
    <div class="card-body">
      <canvas class="chart chart-doughnut h200 w200" chart-data="chart.data" chart-labels="chart.labels" chart-colors="chart.colors" chart-options="chart.options"> </canvas>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <strong class="card-title">List categorys</strong>
      <a class="card-link undecorated-link" ui-sref="admin.categorys.new"><i class="fa fa-plus"></i></a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="bg-primary">
            <tr>
              <th class="text-center">Icon</th>
              <th>Name</th>
              <th>Description</th>
              <th class="text-center">Colors</th>
              <th class="text-center">Polls</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="category in vm.categorys">
              <td class="text-center"><i ng-class="['fa', category.icon]"></i></td>
              <td ng-bind="category.name"></td>
              <td ng-bind="category.des"></td>
              <td class="text-center">
                <div ng-style="{'width': '40px', 'height': '18px', 'background-color': category.color, 'margin': 'auto'}"></div>
              </td>
              <td class="text-center" ng-bind="category.count"></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.categorys.view({ categoryId: category._id })"><i class="icon-eye icons"></i></a>
                  <a class="undecorated-link mg5l" ui-sref="admin.categorys.edit({ categoryId: category._id })"><i class="icon-note icons"></i></a>
                  <a class="undecorated-link mg5l" ng-click="remove(category)"><i class="icon-trash icons"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>