<section class="container mg10b animated fadeIn" infinite-scroll="get_notifs()" infinite-scroll-distance='2'>
  <!-- breadcrumb -->
  <div class="row mg10t">
    <div class="col-xs-12 pdn">
      <div class="card">
        <div class="card-body">
          <ol class="breadcrumb custom-breadcrumb">
            <li class="breadcrumb-item">
              <a class="undecorated-link" ui-sref="home">
              <i class="fa fa-home"></i> Home
            </a>
            </li>
            <li class="breadcrumb-item active">Notifcations</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 pd6x">
      <div class="list-group flat bdn">
        <a ng-repeat="notif in vm.notifs" ui-sref="{{notif.state}}({ pollId: notif.poll._id, notif: notif._id })" class="list-group-item flat bdn">
          <div class="col-xs-9 pdn">
            <div class="user-avatar pull-left">
              <img src="{{notif.from.profileImageURL}}" alt="{{notif.from.displayName}}" ng-if="notif.from._id">
              <img src="modules/users/client/img/profile/default.png" alt="Deleted User" ng-if="!notif.from._id">
            </div>
            <strong>{{notif.from.displayName}}</strong>
            <small class="default-text">{{notif.content}}</small>
            <strong>{{notif.poll.title}}</strong>
          </div>
          <div class="col-xs-3 pdn">
            <div class="pull-right">
              <i class="fa fa-home"></i>
            </div>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
      <!--<div class="card" ng-repeat="notif in vm.notifs">
        <div class="card-body">
          <div class="col-xs-9 pdn">
            <div class="user-avatar pull-left">
              <img src="{{notif.from.profileImageURL}}" alt="{{notif.from.displayName}}" ng-if="notif.from._id">
              <img src="modules/users/client/img/profile/default.png" alt="Deleted User" ng-if="!notif.from._id">
            </div>
            <strong>{{notif.from.displayName}}</strong>
            <small class="default-text">{{notif.content}}</small>
            <small>{{notif.poll.title}}</small>
            <br>
            <a ui-sref="{{notif.state}}({ pollId: notif.poll._id, notif: notif._id })" class="undecorated-link">View</a><br>
          </div>
          <div class="col-xs-3 pdn">
            <div class="pull-right">
              <i class="fa fa-home"></i>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="row text-center" ng-show="busy && !stopped">
    <div class="loader"></div>
  </div>
</section>