<!-- The chat view -->
<!--<section class="container" ng-controller="ChatController">
  <div class="page-header">
    <h1>Chat Example</h1>
  </div>
  <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
      </div>
    </fieldset>
  </form>
  <ul class="list-unstyled">
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>
</section>-->
<div class="container">
  <div class="row">
    <!-- <div class="test-quick-menu">
      <md-fab-speed-dial md-open="isOpen" md-direction="right" class="md-scale">
        <md-fab-trigger>
          <md-button md-colors="{background: 'blue'}" aria-label="menu" class="md-fab md-mini"><i class="fa fa-bars"></i></md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini aside-panel-toggle"><i class="fa fa-twitter"></i></md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><i class="fa fa-facebook"></i></md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini"><i class="fa fa-google"></i></md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div> -->
    <input type="file" accept="image/*" id="fileinput">
    <button ng-click="upload">Upload</button>
    <img id="fileimage">
  </div>
</div>
