
<div class="row">
  <div class="col-xs-12">
    <div class="admin-card">
      <div class="admin-card-header">
        <i class="fa fa-filter"></i>
        Filter control
      </div>
      <div class="admin-card-block">
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="search">Search</label>
            <input name="search" id="search" class="form-control" type="text" ng-model="filter.search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="status">Status</label>
            <select id="status" name="status" class="form-control input-sm" ng-model="filter.status" ng-change="figureOutItemsToDisplay()">
              <option value>All</option>
              <option value="active">Online</option>
              <option value="offline">Offline</option>
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label for="provider">Provider</label>
            <select id="provider" name="provider" class="form-control input-sm" ng-model="filter.provider" ng-change="figureOutItemsToDisplay()">
              <option value>All</option>
              <option value="local">Local</option>
              <option value="facebook">Facebook</option>
              <option value="twitter">Twitter</option>
              <option value="linkedin">Linkedin</option>
              <option value="google">Google plus</option>
              <option value="github">Github</option>
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label for="created">Joined date</label>
            <input id="created" name="created" class="form-control input-sm" moment-picker="filter.created" ng-model="filter.created" format="YYYY/MM/DD HH:mm" start-view="month"
            placeholder="Select a date..." ng-change="figureOutItemsToDisplay()">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <div class="col-sm-12 pdn"><label>Number of polls</label></div>
            <div class="col-sm-6 pdn">
              <select class="form-control input-sm" ng-model="filter.polls_pref" ng-change="figureOutItemsToDisplay()">
                <option value>None</option>
                <option value="least">As least</option>
                <option value="most">As most</option>
              </select>
            </div>
            <div class="col-sm-6 pdn">
              <input name="polls" id="polls" type="text" class="form-control input-sm" placeholder="Enter number of polls" ng-model="filter.polls" ng-change="figureOutItemsToDisplay()">
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="roles">Role</label>
            <select id="roles" name="roles" class="form-control input-sm" ng-model="filter.roles" ng-change="figureOutItemsToDisplay()">
              <option value>All</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div>
        </div>
      </div>
      <div class="admin-card-footer">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-sm btn-primary pull-right" ng-click="excute_filter()">Filter</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row mg12t">
  <div class="col-xs-12">
    <div class="admin-card">
      <div class="admin-card-header">
        <i class="fa fa-list-alt"></i>
        List users
      </div>
      <div class="admin-card-block">
        <table class="table table-hover table-outline">
          <thead class="thead-default">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>Display Name</th>
              <th>Joined date</th>
              <th>Role</th>
              <th class="text-center">Provider</th>
              <th class="text-center">Reported</th>
              <th>Activity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in pagedItems">
              <td class="text-center">
                <div class="admin-avatar">
                  <img src="{{ user.profileImageURL }}" alt="{{ user.displayName }}" class="img-admin-avatar">
                  <span class="admin-avatar-status" ng-class="{
                        'badge-success' : user.status === 'active',
                        'badge-warning' : user.status == 'away',
                        'badge-danger'  : user.status == 'busy',
                        'badge-default' : user.status == 'offline' }">
                    </span>
                </div>
              </td>

              <td>
                <div>{{ user.displayName }}</div>
                <div class="text-muted">
                  <small>{{ user.email }}</small>
                </div>
              </td>
              <td>
                <span ng-bind="user.created | date:'mediumDate'"></span>
              </td>
              <td>
                <span ng-bind="user.roles"></span>
              </td>
              <td class="text-center">
                <i class="fa" ng-class="{ 'fa fa-facebook-square' : user.provider === 'facebook',
                    'fa fa-twitter-square' : user.provider === 'twitter',
                    'fa fa-linkedin-square' : user.provider === 'linkedin',
                    'fa fa-google-plus-square' : user.provider === 'google',
                    'fa fa-git-square' : user.provider === 'github',
                    'fa fa-sign-in' : user.provider === 'local'}">
                </i>
              </td>
              <td class="text-center">0</td>
              <td>
                <div class="text-muted"><small>Last login</small></div>
                <strong>5 minutes ago</strong>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <a class="btn-secondary undecorated-link" ui-sref="admin.users.view({ userId: user._id })"><i class="icon-eye icons"></i></a>
                  <a class="btn-secondary undecorated-link" ui-sref="admin.users.edit({ userId: user._id })"><i class="icon-note icons"></i></a>
                  <a class="btn-secondary undecorated-link" ng-click="delete_user(user)"><i class="icon-trash icons"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
          ng-change="pageChanged()"></uib-pagination>
      </div>
    </div>
  </div>
</div>