<div class="row">
  <div class="card">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-user"></i> Reset password</strong>
      <a class="card-link" ui-sref="admin.users.list"><i class="fa fa-arrow-circle-left"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <form name="userForm" ng-submit="update_pass(userForm.$valid)" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <!-- Password-->
            <div class="form-group col-sm-6 col-sm-offset-3" show-errors>
              <label for="password">Enter new password</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="newPassword" placeholder="New password"
                popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
              <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
              <div class="form-group" ng-show="!userForm.password.$error.required">
                <uib-progressbar class="h10" value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-footer">
      <button class="btn btn-primary pull-right" ng-click="update_pass(userForm.$valid)">Update</button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>