<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-cogs bg-primary pd16 font-2xl mg16r pull-left"></i>
        <h5 class="text-primary mgnb mg8t">$1.999,50</h5>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-laptop bg-info pd16 font-2xl mg16r pull-left"></i>
        <h5 class="text-info mgnb mg8t">$1.999,50</h5>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-moon-o bg-warning pd16 font-2xl mg16r pull-left"></i>
        <h5 class="text-warning mgnb mg8t">$1.999,50</h5>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-bell bg-danger pd16 font-2xl mg16r pull-left"></i>
        <h5 class="text-danger mgnb mg8t">$1.999,50</h5>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-cogs bg-primary pd16 font-2xl mg16r pull-left"></i>
        <h5 class="text-primary mgnb mg8t">$1.999,50</h5>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
      <div class="admin-card-footer pd16x pd8y">
        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-laptop bg-info pd16 font-2xl mg16r pull-left"></i>
        <h5 class="text-info mgnb mg8t">$1.999,50</h5>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
      <div class="admin-card-footer pd16x pd8y">
        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-moon-o bg-warning pd16 font-2xl mg16r pull-left"></i>
        <div class="text-warning mgnb mg8t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
      <div class="admin-card-footer pd16x pd8y">
        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd16 clearfix">
        <i class="fa fa-bell bg-danger pd16 font-2xl mg16r pull-left"></i>
        <div class="text-danger mgnb mg8t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
      <div class="admin-card-footer pd16x pd8y">
        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>
<!-- Report info -->
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-cogs bg-primary pd24 font-2xl mg16r pull-left"></i>
        <div class="text-primary mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-laptop bg-info pd24 font-2xl mg16r pull-left"></i>
        <div class="text-info mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-moon-o bg-warning pd24 font-2xl mg16r pull-left"></i>
        <div class="text-warning mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-bell bg-danger pd24 font-2xl mg16r pull-left"></i>
        <div class="text-danger mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-cogs bg-primary pd24 pd48x font-2xl mg16r pull-left"></i>
        <div class="text-primary mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-laptop bg-info pd24 pd48x font-2xl mg16r pull-left"></i>
        <div class="text-info mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-moon-o bg-warning pd24 pd48x font-2xl mg16r pull-left"></i>
        <div class="text-warning mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pdn clearfix">
        <i class="fa fa-bell bg-danger pd24 pd48x font-2xl mg16r pull-left"></i>
        <div class="text-danger mgnb pd16t">$1.999,50</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>



<section class="card">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
    </div>
  </div>
</section>