<div class="row mg12t">
  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-cogs bg-primary pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-primary mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Login</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-laptop bg-info pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-info mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Polls</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-moon-o bg-warning pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-warning mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Comments</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-bell bg-danger pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-danger mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Votes</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>
<div class="row mg12t">
  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-cogs bg-primary pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-primary mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Reported</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-laptop bg-info pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-info mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Be reported</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-moon-o bg-warning pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-warning mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Suggested</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-bell bg-danger pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-danger mgnb mg4t">$1.999,50</h4>
        <div class="text-muted text-uppercase font-weight-bold ">Income</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>














<section class="card">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
    </div>
  </div>
</section>