<div class="row">
  <div class="col-xs-12 pd6x">
    <div class="form-group">
      <a ui-sref="admin.users.list" class="btn btn-default pull-right">List</a>
      <a ui-sref="admin.users.edit({ userId: user._id })" class="btn btn-success pull-right mg10r">Edit</a>
      <a ng-click="remove()" class="btn btn-danger pull-right mg10r">Delete</a>
      <a ui-sref="profile.info({ userId: user._id })" class="btn btn-info pull-right mg10r">View profile</a>
    </div>
  </div>
</div>
<div class="row mg12t">
  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-cogs bg-primary pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-primary mgnb mg4t" ng-bind="loginCnt"></h4>
        <div class="text-muted text-uppercase">Login</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#logins">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-laptop bg-info pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-info mgnb mg4t" ng-bind="pollCnt"></h4>
        <div class="text-muted text-uppercase">Polls</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#polls">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-moon-o bg-warning pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-warning mgnb mg4t" ng-bind="cmtCnt"></h4>
        <div class="text-muted text-uppercase">Comments</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#cmts">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-bell bg-danger pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-danger mgnb mg4t" ng-bind="voteCnt"></h4>
        <div class="text-muted text-uppercase">Votes</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#votes">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>
<div class="row mg12t">
  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-cogs bg-primary pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-primary mgnb mg4t" ng-bind="reportCnt"></h4>
        <div class="text-muted text-uppercase">Reported</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#reports">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-laptop bg-info pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-info mgnb mg4t" ng-bind="bereportCnt"></h4>
        <div class="text-muted text-uppercase">Be reported</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#bereports">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-moon-o bg-warning pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-warning mgnb mg4t" ng-bind="likeCnt"></h4>
        <div class="text-muted text-uppercase">Total like</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-xs-12 col-sm-3 pd6x">
    <div class="admin-card">
      <div class="admin-card-block pd12 clearfix">
        <i class="fa fa-bell bg-danger pd12 font-2xl mg12r pull-left"></i>
        <h4 class="text-danger mgnb mg4t" ng-bind="suggestCnt"></h4>
        <div class="text-muted text-uppercase">Suggested</div>
      </div>
      <div class="admin-card-footer pd12x pd4y">
        <a class="font-weight-bold font-sm btn-block text-muted undecorated-link" href="#suggests">View More <i class="fa fa-angle-right pull-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>

<!-- basic Info-->
<div class="row mg12t">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-user"></i> Basic info</strong>
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <div class="form-group">
            <img src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
          <table class="table">
            <tr>
              <td>First name:</td>
              <td>{{ user.firstName }}</td>
            </tr>
            <tr>
              <td>Last name:</td>
              <td>{{ user.lastName }}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td>Provider:</td>
              <td>{{ user.provider }}</td>
            </tr>
            <tr>
              <td>Roles:</td>
              <td><span ng-bind="user.roles"></span></td>
            </tr>
            <tr>
              <td>Last login:</td>
              <td><span am-time-ago="user.lastLogin"></span></td>
            </tr>
            <tr>
              <td>Created:</td>
              <td><span ng-bind="user.created"></span></td>
            </tr>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- logins -->
<div class="row mg12t">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> Login logs</strong>
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="logins">
          <thead class="bg-primary">
            <tr>
              <th>Ip</th>
              <th>Agent</th>
              <th>Login time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="login in loginsPagedItems">
              <td>{{ login.ip }}</td>
              <td>{{ login.agent }}</td>
              <td><span ng-bind="login.created"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="loginFilterLength" ng-model="loginsCurrentPage"
        ng-change="loginPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Polls -->
<div class="row" ng-show="pollsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List polls</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="pollSearch" ng-change="figureOutItemsToDisplay_polls()"
        placeholder="Search key...">
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="polls">
          <thead class="thead-default">
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Sercurity</th>
              <th>Likes count</th>
              <th>Views count</th>
              <th>Comments count</th>
              <th>Votes count</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="poll in pollsPagedItems">
              <td>{{ poll.title }}</td>
              <td>{{ poll.category.name }}</td>
              <td>{{ (poll.isPublic) ? 'Public' : 'Private' }}</td>
              <td>{{ poll.likeCnt }}</td>
              <td>{{ poll.viewCnt }}</td>
              <td>{{ poll.cmtCnt }}</td>
              <td>{{ poll.voteCnt }}</td>
              <td><span ng-bind="poll.created | date:'mediumDate'"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.polls.view({ pollId: poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail of poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ui-sref="admin.polls.edit({ pollId: poll._id })"><i class="icon-note icons"></i>
                    <md-tooltip md-direction="bottom">Edit info of poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="delete_poll(poll)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete poll</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="pollFilterLength" ng-model="pollsCurrentPage"
        ng-change="pollPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Comments -->
<div class="row" ng-show="cmtsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List comments</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="cmtSearch" ng-change="figureOutItemsToDisplay_cmts()" placeholder="Search key...">
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="cmts">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Content</th>
              <th>Like count</th>
              <th>Created</th>
              <th>Last edited</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cmt in cmtsPagedItems">
              <td>{{ cmt.poll.title }}</td>
              <td><span ng-bind="cmt.body"></span></td>
              <td>{{ cmt.likeCnt }}</td>
              <td><span ng-bind="cmt.created"></span></td>
              <td><span ng-bind="cmt.updated"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.polls.view({ pollId: cmt.poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail in poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="delete_cmt(cmt)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete comment</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="cmtFilterLength" ng-model="cmtsCurrentPage"
        ng-change="cmtPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Votes -->
<div class="row" ng-show="votesPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List votes</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="voteSearch" ng-change="figureOutItemsToDisplay_votes()"
        placeholder="Search key...">
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="votes">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Voted options</th>
              <th>Updated</th>
              <th>First voted</th>
              <th>Last voted</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vote in votesPagedItems">
              <td>{{ vote.poll.title }}</td>
              <td><span ng-bind="vote.opts"></span></td>
              <td>{{ vote.updateCnt }}</td>
              <td><span ng-bind="vote.updated"></span></td>
              <td><span ng-bind="vote.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.polls.view({ pollId: vote.poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="delete_vote(vote)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete vote</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="voteFilterLength" ng-model="votesCurrentPage"
        ng-change="votePageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Poll reports -->
<div class="row" ng-show="reportsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List reported</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="reportSearch" ng-change="figureOutItemsToDisplay_reports()"
        placeholder="Search key...">
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="reports">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Reason</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="report in reportsPagedItems">
              <td>{{ report.poll.title }}</td>
              <td><span ng-bind="report.reason"></span></td>
              <td><span ng-bind="report.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.polls.view({ pollId: report.poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="delete_report(report)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete report</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="reportFilterLength" ng-model="reportsCurrentPage"
        ng-change="reportPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Poll bereports -->
<div class="row" ng-show="bereportsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List be reported</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="bereportSearch" ng-change="figureOutItemsToDisplay_bereports()"
        placeholder="Search key...">
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="bereports">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Reason</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bereport in bereportsPagedItems">
              <td>{{ bereport.poll.title }}</td>
              <td><span ng-bind="bereport.reason"></span></td>
              <td><span ng-bind="bereport.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.polls.view({ pollId: bereport.poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="delete_bereport(bereport)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete bereport</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="bereportFilterLength" ng-model="bereportsCurrentPage"
        ng-change="bereportPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Poll suggested -->
<div class="row" ng-show="suggestsPagedItems.length > 0">
  <div class="card card-expand">
    <div class="card-header">
      <strong class="card-title"><i class="fa fa-list-alt"></i> List suggested options</strong>
      <input class="inline form-control w200 mg12l input-sm" ng-model="suggestSearch" ng-change="figureOutItemsToDisplay_suggests()"
        placeholder="Search key...">
      <a class="undecorated-link card-expand-toggle card-link"><i class="fa fa-arrow-circle-down"></i></a>
      <div class="clearfix"></div>
    </div>
    <hr class="mgn">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-outline" id="suggests">
          <thead class="thead-default">
            <tr>
              <th>Poll title</th>
              <th>Option title</th>
              <th>Status</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="suggest in suggestsPagedItems">
              <td>{{ suggest.poll.title }}</td>
              <td><span ng-bind="suggest.title"></span></td>
              <td ng-class="{ 'bg-primary': suggest.status === 1, 'bg-warning': suggest.status === 2, 'bg-danger': suggest.status === 3 }">{{ (suggest.status === 1) ? 'Approved' : (suggest.status === 2) ? 'Waiting' : 'Rejected' }}</td>
              <td><span ng-bind="suggest.created"></span></td>
              <td>
                <div class="btn-group" role="group">
                  <a class="undecorated-link" ui-sref="admin.polls.view({ pollId: suggest.poll._id })"><i class="icon-eye icons"></i>
                    <md-tooltip md-direction="bottom">View detail poll</md-tooltip>
                  </a>
                  <a class="undecorated-link mg5l" ng-click="delete_suggest(suggest)"><i class="icon-trash icons"></i>
                    <md-tooltip md-direction="bottom">Delete suggest</md-tooltip>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="suggestFilterLength" ng-model="suggestsCurrentPage"
        ng-change="suggestPageChanged()"></uib-pagination>
      <div class="clearfix"></div>
    </div>
  </div>
</div>