<section>
  <div class="page-header">
    <div class="col col-xs-12 col-sm-8"><h3>Tag in poll</h3></div>
    <div class="col col-xs-12 col-sm-4">
      <a class="btn btn-primary pull-right" ui-sref="polltag.create">Create</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="list-group">
    <a ng-repeat="polltag in vm.polltags"
       ui-sref="polltags.view({ polltagId: polltag._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="polltag.poll.title"></h4>
      <p class="list-group-item-text" ng-bind="polltag.tag.name"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.polltags.$resolved && !vm.polltags.length">
    No Polltags yet, why don't you <a ui-sref="polltags.create">create one</a>?
  </div>
</section>
