<section class="container">
  <div class="page-header">
    <h3 ng-bind="vm.polltag.poll.title"></h3>
  </div>
  <div class="pull-right" ng-show="vm.polltag.canEdit">
    <a class="btn btn-info" ui-sref="polltags.edit({ polltagId: vm.polltag._id })">
      <i class="glyphicon glyphicon-edit"></i> Edit
    </a>
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Delete
    </a>
  </div>
  <p class="text-justify" ng-bind="vm.polltag.tag.name"></p>
</section>
