<div class="card mgn">
  <div class="card-header">
    <strong class="card-title">Crop your new profile picture</strong>
    <div class="clearfix"></div>
  </div>
  <hr class="mgn">
  <div class="card-body">
    <div class="cropArea">
      <img-crop image="imageURL" result-image="imageURLEdited"></img-crop>
    </div>
  </div>
  <hr class="mgn">
  <div class="card-footer">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="closeThisDialog()">{{:: 'LB_UPLOAD' | translate }}</button>
      <button class="btn btn-default" ng-click="closeThisDialog(false)">{{:: 'LB_CANCEL' | translate}}</button>
    </div>
  </div>
</div>