<!-- Special Screen -->
<!-- 1. Profile - bookmarks: Có thêm menu remove bookmark -->

<div class="card-body">

  <div class="poll-header">
    <div class="poll-avatar">
      <a ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">
        <img src="{{poll.user.profileImageURL}}" alt="{{poll.user.displayName}}">
      </a>
      <img ng-if="!poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
    </div>
    <div class="poll-info">
      <div class="poll-info-title">
        <p class="poll-info-title-user">
          <a class="poll-info-title-user-name" ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">{{::poll.user.displayName}}</a>
          <span class="poll-info-title-user-name" ng-if="!poll.user">Deleted User</span>
          <span class="poll-info-title-time">created on
            <span am-time-ago="poll.created"></span>
          </span>
          <span class="poll-info-menu">
          </span>
          <div class="clearfix"></div>
        </p>
      </div>
      <div class="poll-info-secure">
        <span ng-if="poll.allow_guest" class="fa fa-globe"><md-tooltip md-direction="bottom">This poll is public</md-tooltip></span>
        <span ng-if="!poll.allow_guest" class="fa fa-users"><md-tooltip md-direction="bottom">Only user can vote</md-tooltip></span>
        <a ui-sref="categorys.polls({ categoryId: poll.category.slug })">{{:: poll.category.name }}</a>
      </div>
    </div>
  </div>
  <hr class="mg5y">
  <div class="poll-body">
    <!-- Tiêu đề  -->
    <h3><a class="undecorated-link" ui-sref="polls.view({ pollId: poll.slug })">{{::poll.title}}</a></h3>
    <!--<p class="text-justify poll_item_body" ng-bind-html="poll.summary | nl2br"></p>-->
    <!-- Tóm tắt poll  -->
    <div class="text-body" ta-bind="text" ng-model="poll.summary" ta-readonly="true"></div>
    <p ng-show="poll.body.length > poll.summary.length" class="poll_item_body">
      <a class="undecorated-link" ui-sref="polls.view({ pollId: poll.slug })">see more</a>
    </p>
    <!-- Các option trong poll -->
    <div class="mg10t">
      <!-- Trường hợp chưa có option nào  -->
      <div ng-if="poll.opts.length === 0">
        <small class="text-muted">No option yet</small>
        <a ui-sref="polls.view({ pollId: poll.slug })" class="undecorated-link" ng-if="poll.allow_add"><small>, why don't add some option</small></a>
      </div>
      <!-- Show 3 option nhiều vote nhất  -->
      <div class="col-xs-12 pdn" ng-if="poll.total === 0">
        <ul class="horizontal-bars type-2">
          <li ng-repeat="opt in poll.opts | orderBy: '-voteCnt' | limitTo: 3">
            <!--<i class="icon-chart"></i>-->
            <div class="detail">
              <p class="title" ng-bind="opt.title"></p>
              <span class="value">{{:: opt.voteCnt + '/' + poll.total }}
                <span class="text-muted small">({{ opt.progressVal }}%)</span>
              </span>
            </div>
            <div class="bars">
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-animated" ng-style="{'width': opt.progressVal + '%', 'background-color': opt.color}"
                  aria-valuenow="{{ opt.progressVal }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </li>
          <li class="divider text-center" ng-if="poll.opts.length > 3">
            <!--<a class="undecorated-link text-muted" data-toggle="tooltip" data-placement="top" title="show more"><i class="icon-options"></i></a>-->
            <a class="undecorated-link" ui-sref="polls.view({ pollId: poll.slug })"><i class="icon-options"></i>
              <md-tooltip md-direction="bottom">Show more</md-tooltip>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-9 pdn" ng-if="poll.total > 0">
        <ul class="horizontal-bars type-2">
          <li ng-repeat="opt in poll.opts | orderBy: '-voteCnt' | limitTo: 3">
            <!--<i class="icon-chart"></i>-->
            <div class="detail">
              <p class="title" ng-bind="opt.title"></p>
              <span class="value">{{ opt.voteCnt + '/' + poll.total }}
                <span class="text-muted small">({{ opt.progressVal }}%)</span>
              </span>
            </div>
            <div class="bars">
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-animated" ng-style="{'width': opt.progressVal + '%', 'background-color': opt.color}"
                  aria-valuenow="{{ opt.progressVal }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </li>
          <li class="divider text-center" ng-if="poll.opts.length > 3">
            <a class="undecorated-link" ui-sref="polls.view({ pollId: poll.slug })"><i class="icon-options"></i>
              <md-tooltip md-direction="bottom">Show more</md-tooltip>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 pdn" ng-if="poll.total > 0">
        <div class="chart-block">
          <canvas id="pie" class="chart chart-pie" chart-data="poll.chart.data" chart-labels="poll.chart.labels" chart-options="poll.chart.options"
            chart-colors="poll.chart.colors"></canvas>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--<a class="pull-right undecorated-link" ng-if="poll.opts.length > 3" ui-sref="polls.view({ pollId: poll.slug })">...and {{poll.opts.length - 3}} others</a>-->
    </div>
    <div class="clearfix"></div>
    <!-- #options -->
    <hr class="mg10t mg10b">
  </div>

  <div class="poll-footer">
    <p class="poll_item_info">
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      <strong> Like: </strong>{{::poll.likeCnt}}
    </p>
    <p class="poll_item_info">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <strong> Votes: </strong>{{::poll.voteCnt}}
    </p>
    <p class="poll_item_info">
      <i class="fa fa-eye" aria-hidden="true"></i>
      <strong> Views: </strong>{{::poll.viewCnt}}
    </p>
    <p class="poll_item_info">
      <i class="fa fa-commenting" aria-hidden="true"></i>
      <strong> Comments: </strong>{{::poll.cmtCnt}}
    </p>
  </div>

  <div class="clearfix"></div>
</div>