<!-- Special Screen -->
<!-- 1. Profile - bookmarks: Có thêm menu remove bookmark -->

<div class="card-body">

  <div class="poll-header">
    <div class="poll-avatar">
      <a ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">
        <img src="{{poll.user.profileImageURL}}" alt="{{poll.user.displayName}}">
      </a>
      <img ng-if="!poll.user" src="modules/users/client/img/profile/default.png" alt="Deleted User">
    </div>
    <div class="poll-info">
      <div class="poll-info-title">
        <a class="poll-info-title-user-name" ng-if="poll.user" ui-sref="profile.info({userId: poll.user.slug})">{{::poll.user.displayName}}</a>
        <span class="poll-info-title-user-name" ng-if="!poll.user">Deleted User</span>
        <span class="poll-info-title-time">created on
            <span am-time-ago="poll.created"></span>
        </span>
        <md-menu md-offset="-12 20" md-position-mode="target-right target">
          <a class="poll-info-title-menu" ng-click="$mdMenu.open($event)" aria-label="Open menu"><i class="icon-options"></i></a>
          <md-menu-content>
            <ul class="menu-list">
              <li><a ui-sref="polls.view({ pollId: poll.slug })"><i class="fa fa-eye"></i> View</a></li>
              <li ng-if="poll.isCurrentUserOwner"><a ui-sref="polls.edit({ pollId: poll.slug })"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
              <li ng-if="poll.isCurrentUserOwner"><a ng-click="delete_poll(poll)"><i class="fa fa-trash"></i> Delete</a></li>
              <li ng-if="isLogged">
                <a ng-click="follow_poll(poll)" class="undecorated-link">
                <i class="fa fa-rss"></i> {{(poll.follow._id) ? 'Unfollow' : 'Follow'}}
              </a>
              </li>
              <li ng-if="isLogged && !poll.isCurrentUserOwner && !poll.reported"><a ng-click="report_poll(poll)"><i class="fa fa-exclamation-circle"></i> Report poll</a></li>
              <li ng-if="isLogged && !poll.isCurrentUserOwner && !poll.bookmarked"><a ng-click="bookmark_poll(poll)"><i class="fa fa-bookmark"></i> Bookmark poll</a></li>
              <!-- Chỉ màn hình Profile bookmark -->
              <li ng-if="isCurrentOwner && screen === 'profile-bookmark'"><a ng-click="remove_bookmark(poll)"><i class="fa fa-bookmark"></i>&nbsp;Remove bookmark</a></li>
            </ul>
          </md-menu-content>
        </md-menu>
        <p class="poll-info-title-close">
          <i class="fa fa-calendar"></i>
          <span ng-if="poll.close">Close </span><span ng-if="poll.close" am-time-ago="poll.close"></span>
          <span ng-if="!poll.close">Unlimit</span>
        </p>
      </div>
      <div class="poll-info-secure">
        <span ng-if="poll.allow_guest" class="fa fa-globe"><md-tooltip md-direction="bottom">This poll is public</md-tooltip></span>
        <span ng-if="!poll.allow_guest" class="fa fa-users"><md-tooltip md-direction="bottom">Only user can vote</md-tooltip></span>
        <a ui-sref="categorys.polls({ categoryId: poll.category.slug })">{{:: poll.category.name }}</a>
      </div>
    </div>
  </div>
  <hr class="mg5y">
  <div class="poll-body">
    <div class="poll-body-post">
      <div class="poll-body-title">
        <a ui-sref="polls.view({ pollId: poll.slug })">
          <h4 class="mg12y">{{::poll.title}}</h4>
        </a>
      </div>
      <div class="poll-body-activity d-sm-down-none" ng-style="{'border-color': poll.category.color}">
        <div class="poll-body-activity-user" ng-if="poll.lastCmt._id">
          <div class="mini-avatar">
            <a ng-if="poll.lastCmt.user._id" ui-sref="profile.info({userId: poll.lastCmt.user.slug})">
              <img src="{{poll.lastCmt.user.profileImageURL}}" alt="{{poll.lastCmt.user.displayName}}">
            </a>
            <img ng-if="!poll.lastCmt.user._id" src="modules/users/client/img/profile/default.png" alt="Deleted User">
          </div>
          <div class="last-comment-time">
            about <span am-time-ago="poll.lastCmt.updated"></span>
          </div>
        </div>
        <div class="poll-body-activity-content">
          <p class="text-muted" ng-if="poll.lastCmt._id">{{::poll.lastCmt.body}}</p>
          <p class="text-muted" ng-if="!poll.lastCmt._id">No one has commented</p>
        </div>
      </div>
    </div>
    <!-- Tóm tắt poll  -->
    <!--<div class="poll-body-text" ta-bind="text" ng-model="poll.summary" ta-readonly="true"></div>-->
    <!--<p ng-show="poll.body.length > poll.summary.length" class="poll_item_body">
      <a class="undecorated-link" ui-sref="polls.view({ pollId: poll.slug })">see more</a>
    </p>-->
    <div class="poll-body-options" ng-if="poll.total > 0">
      <div class="progress-box">
        <ul class="horizontal-bars type-2">
          <li ng-repeat="opt in poll.opts | orderBy: '-voteCnt' | limitTo: 3">
            <div class="detail">
              <p class="title" ng-bind="opt.title"></p>
              <span class="value">{{:: opt.voteCnt + '/' + poll.total }}
                <span class="text-muted small">({{::opt.progressVal}}%)</span>
              </span>
            </div>
            <div class="bars">
              <div class="progress progress-xs">
                <div class="progress-bar" ng-style="{'width': opt.progressVal + '%', 'background-color': opt.color}" aria-valuenow="{{::opt.progressVal}}"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="chart-box">
        <canvas class="chart chart-pie" chart-data="poll.chart.data" chart-labels="poll.chart.labels" chart-options="poll.chart.options"
          chart-colors="poll.chart.colors"></canvas>
      </div>
    </div>
  </div>
  <hr class="mg5y">

  <div class="poll-footer">
    <div class="poll_item_info">
      <i class="fa fa-thumbs-o-up"></i> {{::poll.likeCnt}}
      <md-tooltip md-direction="bottom">Likes</md-tooltip>
    </div>
    <div class="poll_item_info">
      <i class="fa fa-heart-o"></i> {{::poll.voteCnt}}
      <md-tooltip md-direction="bottom">Votes</md-tooltip>
    </div>
    <div class="poll_item_info">
      <i class="fa fa-eye"></i> {{::poll.viewCnt}}
      <md-tooltip md-direction="bottom">Views</md-tooltip>
    </div>
    <div class="poll_item_info">
      <i class="fa fa-commenting"></i> {{::poll.cmtCnt}}
      <md-tooltip md-direction="bottom">Comments</md-tooltip>
    </div>
    <div class="poll_item_info share">
      <md-menu md-position-mode="target-right target">
        <a href="#" ng-mouseenter="$mdMenu.open()"><i class="fa fa-share-alt"></i></a>
        <md-menu-content width="1" ng-mouseleave="$mdMenu.close()">
          <div class="quick-share-menu">
            <a ng-click="share('facebook')"><i class="fa fa-facebook"></i></a>
            <a ng-click="share('twitter')"><i class="fa fa-twitter"></i></a>
            <a ng-click="share('linkedin')"><i class="fa fa-linkedin"></i></a>
            <a ng-click="share('google')"><i class="fa fa-google-plus"></i></a>
            <a ng-click="share('tumblr')"><i class="fa fa-tumblr"></i></a>
          </div>
      </md-menu>
    </div>
  </div>

  <div class="clearfix"></div>
</div>