<div class="ngdialog-message">
  <!-- <h4 class="confirmation-title"><i class="fa fa-exclamation-triangle warning-text"></i> Report poll</h4> -->
  <p>{{ 'LB_POLLS_REPORT_MSG' | translate }}</p>
  <textarea class="msd-elastic: \n; report-reason" data-ng-model="reason" placeholder="{{ 'LB_POLLS_REPORT_PLACE' | translate }}" maxlength="200" autofocus></textarea>
  <div class="ngdialog-buttons mg20t">
    <button type="button" class="btn btn-primary pull-right" ng-click="confirm(reason)">{{ 'LB_POLLS_MENU_REPORT' | translate }}</button>
  </div>
</div>