<div class="card mgn" nv-file-drop="" uploader="uploader">
  <div class="card-header">
    <strong class="card-title">IMAGES UPLOAD</strong>
    <a class="undecorated-link card-link" ng-click="closeThisDialog()">Cancel</a>
    <a class="undecorated-link card-link mg20r" ng-click="uploader.uploadAll()">Upload all</a>
    <div class="clearfix"></div>
  </div>
  <hr class="mgn">
  <div class="card-body">
    <div uib-collapse="!collapse">
      <div class="row text-center" ng-show="uploader.isUploading">
        <div class="loader" ></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted" ng-bind="uploadingFileName"></p>
          <div class="progress progress-xs">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
    <div uib-collapse="collapse">
      <div class="row d-sm-down-none" ng-if="uploader.isHTML5">
        <div class="col-xs-12">
          <div class="well drop-image-box" nv-file-over="" uploader="uploader">
            Drop your images here
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary btn-sm" ng-click="btn_upload_click()">Choose images</button>
          <small class="text-muted">Available formats: JPG/PNG/JPGE/BMP|GIF</small>
          <input type="file" id="fileInput" accept="image/jpg,image/gif,image/jpeg,image/png,image/bmp" name="file" nv-file-select=""
            uploader="uploader" multiple>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td ng-if="uploader.isHTML5">
                    <div image-preview="{ file: item._file, height: 50 }"></div>
                  </td>
                  <td>{{ ::item.file.name }}</td>
                  <td nowrap>
                    <a class="undecorated-link" ng-click="item.remove()">Remove</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>