<div class="row animated fadeIn mg50t" ng-controller="ChangePasswordController">
  <div class="col-xs-12 col-sm-6">
    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword"
            placeholder="{{:: 'LB_USER_PASSWORD_CURRENT' | translate }}" required>
          <div ng-messages="passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{:: 'LB_USER_PASSWORD_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="{{:: 'LB_USER_NEW_PASSWORD' | translate }}"
            password-validator required>
          <div ng-messages="passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{:: 'LB_USER_NEW_PASSWORD_REQUIRED' | translate }}</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{::passwordError | translate}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword"
            placeholder="{{:: 'LB_USER_VERIFY_PASSWORD' | translate }}" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{:: 'LB_USER_VERIFY_PASSWORD_REQUIRED' | translate }}</p>
            <p class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>{{:: 'LB_USER_VERIFY_PASSWORD_MATCH' | translate }}</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-spinner fa-pulse fa-fw" ng-show="password_busy"></i>
            {{:: 'LB_PROFILE_PASS' | translate }}
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6"></div>
  <div class="clearfix"></div>
</div>