<div class="row animated fadeIn" ng-controller="EditProfileController">
  <div class="col-xs-12 col-sm-8">
    <form name="userForm" novalidate autocomplete="off">
      <fieldset>
        <!-- Display Name  -->
        <div class="form-group" show-errors>
          <label for="displayName">{{:: 'LB_USER_NAME' | translate }}</label>
          <input type="text" id="displayName" name="displayName" class="form-control" ng-model="userInfo.displayName" placeholder="{{ 'LB_USER_NAME' | translate }}"
            required>
          <div ng-messages="userForm.displayName.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">{{:: 'LB_USER_NAME_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors ng-if="user.provider === 'local'">
          <label for="email">{{:: 'LB_USER_EMAIL' | translate }}</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="userInfo.email" placeholder="Email" lowercase required>
          <span class="font-xs">{{:: 'LB_USER_EMAIL_WARNING' | translate }}</span>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">{{:: 'LB_USER_EMAIL_REQUIRED' | translate }}</p>
            <p class="help-block error-text font-sm" ng-message="email">{{:: 'LB_USER_EMAIL_INVALID' | translate }}</p>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="updateUserProfile(userForm.$valid)" ng-disabled="profile_busy">
            <i class="fa fa-spinner fa-pulse fa-fw" ng-show="profile_busy"></i>
            {{:: 'LB_SAVE' | translate }}
            {{:: 'LB_PROFILE' | translate }}
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="form-group text-center">
      <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
    </div>
    <div class="text-center form-group" ng-hide="uploader.queue.length">
      <span class="btn btn-default btn-file">
        {{:: 'LB_USER_IMAGE_UPLOAD' | translate }}
        <input type="file" nv-file-select uploader="uploader">
      </span>
    </div>
    <div class="text-center form-group" ng-show="uploader.queue.length">
      <button class="btn btn-primary" ng-click="uploadProfilePicture();" ng-disabled="picture_busy">
        <i class="fa fa-spinner fa-pulse fa-fw" ng-show="picture_busy"></i>
        {{:: 'LB_UPLOAD' | translate }}
      </button>
      <button class="btn btn-default" ng-click="cancelUpload();" ng-disabled="picture_busy">Cancel</button>
    </div>
  </div>
</div>