<section class="row animated fadeIn" ng-controller="SocialAccountsController">
  <h4 class="col-md-12" ng-if="user.provider !== 'local'">{{::'MS_USERS_PROVIDER' | translate }}<span class="text-uppercase">{{:: user.provider}}.</span></h4>
  <p class="col-md-12" ng-show="hasConnectedAdditionalSocialAccounts()">{{::'MS_USERS_CONNECTED' | translate }}</p>
  <div class="col-md-12">
    <div ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="social-account-container">
      <a ng-class="'btn-' + providerName" class="btn btn-lg" type="button" ng-click="removeUserSocialAccount(providerName)"><span class="fa fa-times"></span></a>
    </div>
  </div>
  <p class="col-md-12 mg20t" ng-show="hasUnConnectedAdditionalSocialAccounts()">{{::'MS_USERS_UNCONNECTED' | translate }}</p>
  <div class="col-md-12">
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('facebook')">
      <a class="btn btn-lg btn-facebook" type="button" href="/api/auth/facebook" target="_self"><span class="fa fa-plus"></span></a>
    </div>
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('twitter')">
      <a class="btn btn-lg btn-twitter" type="button" href="/api/auth/twitter" target="_self"><span class="fa fa-plus"></span></a>
    </div>
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('google')">
      <a class="btn btn-lg btn-google-plus" type="button" href="/api/auth/google" target="_self"><span class="fa fa-plus"></span></a>
    </div>
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('linkedin')">
      <a class="btn btn-lg btn-linkedin" type="button" href="/api/auth/linkedin" target="_self"><span class="fa fa-plus"></span></a>
    </div>
  </div>
</section>