<section ng-controller="SettingsController" class="container animated fadeIn">
  <div class="row mg12t">
    <div class="col-lg-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">{{:: 'LB_PROFILE' | translate }}</a>
        </li>
        <li ui-sref-active="active" ng-if="user.provider === 'local'">
          <a ui-sref="settings.password">{{:: 'LB_USER_PASSWORD' | translate }}</a>
        </li>
        <!-- <li ui-sref-active="active">
          <a ui-sref="settings.notifications">{{:: 'LB_NOFT' | translate }}</a>
        </li> -->
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">{{:: 'LB_SOCIALS' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-9">
      <div ui-view></div>
    </div>
  </div>
</section>