<section ng-controller="SettingsController" class="container-fluid animated fadeIn">
  <div class="row">
    <div class="bgcover">
      <div class="cover" ng-style="{'background-image': 'url(modules/users/client/img/covers/default.jpg)'}">
        <div class="container">
          <div class="cover-avatar">
            <img src="{{user.profileImageURL}}" alt="{{user.displayName}}">
          </div>
          <div class="cover-name"><span>{{user.displayName}}</span></div>
          <div class="cover-menu">
            <md-menu md-offset="-10 60" md-position-mode="target-right target">
              <button class=" btn-fab" ng-click="$mdMenu.open($event)" aria-label="Open profile menu">
              <i class="fa fa-ellipsis-v fa-lg"></i>
            </button>
              <md-menu-content>
              <ul class="profile-menu-list">
                <li ui-sref-active="active"><a ui-sref="profile.info({ userId: user.slug })">View Profile</a></li>
                <li ui-sref-active="active"><a ui-sref="settings.profile">Edit Profile</a></li>
                <li ui-sref-active="active"><a ui-sref="settings.picture">Change Profile Picture</a></li>
                <li ui-sref-active="active" ng-show="user.provider === 'local'"><a ui-sref="settings.password">Change Password</a></li>
                <li ui-sref-active="active"><a ui-sref="settings.accounts">Manage Social Accounts</a></li>
              </ul>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="home">Home</a></li>
          <li class="breadcrumb-item"><a class="undecorated-link" ui-sref="profile.info({ userId: user.slug })">Profile</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </div>
      <div class="row">
        <div ui-view></div>
      </div>
    </div>
  </div>
</section>