<section class="container animated fadeIn">
  <section class="row" ng-controller="AuthenticationController">
    <div class="login-box">
      <div class="lb-header">
        <div class="row">
          <div class="col-xs-6 pdn text-center">
            <a ui-sref="authentication.signin" ui-sref-active="active">Login</a>
          </div>
          <div class="col-xs-6 pdn text-center">
            <a ui-sref="authentication.signup" ui-sref-active="active">Sign Up</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="social-login">
        <p class="text-center">
          <a class="btn btn-facebook icon" type="button" ng-click="callOauthProvider('/api/auth/facebook')"><span>Facebook</span></a>
          <a class="btn btn-twitter icon" type="button" ng-click="callOauthProvider('/api/auth/twitter')"><span>Twitter</span></a>
          <a class="btn btn-google-plus icon" type="button" ng-click="callOauthProvider('/api/auth/google')"><span>Google+</span></a>
          <a class="btn btn-linkedin icon" type="button" ng-click="callOauthProvider('/api/auth/linkedin')"><span>LinkedIn</span></a>
        </p>
        <div class="clearfix"></div>
      </div>
      <div ui-view></div>
      <div class="clearfix"></div>
    </div>
  </section>
</section>