<section class="container animated fadeIn">
  <section class="row" ng-controller="AuthenticationController">
    <div class="login-box">
      <div class="lb-header">
        <a ui-sref="authentication.signin" ui-sref-active="active">Login</a>
        <a ui-sref="authentication.signup" ui-sref-active="active">Sign Up</a>
      </div>
      <div class="social-login">
        <div class="row">
          <div class="col-md-6 mg5t">
            <a class="btn btn-facebook btn-block" type="button" ng-click="callOauthProvider('/api/auth/facebook')">
              <span>Facebook</span>
            </a>
          </div>
          <div class="col-md-6 mg5t">
            <a class="btn btn-twitter btn-block" type="button" ng-click="callOauthProvider('/api/auth/twitter')">
              <span>Twitter</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mg5t">
            <a class="btn btn-google-plus btn-block" type="button" ng-click="callOauthProvider('/api/auth/google')">
              <span>Google+</span>
            </a>
          </div>
          <div class="col-md-6 mg5t">
            <a class="btn btn-linkedin btn-block" type="button" ng-click="callOauthProvider('/api/auth/linkedin')">
              <span>LinkedIn</span>
            </a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <div ui-view></div>
    </div>
  </section>
</section>