<div class="row animated fadeIn" ng-controller="AuthenticationController">
  <!-- <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-4"> -->
  <div class="col-xs-12">
    <form name="signinForm" ng-submit="signin(signinForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="{{ 'LB_USER_USERNAME' | translate }}"
            required>
          <div ng-messages="signinForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">
              {{ 'LB_USER_USERNAME_REQUIRED' | translate }}
            </p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="{{ 'LB_USER_PASSWORD' | translate }}"
            required>
          <div ng-messages="signinForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">
              {{ 'LB_USER_PASSWORD_REQUIRED' | translate }}
            </p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary btn-block">{{ 'LB_SIGNIN' | translate }}</button>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">{{ 'LB_USER_FORGOT' | translate }}</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>