html {
  font-size: 14px;
}
body {
  background-color: #f5f5f5;
  clear: both;
}

.content {
  position: relative;
  margin-top: 50px; }

.navbar {
  margin-bottom: 0 !important; }

.undecorated-link:hover {
  text-decoration: none;
  cursor: pointer; }
  .undecorated-link:focus {
    text-decoration: none;
    outline: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.notif-number {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 15px;
  width: 15px;
  line-height:15px;
  font-size:.6em;
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: auto;
  box-shadow:0 0 1px #333; }
  .notif-dropdown-toggle {
    position: relative; }
  .notifis-list {
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 0;
    min-width: 320px; }
  a.notifis-list-item {
    position: relative;
    min-width: 100%;
    height: 60px;
    display: block;
    padding: 4px 12px;
    line-height: 1.2em; }
  a.notifis-list-item:not(:last-child) {
    border-bottom: 1px solid #eee; }
  a.notifis-list-item:hover,
  a.notifis-list-item:focus {
    text-decoration: none;
    background-color: #f5f5f5; }

.error-text {
  display: none; }
  .has-error .help-block.error-text {
    display: block; }
  .has-error .help-inline.error-text {
    display: inline; }

.card {
  background-color: #fff;
  position: relative;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 12px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  color: #555; }
.card.expand-card {
  max-height: 42px; }
.card.card.expand-card.open {
  max-height: none; }
.card.activitys {
  overflow: hidden; }
.card.activitys.card.expand-card.open {
  max-height: 358px !important; }

  .card .card-header {
    margin-bottom: 12px; 
    clear: both; }
    .card .card-header .card-title {
      color: #90949c; }
    .card .card-header .card-title {
      color: #90949c; }
    .card.activitys .card-body {
      max-height: 300px; 
      overflow-y: scroll; }
    .card.activitys .card-body::-webkit-scrollbar {
      display: none; }

.custom-toolbar {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px; }
  .custom-toolbar::after { 
     content: " ";
     display: block; 
     height: 0; 
     clear: both; }
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0; }
  .tags li {
    float: left; }
  .tag {
    background: #d6d6d6;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none !important;
    transition: color 0.2s; }
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px; }
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #d6d6d6;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }
  .tag:hover {
    background-color: crimson;
    color: white; }
  .tag:hover::after {
     border-left-color: crimson; }
  .tags-custom .tags {
    border-radius: 0 !important; }

.cs-loader {
  position: relative;
  height: 50px;
  width: 100%; }
  .cs-loader-inner {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: calc(100% - 50px);
    color: #333;
    padding: 0 100px;
    text-align: center; }
  .cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block; }
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px); }
    33% {
      opacity: 1;
      transform: translateX(0px); }
    66% {
      opacity: 1;
      transform: translateX(0px); }
    100% {
      opacity: 0;
      transform: translateX(300px); }
  }
  .cs-loader-inner label:nth-child(6) {
    animation: lol 3s infinite ease-in-out; }
  .cs-loader-inner label:nth-child(5) {
    animation: lol 3s 100ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(4) {
    animation: lol 3s 200ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(3) {
    animation: lol 3s 300ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(2) {
    animation: lol 3s 400ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(1) {
    animation: lol 3s 500ms infinite ease-in-out; }

.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2); }
  .notice-sm {
    padding: 10px;
    font-size: 80%;}
  .notice-lg {
    padding: 35px;
    font-size: large;}
  .notice-success {
    border-color: #80D651;}
  .notice-success>strong {
    color: #80D651; }
  .notice-info {
    border-color: #45ABCD; }
  .notice-info>strong {
    color: #45ABCD; }
  .notice-warning {
    border-color: #FEAF20; }
  .notice-warning>strong {
    color: #FEAF20; }
  .notice-danger {
    border-color: #f44336; }
  .notice-danger>strong {
    color: #f44336; }

#toast-container .toast {
  padding: 12px 12px 12px 12px;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #555;
  background-color: #fff;
  opacity: 1;
  cursor: pointer; }
  #toast-container .toast:hover {
    box-shadow: 0 0 12px #000000; }
  .toast-close-button {
    opacity: 0.5; }
  .toast-close-button:hover {
    opacity: 0.8; }
  .toast-close-button:focus {
    opacity: 0.8;
    outline: none; }
  .toast {
    border-left: 6px solid #7f7f84; }
  .toast .toast-close-button {
    color: #7f7f84; }
  .toast-success {
    border-left: 6px solid #80D651; }
    .toast-success .toast-close-button,
    .toast-success .toast-message,
    .toast-success .toast-title {
      color: #80D651; }
  .toast-error {
    border-left: 6px solid #d73814; }
    .toast-error .toast-close-button,
    .toast-error .toast-message,
    .toast-error .toast-title {
      color: #d73814; }
  .toast-info {
    border-left: 6px solid #45ABCD; }
    .toast-info .toast-close-button,
    .toast-info .toast-message,
    .toast-info .toast-title {
      color: #45ABCD; }
  .toast-wait {
    border-left: 6px solid #267ED5; }
    .toast-wait .toast-close-button,
    .toast-wait .toast-message,
    .toast-wait .toast-title {
      color: #267ED5; }
  .toast-warning {
    border-left: 6px solid #FEAF20; }
    .toast-warning .toast-close-button,
    .toast-warning .toast-message,
    .toast-warning .toast-title {
      color: #FEAF20; }

/*ngDialog*/
.ngdialog.ngdialog-theme-default .ngdialog-close {
  display: none;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0px;
  background-color: #fff;
}
.ngdialog-open{
  height: auto !important;
}

.highlight-text {
  color: #267ED5;
}
.warning-text {
  color: #FEAF20;
}
.danger-text {
  color: #f44336;
}
.success-text {
  color: #80D651;
}
.info-text {
  color: #45ABCD;
}
.default-text {
  color: #555;
}
.avatar {
  font-size: 17px;
  line-height: 17px;
  padding: 13px;
  text-align: center;
  margin-right: 12px;
  min-width: 46px;
  min-height: 46px;
  margin-top: 2px;
}
.count {
  min-width: 46px;
  min-height: 46px;
  display: inline-block;
}
.count-value {
  text-align: center;
  font-size: 1.4em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.count-label {
  font-size: 1.1em;
  line-height: 1.0;
  text-align: center;
  text-transform: uppercase;
  color: #777;
  padding-top: 5px;
}
.h4-text {
  font-size: 1.3em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.custom-breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}
.badge-count {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 14px;
  line-height: 1;
  color: #337ab7;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
}
.report-reason {
  width: 100%;
  resize: none;
  padding-left: 5px;
  padding-right: 5px;
  transition: height 50ms ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border: 1px solid #d5d5d5;
  border-radius: 0;
  font-size: 14px;
}

.angucomplete-image {
    border-radius: 0;
    border: none; }
  .angucomplete-dropdown {
      border-radius: 0;
      border: none;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      margin-top: 0px; }
  .angucomplete-row {
    color: #555; }
  .angucomplete-selected-row {
    background-color: #eeeeee;
    color: #555; }
.form-control {
  border-radius: 0; }

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-inverse {
  color: #fff; }
  .bg-faded {
    background-color: #dcdddf; }
  .bg-primary {
    background-color: #20a8d8 !important; }
  a.bg-primary:focus, a.bg-primary:hover {
    background-color: #1985ac !important; }
  .bg-success {
    background-color: #4dbd74 !important; }
  a.bg-success:focus, a.bg-success:hover {
    background-color: #3a9d5d !important; }
  .bg-info {
    background-color: #63c2de !important; }
  a.bg-info:focus, a.bg-info:hover {
    background-color: #39b2d5 !important; }
  .bg-warning {
    background-color: #f8cb00 !important; }
  a.bg-warning:focus, a.bg-warning:hover {
    background-color: #c5a100 !important; }
  .bg-danger {
    background-color: #f86c6b !important; }
  a.bg-danger:focus, a.bg-danger:hover {
    background-color: #f63c3a !important; }
  .bg-inverse {
    background-color: #263238 !important; }
  a.bg-inverse:focus, a.bg-inverse:hover {
    background-color: #11171a !important; }


.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-main {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff;
}
.mgn {
  margin: 0 !important; }
  .mgnl {
    margin-left: 0 !important; }
  .mgnr {
    margin-right: 0 !important; }
  .mgnx {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .mgnt {
    margin-top: 0 !important; }
  .mgnb {
    margin-bottom: 0 !important; }
  .mgny {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

.pdn {
  padding: 0 !important; }
  .pdnl {
    padding-left: 0 !important; }
  .pdnr {
    padding-right: 0 !important; }
  .pdnx {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .pdnt {
    padding-top: 0 !important; }
  .pdnb {
    padding-bottom: 0 !important; }
  .pdny {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

.mg1t {
  margin-top: 1px !important; }
  .mg2t {
    margin-top: 2px !important; }
  .mg3t {
    margin-top: 3px !important; }
  .mg4t {
    margin-top: 4px !important; }
  .mg5t {
    margin-top: 5px !important; }
  .mg6t {
    margin-top: 6px !important; }
  .mg10t {
    margin-top: 10px !important; }
  .mg12t {
    margin-top: 12px !important; }
  .mg14t {
    margin-top: 14px !important; }
  .mg15t {
    margin-top: 15px !important; }
  .mg16t {
    margin-top: 16px !important; }
  .mg20t {
    margin-top: 20px !important; }
  .mg30t {
    margin-top: 30px !important; }
  .mg40t {
    margin-top: 40px !important; }
  .mg50t {
    margin-top: 50px !important; }
  .mg100t {
    margin-top: 100px !important; }
  .mg200t {
    margin-top: 200px !important; }
  .mg250t {
    margin-top: 250px !important; }
  .mg300t {
    margin-top: 300px !important; }

.mg1b {
  margin-bottom: 1px !important; }
  .mg2b {
    margin-bottom: 2px !important; }
  .mg3b {
    margin-bottom: 3px !important; }
  .mg4b {
    margin-bottom: 4px !important; }
  .mg5b {
    margin-bottom: 5px !important; }
  .mg6b {
    margin-bottom: 6px !important; }
  .mg10b {
    margin-bottom: 10px !important; }
  .mg12b {
    margin-bottom: 12px !important; }
  .mg15b {
    margin-bottom: 15px !important; }
  .mg16b {
    margin-bottom: 16px !important; }
  .mg20b {
    margin-bottom: 20px !important; }
  .mg30b {
    margin-bottom: 30px !important; }
  .mg40b {
    margin-bottom: 40px !important; }
  .mg50b {
    margin-bottom: 50px !important; }
  .mg100b {
    margin-bottom: 100px !important; }
  .mg200b {
    margin-bottom: 200px !important; }

.mg1l {
  margin-left: 1px !important; }
  .mg2l {
    margin-left: 2px !important; }
  .mg3l {
    margin-left: 3px !important; }
  .mg4l {
    margin-left: 4px !important; }
  .mg5l {
    margin-left: 5px !important; }
  .mg6l {
    margin-left: 6px !important; }
  .mg10l {
    margin-left: 10px !important; }
  .mg12l {
    margin-left: 12px !important; }
  .mg15l {
    margin-left: 15px !important; }
  .mg16l {
    margin-left: 16px !important; }
  .mg20l {
    margin-left: 20px !important; }
  .mg30l {
    margin-left: 30px !important; }
  .mg40l {
    margin-left: 40px !important; }
  .mg50l {
    margin-left: 50px !important; }
  .mg100l {
    margin-left: 100px !important; }
  .mg200l {
    margin-left: 200px !important; }

.mg1r {
  margin-right: 1px !important; }
  .mg2r {
    margin-right: 2px !important; }
  .mg3r {
    margin-right: 3px !important; }
  .mg4r {
    margin-right: 4px !important; }
  .mg5r {
    margin-right: 5px !important; }
  .mg6r {
    margin-right: 6px !important; }
  .mg10r {
    margin-right: 10px !important; }
  .mg12r {
    margin-right: 12px !important; }
  .mg15r {
    margin-right: 15px !important; }
  .mg16r {
    margin-right: 16px !important; }
  .mg20r {
    margin-right: 20px !important; }
  .mg30r {
    margin-right: 30px !important; }
  .mg40r {
    margin-right: 40px !important; }
  .mg50r {
    margin-right: 50px !important; }
  .mg100r {
    margin-right: 100px !important; }
  .mg200r {
    margin-right: 200px !important; }
  .mg250r {
    margin-right: 250px !important; }

.mg1x {
  margin-left: 1px !important;
  margin-right: 1px !important; }
  .mg2x {
    margin-left: 2px !important;
    margin-right: 2px !important; }
  .mg3x {
    margin-left: 3px !important;
    margin-right: 3px !important; }
  .mg4x {
    margin-left: 4px !important;
    margin-right: 4px !important; }
  .mg5x {
    margin-left: 5px !important;
    margin-right: 5px !important; }
  .mg6x {
    margin-left: 6px !important;
    margin-right: 6px !important; }
  .mg10x {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .mg12x {
    margin-left: 12px !important;
    margin-right: 12px !important; }
  .mg15x {
    margin-left: 15px !important;
    margin-right: 15px !important; }
  .mg16x {
    margin-left: 16px !important;
    margin-right: 16px !important; }
  .mg20x {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .mg30x {
    margin-left: 30px !important;
    margin-right: 30px !important; }
  .mg40x {
    margin-left: 40px !important;
    margin-right: 40px !important; }
  .mg50x {
    margin-left: 50px !important;
    margin-right: 50px !important; }
  .mg100x {
    margin-left: 100px !important;
    margin-right: 100px !important; }
  .mg200x {
    margin-left: 200px !important;
    margin-right: 200px !important; }
  .mg250x {
    margin-left: 250px !important;
    margin-right: 250px !important; }


.mg1y {
  margin-top: 1px !important;
  margin-bottom: 1px !important; }
  .mg2y {
    margin-top: 2px !important;
    margin-bottom: 2px !important; }
  .mg3y {
    margin-top: 3px !important;
    margin-bottom: 3px !important; }
  .mg4y {
    margin-top: 4px !important;
    margin-bottom: 4px !important; }
  .mg5y {
    margin-top: 5px !important;
    margin-bottom: 5px !important; }
  .mg6y {
    margin-top: 6px !important;
    margin-bottom: 6px !important; }
  .mg10y {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .mg12y {
    margin-top: 12px !important;
    margin-bottom: 12px !important; }
  .mg15y {
    margin-top: 15px !important;
    margin-bottom: 15px !important; }
  .mg16y {
    margin-top: 16px !important;
    margin-bottom: 16px !important; }
  .mg20y {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .mg30y {
    margin-top: 30px !important;
    margin-bottom: 30px !important; }
  .mg40y {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .mg50y {
    margin-top: 50px !important;
    margin-bottom: 50px !important; }
  .mg100y {
    margin-top: 100px !important;
    margin-bottom: 100px !important; }
  .mg200y {
    margin-top: 200px !important;
    margin-bottom: 200px !important; }
  .mg250y {
    margin-top: 250px !important;
    margin-bottom: 250px !important; }

.pd1t {
  padding-top: 1px !important; }
  .pd2t {
    padding-top: 2px !important; }
  .pd3t {
    padding-top: 3px !important; }
  .pd4t {
    padding-top: 4px !important; }
  .pd5t {
    padding-top: 5px !important; }
  .pd6t {
    padding-top: 6px !important; }
  .pd10t {
    padding-top: 10px !important; }
  .pd12t {
    padding-top: 12px !important; }
  .pd15t {
    padding-top: 15px !important; }
  .pd16t {
    padding-top: 16px !important; }
  .pd20t {
    padding-top: 20px !important; }
  .pd24t {
    padding-top: 24px !important; }
  .pd30t {
    padding-top: 30px !important; }
  .pd40t {
    padding-top: 40px !important; }
  .pd50t {
    padding-top: 50px !important; }
  .pd100t {
    padding-top: 100px !important; }
  .pd200t {
    padding-top: 200px !important; }
  .pd300t {
    padding-top: 300px !important; }
.pd1b {
  padding-bottom: 1px !important; }
  .pd2b {
    padding-bottom: 2px !important; }
  .pd3b {
    padding-bottom: 3px !important; }
  .pd4b {
    padding-bottom: 4px !important; }
  .pd5b {
    padding-bottom: 5px !important; }
  .pd6b {
    padding-bottom: 6px !important; }
  .pd10b {
    padding-bottom: 10px !important; }
  .pd12b {
    padding-bottom: 12px !important; }
  .pd15b {
    padding-bottom: 15px !important; }
  .pd16b {
    padding-bottom: 16px !important; }
  .pd20b {
    padding-bottom: 20px !important; }
  .pd24b {
    padding-bottom: 24px !important; }
  .pd30b {
    padding-bottom: 30px !important; }
  .pd40b {
    padding-bottom: 40px !important; }
  .pd50b {
    padding-bottom: 50px !important; }
  .pd100b {
    padding-bottom: 100px !important; }
  .pd200b {
    padding-bottom: 200px !important; }
  .pd300b {
    padding-bottom: 300px !important; }
  .pd400b {
    padding-bottom: 400px !important; }

.pd1l {
  padding-left: 1px !important; }
  .pd2l {
    padding-left: 2px !important; }
  .pd3l {
    padding-left: 3px !important; }
  .pd4l {
    padding-left: 4px !important; }
  .pd5l {
    padding-left: 5px !important; }
  .pd6l {
    padding-left: 6px !important; }
  .pd10l {
    padding-left: 10px !important; }
  .pd12l {
    padding-left: 12px !important; }
  .pd15l {
    padding-left: 15px !important; }
  .pd16l {
    padding-left: 16px !important; }
  .pd20l {
    padding-left: 20px !important; }
  .pd24l {
    padding-left: 24px !important; }
  .pd30l {
    padding-left: 30px !important; }
  .pd40l {
    padding-left: 40px !important; }
  .pd50l {
    padding-left: 50px !important; }
  .pd100l {
    padding-left: 100px !important; }
  .pd200l {
    padding-left: 200px !important; }
  .pd300l {
    padding-left: 300px !important; }
  .pd400l {
    padding-left: 400px !important; }

.pd1r {
  padding-right: 1px !important; }
  .pd2r {
    padding-right: 2px !important; }
  .pd3r {
    padding-right: 3px !important; }
  .pd4r {
    padding-right: 4px !important; }
  .pd5r {
    padding-right: 5px !important; }
  .pd6r {
    padding-right: 6px !important; }
  .pd10r {
    padding-right: 10px !important; }
  .pd12r {
    padding-right: 12px !important; }
  .pd15r {
    padding-right: 15px !important; }
  .pd16r {
    padding-right: 16px !important; }
  .pd20r {
    padding-right: 20px !important; }
  .pd24r {
    padding-right: 24px !important; }
  .pd30r {
    padding-right: 30px !important; }
  .pd40r {
    padding-right: 40px !important; }
  .pd50r {
    padding-right: 50px !important; }
  .pd100r {
    padding-right: 100px !important; }
  .pd200r {
    padding-right: 200px !important; }
  .pd300r {
    padding-right: 300px !important; }
  .pd400r {
    padding-right: 400px !important; }

.pd1x {
  padding-left: 1px !important;
  padding-right: 1px !important; }
  .pd2x {
    padding-left: 2px !important;
    padding-right: 2px !important; }
  .pd3x {
    padding-left: 3px !important;
    padding-right: 3px !important; }
  .pd4x {
    padding-left: 4px !important;
    padding-right: 4px !important; }
  .pd5x {
    padding-left: 5px !important;
    padding-right: 5px !important; }
  .pd6x {
    padding-left: 6px !important;
    padding-right: 6px !important; }
  .pd10x {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .pd12x {
    padding-left: 12px !important;
    padding-right: 12px !important; }
  .pd15x {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .pd16x {
    padding-left: 16px !important;
    padding-right: 16px !important; }
  .pd20x {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .pd24x {
    padding-left: 24px !important;
    padding-right: 24px !important; }
  .pd30x {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .pd40x {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  .pd48x {
    padding-left: 48px !important;
    padding-right: 48px !important; }
  .pd50x {
    padding-left: 50px !important;
    padding-right: 50px !important; }
  .pd100x {
    padding-left: 100px !important;
    padding-right: 100px !important; }
  .pd200x {
    padding-left: 200px !important;
    padding-right: 200px !important; }
  .pd250x {
    padding-left: 250px !important;
    padding-right: 250px !important; }


.pd1y {
  padding-top: 1px !important;
  padding-bottom: 1px !important; }
  .pd2y {
    padding-top: 2px !important;
    padding-bottom: 2px !important; }
  .pd3y {
    padding-top: 3px !important;
    padding-bottom: 3px !important; }
  .pd4y {
    padding-top: 4px !important;
    padding-bottom: 4px !important; }
  .pd5y {
    padding-top: 5px !important;
    padding-bottom: 5px !important; }
  .pd6y {
    padding-top: 6px !important;
    padding-bottom: 6px !important; }
  .pd10y {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  .pd12y {
    padding-top: 12px !important;
    padding-bottom: 12px !important; }
  .pd15y {
    padding-top: 15px !important;
    padding-bottom: 15px !important; }
  .pd16y {
    padding-top: 16px !important;
    padding-bottom: 16px !important; }
  .pd20y {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .pd24y {
    padding-top: 24px !important;
    padding-bottom: 24px !important; }
  .pd30y {
    padding-top: 30px !important;
    padding-bottom: 30px !important; }
  .pd40y {
    padding-top: 40px !important;
    padding-bottom: 40px !important; }
  .pd50y {
    padding-top: 50px !important;
    padding-bottom: 50px !important; }
  .pd100y {
    padding-top: 100px !important;
    padding-bottom: 100px !important; }
  .pd200y {
    padding-top: 200px !important;
    padding-bottom: 200px !important; }
  .pd250y {
    padding-top: 250px !important;
    padding-bottom: 250px !important; }

.pd1 {
  padding: 1px !important;}
  .pd2 {
    padding: 2px !important;}
  .pd3 {
    padding: 3px !important;}
  .pd4 {
    padding: 4px !important;}
  .pd5 {
    padding: 5px !important;}
  .pd6 {
    padding: 6px !important;}
  .pd7 {
    padding: 7px !important;}
  .pd8 {
    padding: 8px !important;}
  .pd9 {
    padding: 9px !important;}
  .pd10 {
    padding: 10px !important;}
  .pd12 {
    padding: 12px !important;}
  .pd16 {
    padding: 16px !important;}
  .pd20 {
    padding: 20px !important;}
  .pd24 {
    padding: 24px !important;}
  .pd30 {
    padding: 30px !important;}
  .pd48 {
    padding: 48px !important;}
  .pd100 {
    padding: 100px !important;}

.mg1 {
  margin: 1px !important;}
  .mg2 {
    margin: 2px !important;}
  .mg3 {
    margin: 3px !important;}
  .mg4 {
    margin: 4px !important;}
  .mg5 {
    margin: 5px !important;}
  .mg6 {
    margin: 6px !important;}
  .mg7 {
    margin: 7px !important;}
  .mg8 {
    margin: 8px !important;}
  .mg9 {
    margin: 9px !important;}
  .mg10 {
    margin: 10px !important;}
  .mg12 {
    margin: 12px !important;}
  .mg16 {
    margin: 16px !important;}
  .mg20 {
    margin: 20px !important;}
  .mg24 {
    margin: 24px !important;}
  .mg30 {
    margin: 30px !important;}
  .mg48 {
    margin: 48px !important;}
  .mg100 {
    margin: 100px !important;}
.w1 {
  width: 1px !important; }
  .w2 {
    width: 2px !important; }
  .w3 {
    width: 3px !important; }
  .w4 {
    width: 4px !important; }
  .w5 {
    width: 5px !important; }
  .w6 {
    width: 6px !important; }
  .w7 {
    width: 7px !important; }
  .w8 {
    width: 8px !important; }
  .w9 {
    width: 9px !important; }
  .w10 {
    width: 10px !important; }
  .w20 {
    width: 20px !important; }
  .w30 {
    width: 30px !important; }
  .w40 {
    width: 40px !important; }
  .w50 {
    width: 50px !important; }
  .w100 {
    width: 100px !important; }
  .w150 {
    width: 150px !important; }
  .w200 {
    width: 200px !important; }
  .w250 {
    width: 250px !important; }
  .w300 {
    width: 300px !important; }
  .w350 {
    width: 350px !important; }
  .w400 {
    width: 400px !important; }
  .w450 {
    width: 450px !important; }
  .w500 {
    width: 500px !important; }

.h1 {
  height: 1px !important; }
  .h2 {
    height: 2px !important; }
  .h3 {
    height: 3px !important; }
  .h4 {
    height: 4px !important; }
  .h5 {
    height: 5px !important; }
  .h6 {
    height: 6px !important; }
  .h7 {
    height: 7px !important; }
  .h8 {
    height: 8px !important; }
  .h9 {
    height: 9px !important; }
  .h10 {
    height: 10px !important; }
  .h15 {
    height: 15px !important; }
  .h20 {
    height: 20px !important; }
  .h25 {
    height: 25px !important; }
  .h30 {
    height: 30px !important; }
  .h40 {
    height: 40px !important; }
  .h50 {
    height: 50px !important; }
  .h70 {
    height: 70px !important; }
  .h75 {
    height: 75px !important; }
  .h100 {
    height: 100px !important; }
  .h125 {
    height: 125px !important; }
  .h150 {
    height: 150px !important; }
  .h200 {
    height: 200px !important; }
  .h300 {
    height: 300px !important; }
  .h400 {
    height: 400px !important; }
  .h500 {
    height: 500px !important; }
  .h1000 {
    height: 1000px !important; }

.w100p {
  width: 100% !important; }
.h100p {
  height: 100% !important; }

.lineh1 {
  line-height: 1px !important; }
  .lineh2 {
    line-height: 2px !important; }
  .lineh3 {
    line-height: 3px !important; }
  .lineh4 {
    line-height: 4px !important; }
  .lineh5 {
    line-height: 5px !important; }
  .lineh10 {
    line-height: 10px !important; }
  .lineh15 {
    line-height: 15px !important; }
  .lineh20 {
    line-height: 20px !important; }
  .lineh25 {
    line-height: 25px !important; }
  .lineh30 {
    line-height: 30px !important; }
  .lineh40 {
    line-height: 40px !important; }
  .lineh50 {
    line-height: 50px !important; }
  .lineh75 {
    line-height: 75px !important; }
  .lineh100 {
    line-height: 100px !important; }
  .lineh125 {
    line-height: 125px !important; }
  .lineh150 {
    line-height: 150px !important; }
  .lineh200 {
    line-height: 200px !important; }
  .lineh300 {
    line-height: 300px !important; }
  .lineh400 {
    line-height: 400px !important; }
  .lineh500 {
    line-height: 500px !important; }

.font-xs {
  font-size: .75rem !important; }
  .font-sm {
    font-size: .85rem !important; }
  .font-lg {
    font-size: 1rem !important; }
  .font-xl {
    font-size: 1.25rem !important; }
  .font-2xl {
    font-size: 1.5rem !important; }
  .font-3xl {
    font-size: 1.75rem !important; }
  .font-4xl {
    font-size: 2rem !important; }
  .font-5xl {
    font-size: 2.5rem !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }


/* Buttons */
.btn { 
  position: relative;
  overflow:hidden;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  font-weight: normal;
  padding: 8px 12px; }
  .btn:hover {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12); }
  .btn:focus {
    outline: none; }
  .btn-default {
    background-color: #d6d6d6; }
    .btn-default:hover {
      background-color: darken(#d6d6d6, 5%); }
    .btn-default:focus {
      background-color: #d6d6d6; }
  .btn-primary {
    background-color: #267ED5; }
    .btn-primary:hover {
      background-color: lighten(#267ED5, 5%); }
    .btn-primary:focus {
      background-color: #267ED5; }
  .btn-success {
    background-color: #80D651; }
    .btn-success:hover {
      background-color: lighten(#80D651, 5%); }
    .btn-success:focus {
      background-color: #80D651; }
  .btn-info {
    background-color: #45ABCD; }
    .btn-info:hover {
      background-color: lighten(#45ABCD, 5%); }
    .btn-info:focus {
      background-color: #45ABCD; }
  .btn-warning {
    background-color: #FEAF20; }
    .btn-warning:hover {
      background-color: lighten(#FEAF20, 5%); }
    .btn-warning:focus {
      background-color: #FEAF20; }
  .btn-danger {
    background-color: #f44336; }
    .btn-danger:hover {
      background-color: lighten(#f44336, 5%); }
    .btn-danger:focus {
      background-color: #f44336; }
  .btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: transparent; }
    .btn-transparent:hover {
      color: #fff;
      background-color: transparent;
      border-color: transparent; }
    .btn-transparent:focus, .btn-transparent.focus {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); }
    .btn-transparent.disabled, .btn-transparent:disabled {
      background-color: transparent;
      border-color: transparent; }
    .btn-transparent:active, .btn-transparent.active,
    .show > .btn-transparent.dropdown-toggle {
      color: #fff;
      background-color: transparent;
      background-image: none;
      border-color: transparent; }

/* Responsive*/
@media (min-width: 992px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}