body {
  background-color: #f5f5f5;
}

.content {
  margin-top: 50px;
  position: relative;
}
.undecorated-link:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.undecorated-link:focus {
  text-decoration: none;
  outline: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.notif-dropdown-toggle {
  position: relative;
}
.notif-number {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 15px;
  width: 15px;
  line-height:15px;
  font-size:.7em;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: auto;
  box-shadow:0 0 1px #333;
}
.notifis-list {
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 0;
  min-width: 320px;
}
a.notifis-list-item {
  position: relative;
  min-width: 100%;
  height: 60px;
  display: block;
  padding: 4px 12px;
}
a.notifis-list-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
a.notifis-list-item:hover,
a.notifis-list-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.card {
  background-color: #fff;
  position: relative;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 12px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  color: #555;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #d6d6d6;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none !important;
  transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #d6d6d6;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.cs-loader {
  position: relative;
  height: 50px;
  width: 100%;
}

.cs-loader-inner {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: calc(100% - 50px);
  color: #333;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

.btn { 
  position: relative;
  overflow:hidden;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  font-weight: normal;
  padding: 8px 12px;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  outline: none;
}

.btn-default {
  background-color: #d6d6d6;
}
.btn-default:hover {
  background-color: darken(#d6d6d6, 5%);
}
.btn-default:focus {
  background-color: #d6d6d6;
}
.btn-primary {
  background-color: #267ED5;
}
.btn-primary:hover {
  background-color: lighten(#267ED5, 5%);
}
.btn-primary:focus {
  background-color: #267ED5;
}
.btn-success {
  background-color: #80D651;
}
.btn-success:hover {
  background-color: lighten(#80D651, 5%);
}
.btn-success:focus {
  background-color: #80D651;
}
.btn-info {
  background-color: #45ABCD;
}
.btn-info:hover {
  background-color: lighten(#45ABCD, 5%);
}
.btn-info:focus {
  background-color: #45ABCD;
}
.btn-warning {
  background-color: #FEAF20;
}
.btn-warning:hover {
  background-color: lighten(#FEAF20, 5%);
}
.btn-warning:focus {
  background-color: #FEAF20;
}
.btn-danger {
  background-color: #f44336;
}
.btn-danger:hover {
  background-color: lighten(#f44336, 5%);
}
.btn-danger:focus {
  background-color: #f44336;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  animation: lol 3s 500ms infinite ease-in-out;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #f44336;
}
.notice-danger>strong {
    color: #f44336;
}

#toast-container .toast {
  padding: 12px 12px 12px 12px;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #555;
  background-color: #fff;
  opacity: 1;
  cursor: pointer;
}

#toast-container .toast:hover {
  box-shadow: 0 0 12px #000000;
}

.toast-close-button {
  opacity: 0.5;
}

.toast-close-button:hover,
.toast-close-button:focus {
  outline: none;
  opacity: 0.8;
}

.toast {
  /*background-color: #030303;*/
  border-left: 6px solid #7f7f84;
}
.toast .toast-close-button {
  color: #7f7f84;
}

.toast-success {
  /*background-color: #51a351;*/
  border-left: 6px solid #80D651;
}
.toast-success .toast-close-button,
.toast-success .toast-message,
.toast-success .toast-title {
  color: #80D651;
}

.toast-error {
  /*background-color: #bd362f;*/
  border-left: 6px solid #d73814;
}
.toast-error .toast-close-button,
.toast-error .toast-message,
.toast-error .toast-title {
  color: #d73814;
}

.toast-info {
  /*background-color: #2f96b4;*/
  border-left: 6px solid #45ABCD;
}
.toast-info .toast-close-button,
.toast-info .toast-message,
.toast-info .toast-title {
  color: #45ABCD;
}

.toast-wait {
  /*background-color: #2f96b4;*/
  border-left: 6px solid #267ED5;
}
.toast-wait .toast-close-button,
.toast-wait .toast-message,
.toast-wait .toast-title {
  color: #267ED5;
}

.toast-warning {
  /*background-color: #f89406;*/
  border-left: 6px solid #FEAF20;
}
.toast-warning .toast-close-button,
.toast-warning .toast-message,
.toast-warning .toast-title {
  color: #FEAF20;
}
/*ngDialog*/
.ngdialog.ngdialog-theme-default .ngdialog-close {
  display: none;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0px;
  background-color: #fff;
}
.highlight-text {
  color: #267ED5;
}
.warning-text {
  color: #FEAF20;
}
.danger-text {
  color: #f44336;
}
.success-text {
  color: #80D651;
}
.info-text {
  color: #45ABCD;
}
.default-text {
  color: #555;
}
.mgn {
  margin: 0;
}
.mgnl {
  margin-left: 0;
}
.mgnr {
  margin-right: 0;
}
.mgnt {
  margin-top: 0;
}
.mgnb {
  margin-bottom: 0;
}
.pdn {
  padding: 0;
}
.pdnl {
  padding-left: 0;
}
.pdnr {
  padding-right: 0;
}
.pdnt {
  padding-top: 0;
}
.pdnb {
  padding-bottom: 0;
}
.mg1t {
  margin-top: 1px;
}

.mg2t {
  margin-top: 2px;
}

.mg3t {
  margin-top: 3px;
}

.mg4t {
  margin-top: 4px;
}

.mg5t {
  margin-top: 5px;
}

.mg10t {
  margin-top: 10px;
}

.mg15t {
  margin-top: 15px;
}

.mg20t {
  margin-top: 20px;
}

.mg30t {
  margin-top: 30px;
}

.mg40t {
  margin-top: 40px;
}

.mg50t {
  margin-top: 50px;
}

.mg100t {
  margin-top: 100px;
}

.mg200t {
  margin-top: 200px;
}

.mg250t {
  margin-top: 250px;
}

.mg1b {
  margin-bottom: 1px;
}

.mg2b {
  margin-bottom: 2px;
}

.mg3b {
  margin-bottom: 3px;
}

.mg4b {
  margin-bottom: 4px;
}

.mg5b {
  margin-bottom: 5px !important;
}

.mg10b {
  margin-bottom: 10px;
}

.mg15b {
  margin-bottom: 15px;
}

.mg20b {
  margin-bottom: 20px;
}

.mg30b {
  margin-bottom: 30px;
}

.mg40b {
  margin-bottom: 40px;
}

.mg50b {
  margin-bottom: 50px;
}

.mg100b {
  margin-bottom: 100px;
}

.mg200b {
  margin-bottom: 200px;
}

.mg1l {
  margin-left: 1px;
}

.mg2l {
  margin-left: 2px;
}

.mg3l {
  margin-left: 3px;
}

.mg4l {
  margin-left: 4px;
}

.mg5l {
  margin-left: 5px;
}

.mg10l {
  margin-left: 10px;
}

.mg15l {
  margin-left: 15px;
}

.mg20l {
  margin-left: 20px;
}

.mg30l {
  margin-left: 30px;
}

.mg40l {
  margin-left: 40px;
}

.mg50l {
  margin-left: 50px;
}

.mg100l {
  margin-left: 100px;
}

.mg200l {
  margin-left: 200px;
}

.mg1r {
  margin-right: 1px;
}

.mg2r {
  margin-right: 2px;
}

.mg3r {
  margin-right: 3px;
}

.mg4r {
  margin-right: 4px;
}

.mg5r {
  margin-right: 5px;
}

.mg10r {
  margin-right: 10px;
}

.mg15r {
  margin-right: 15px;
}

.mg20r {
  margin-right: 20px;
}

.mg30r {
  margin-right: 30px;
}

.mg40r {
  margin-right: 40px;
}

.mg50r {
  margin-right: 50px;
}

.mg100r {
  margin-right: 100px;
}

.mg200r {
  margin-right: 200px;
}

.mg250r {
  margin-right: 250px;
}

.pd1t {
  padding-top: 1px;
}

.pd2t {
  padding-top: 2px;
}

.pd3t {
  padding-top: 3px;
}

.pd4t {
  padding-top: 4px;
}

.pd5t {
  padding-top: 5px;
}

.pd6t {
  padding-top: 6px;
}

.pd10t {
  padding-top: 10px;
}

.pd15t {
  padding-top: 15px;
}

.pd20t {
  padding-top: 20px;
}

.pd30t {
  padding-top: 30px;
}

.pd40t {
  padding-top: 40px;
}

.pd50t {
  padding-top: 50px;
}

.pd1b {
  padding-bottom: 1px;
}

.pd2b {
  padding-bottom: 2px;
}

.pd3b {
  padding-bottom: 3px;
}

.pd4b {
  padding-bottom: 4px;
}

.pd5b {
  padding-bottom: 5px;
}

.pd6b {
  padding-bottom: 6px;
}

.pd10b {
  padding-bottom: 10px;
}

.pd15b {
  padding-bottom: 15px;
}

.pd20b {
  padding-bottom: 20px;
}

.pd30b {
  padding-bottom: 30px;
}

.pd40b {
  padding-bottom: 40px;
}

.pd50b {
  padding-bottom: 50px;
}

.pd1l {
  padding-left: 1px;
}

.pd2l {
  padding-left: 2px;
}

.pd3l {
  padding-left: 3px;
}

.pd4l {
  padding-left: 4px;
}

.pd5l {
  padding-left: 5px;
}

.pd6l {
  padding-left: 6px;
}

.pd10l {
  padding-left: 10px;
}

.pd15l {
  padding-left: 15px;
}

.pd20l {
  padding-left: 20px;
}

.pd30l {
  padding-left: 30px;
}

.pd40l {
  padding-left: 40px;
}

.pd50l {
  padding-left: 50px;
}

.pd1r {
  padding-right: 1px;
}

.pd2r {
  padding-right: 2px;
}

.pd3r {
  padding-right: 3px;
}

.pd4r {
  padding-right: 4px;
}

.pd5r {
  padding-right: 5px;
}

.pd6r {
  padding-right: 6px;
}

.pd10r {
  padding-right: 10px;
}

.pd15r {
  padding-right: 15px;
}

.pd20r {
  padding-right: 20px;
}

.pd30r {
  padding-right: 30px;
}

.pd40r {
  padding-right: 40px;
}

.pd50r {
  padding-right: 50px;
}

.w10 {
  width: 10px;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px !important;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px !important;
}

.w250 {
  width: 250px;
}

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.w400 {
  width: 400px;
}

.w450 {
  width: 450px;
}

.w500 {
  width: 500px;
}

.h1 {
  height: 1px;
}

.h2 {
  height: 2px;
}

.h3 {
  height: 3px;
}

.h4 {
  height: 4px;
}

.h5 {
  height: 5px;
}

.h10 {
  height: 10px;
}

.h15 {
  height: 15px;
}

.h20 {
  height: 20px;
}

.h25 {
  height: 25px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h75 {
  height: 75px;
}

.h100 {
  height: 100px;
}

.h125 {
  height: 125px;
}

.h150 {
  height: 150px;
}

.h200 {
  height: 200px;
}

.h300 {
  height: 300px;
}

.h400 {
  height: 400px;
}

.h500 {
  height: 500px;
}

.h1000 {
  height: 1000px;
}

.w100p {
  width: 100%;
}

.lineh1 {
  line-height: 1px;
}

.lineh2 {
  line-height: 2px;
}

.lineh3 {
  line-height: 3px;
}

.lineh4 {
  line-height: 4px;
}

.lineh5 {
  line-height: 5px;
}

.lineh10 {
  line-height: 10px;
}

.lineh15 {
  line-height: 15px;
}

.lineh20 {
  line-height: 20px;
}

.lineh25 {
  line-height: 25px;
}

.lineh30 {
  line-height: 30px;
}

.lineh40 {
  line-height: 40px;
}

.lineh50 {
  line-height: 50px;
}

.lineh75 {
  line-height: 75px;
}

.lineh100 {
  line-height: 100px;
}

.lineh125 {
  line-height: 125px;
}

.lineh150 {
  line-height: 150px;
}

.lineh200 {
  line-height: 200px;
}

.lineh300 {
  line-height: 300px;
}

.lineh400 {
  line-height: 400px;
}

.lineh500 {
  line-height: 500px;
}

.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-main {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff;
}