html,
body {
  background-color: #f5f5f5;
  font-size: 14px;
  height: 100%;
  margin: 0;
  color: #555;}
.app {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden; }
  .app .content {
    flex: 1;
    min-width: 0;  }
  .app .aside-menu {
    flex: 0 0 250px; }

.app,
.content {
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s; }

.aside-menu {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  padding-top: 50px;
  z-index: 1019;
  width: 250px;
  color: #fff;
  background: #267ED5;
  transition-duration: .25s,.25s;
  transition-property: left, right;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;  }
  .aside-menu::-webkit-scrollbar {
    width: 1px; }
  .aside-menu::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid transparent;
    background-clip: content-box; }
    .aside-menu::-webkit-scrollbar-thumb {
    background: transparent; }
  .aside-menu .aside-profile {
    border-bottom: 1px solid #5197dd;}
  .aside-menu .aside-profile,
  .aside-menu .aside-search {
    padding: 1rem;
    width: 100%;}
    .aside-menu .aside-profile .aside-avatar {
      border: 2px solid #ccc;
      margin-right: 0.85rem;
      height: 48px;
      width: 48px; }
  .aside-menu .aside-nav {
    position: relative;
    width: 250px; }
  .aside-menu .nav {
    width: 250px;
    flex-direction: column !important; }
    .aside-menu .nav .nav-title {
      padding: 0.75rem 1rem;
      font-size: 11px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase; }
    .aside-menu .nav .divider {
      height: 10px; }
    .aside-menu .nav .nav-item {
      position: relative;
      margin: 0;
      transition: background .3s ease-in-out; }
      .aside-menu .nav .nav-item {
        border-top: 1px solid #5197dd;}
      .aside-menu .nav .nav-item ul {
        max-height: 0;
        padding: 0;
        margin: 0;
        overflow-y: hidden;
        transition: max-height .3s ease-in-out; }
        .aside-menu .nav .nav-item ul li {
          padding: 0;
          list-style: none; }
      .aside-menu .nav .nav-item .nav-link, .aside-menu .nav .nav-item .navbar .dropdown-toggle, .navbar .aside-menu .nav .nav-item .dropdown-toggle {
        display: block;
        padding: 0.75rem 1rem;
        color: #fff;
        text-decoration: none;
        background: transparent; }
        .aside-menu .nav .nav-item .nav-link:hover, .aside-menu .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .aside-menu .nav .nav-item .dropdown-toggle:hover {
          color: #fff !important;
          background: #5197dd !important; }
          .aside-menu .nav .nav-item .nav-link:hover i, .aside-menu .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .aside-menu .nav .nav-item .dropdown-toggle:hover i {
            color: #fff !important; }
        .aside-menu .nav .nav-item .nav-link.active, .aside-menu .nav .nav-item .navbar .active.dropdown-toggle, .navbar .aside-menu .nav .nav-item .active.dropdown-toggle {
          color: #fff;
          background: #2271bf; }
          .aside-menu .nav .nav-item .nav-link.active i, .aside-menu .nav .nav-item .navbar .active.dropdown-toggle i, .navbar .aside-menu .nav .nav-item .active.dropdown-toggle i {
            color: #fff; }
        .aside-menu .nav .nav-item .nav-link [class^="icon-"], .aside-menu .nav .nav-item .navbar .dropdown-toggle [class^="icon-"], .navbar .aside-menu .nav .nav-item .dropdown-toggle [class^="icon-"], .aside-menu .nav .nav-item .nav-link [class*=" icon-"], .aside-menu .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .navbar .aside-menu .nav .nav-item .dropdown-toggle [class*=" icon-"] {
          display: inline-block;
          margin-top: -4px;
          vertical-align: middle; }
        .aside-menu .nav .nav-item .nav-link i, .aside-menu .nav .nav-item .navbar .dropdown-toggle i, .navbar .aside-menu .nav .nav-item .dropdown-toggle i {
          width: 20px;
          margin: 0 0.5rem 0 0;
          font-size: 14px;
          color: #fff;
          text-align: center; }
        .aside-menu .nav .nav-item .nav-link .badge, .aside-menu .nav .nav-item .navbar .dropdown-toggle .badge, .navbar .aside-menu .nav .nav-item .dropdown-toggle .badge {
          float: right;
          margin-top: 2px; }
        .aside-menu .nav .nav-item .nav-link.nav-dropdown-toggle::before, .aside-menu .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .aside-menu .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
          position: absolute;
          top: 0.96875rem;
          right: 1rem;
          display: block;
          width: 0.875rem;
          height: 0.875rem;
          padding: 0;
          font-size: 0.875rem;
          line-height: 0.65625rem;
          text-align: center;
          content: "\2039";
          transition: .3s; }
      .aside-menu .nav .nav-item.nav-dropdown.open {
        background: rgba(0, 0, 0, 0.2); }
        .aside-menu .nav .nav-item.nav-dropdown.open > ul, .aside-menu .nav .nav-item.nav-dropdown.open > ol {
          max-height: 1000px; }
        .aside-menu .nav .nav-item.nav-dropdown.open .nav-link, .aside-menu .nav .nav-item.nav-dropdown.open .navbar .dropdown-toggle, .navbar .aside-menu .nav .nav-item.nav-dropdown.open .dropdown-toggle {
          color: #fff;
          border-left: 0 !important; }
        .aside-menu .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, .aside-menu .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .navbar .aside-menu .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
          transform: rotate(-90deg); }
        .aside-menu .nav .nav-item.nav-dropdown.open .nav-dropdown.open {
          border-left: 0; }
      .aside-menu .nav .nav-item.nav-dropdown.nt {
        transition: 0s !important; }
        .aside-menu .nav .nav-item.nav-dropdown.nt > ul, .aside-menu .nav .nav-item.nav-dropdown.nt > ol {
          transition: 0s !important; }
        .aside-menu .nav .nav-item.nav-dropdown.nt .nav-link.nav-dropdown-toggle::before, .aside-menu .nav .nav-item.nav-dropdown.nt .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar .aside-menu .nav .nav-item.nav-dropdown.nt .nav-dropdown-toggle.dropdown-toggle::before {
          transition: 0s !important; }
      .aside-menu .nav .nav-item .nav-label {
        display: block;
        padding: 0.09375rem 1rem;
        color: #fff; }
        .aside-menu .nav .nav-item .nav-label:hover {
          color: #fff;
          text-decoration: none; }
        .aside-menu .nav .nav-item .nav-label i {
          width: 20px;
          margin: -3px 0.5rem 0 0;
          font-size: 10px;
          color: #fff;
          text-align: center;
          vertical-align: middle; }
      .aside-menu .nav .nav-item .progress {
        background-color: #455b66 !important; }
  


.aside-menu-show .app .aside-menu {
  right: 0; }
 .aside-menu-show .app .content {
  margin-left: -250px;
  margin-right: 250px; }

.content {
  padding-top: 50px;
  position: relative; }

@media (min-width: 768px) {
  .aside-menu {
    right: -250px;}
  .aside-menu-show .app .aside-menu {
    right: -250px;}
  .aside-menu-show .app .content {
    margin-left: 0;
    margin-right: 0; } }

.aside-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background-color: #fff;
  z-index: 51;
  transition: height 0.25s ease-in;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .aside-panel i.r180 {
    transition-duration: 0.3s;
    transform: rotate(180deg); }
  .aside-backdrop {
    opacity: 0; }

  .aside-panel-open {
    overflow: hidden; }
  .aside-panel-open .aside-panel {
    height: 30%; }
  .aside-panel-open .aside-panel.full {
    height: 90%; }
  .aside-panel-open .aside-backdrop {
    transition: opacity 450ms;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 50; }
*:focus {
  outline: none !important;
}

.undecorated-link:hover {
  text-decoration: none;
  cursor: pointer; }
  .undecorated-link:focus {
    text-decoration: none;
    outline: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  height: 28px;
  width: 28px;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}


.notif-dropdown-toggle {
  position: relative; }
  .notif-dropdown-toggle .badge {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: 0; }
  .notifis-list {
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 0;
    min-width: 320px; }
    .notifis-list li {
      cursor: pointer; }
    .notifis-list li:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .notifis-list a.notifis-list-item {
      position: relative;
      min-width: 100%;
      height: 60px;
      display: block;
      padding: 4px 12px;
      line-height: 1.2em; }
    .notifis-list a.notifis-list-item.unread {
      background-color: #f2f5fb; }
    .notifis-list a.notifis-list-item:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .notifis-list a.notifis-list-item:hover,
    .notifis-list a.notifis-list-item:focus {
      text-decoration: none;
      background-color: #f5f5f5; }
.error-text {
  display: none; }
  .has-error .help-block.error-text {
    display: block; }
  .has-error .help-inline.error-text {
    display: inline; }

.card {
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  color: #555; }
  .card .card-header {
    padding: 0.85rem 0.85rem 0.5rem 0.85rem;
    margin-bottom: 0; }
  .card .card-body {
    transition: height 0.3s ease-out;
    flex: 1 1 auto;
    padding: 0.85rem; }
  .card .card-footer {
    transition: height 0.3s ease-out;
    overflow: hidden;
    padding: 0.85rem;
    margin-bottom: 0; }
    .card .card-header .card-title {
      color: #777;
      margin-top: auto; }
    .card .card-header .card-link {
      float: right;
      margin-top: auto; }

.card.card-expand .card-body,
.card.card-expand .card-footer {
  transition: height 0.3s ease-in;
  overflow: hidden;
  height: 0;
  padding: 0; }
.card.card-expand.open .card-body {
  height: unset;
  padding: 0.85rem; }
.card.card-expand.open .card-footer {
  height: unset;
  padding: 0.85rem;  }
  .card.card-expand .card-header i {
    transition-duration: 0.3s;
  }
  .card.card-expand .card-header i.r180 {
    transition-duration: 0.3s;
    transform: rotate(180deg); }

.card.card-scroll .card-body {
  padding: 0;
  overflow: hidden; }
  .card.card-scroll .card-body .card-scroll-content {
    padding: 0.85rem;
    padding-right: calc(0.85rem + 20px);
    width: calc(100% + 20px);
    height: 300px;
    overflow: auto; }
.card.card-scroll .card-body::-webkit-scrollbar {
    display: none; }
.card.card-scroll .card-body::-moz-scrollbar {
    display: none; }
.card.card-scroll.card-expand.open .card-body {
  padding: 0;
  height: 300px; }
@media (max-width: 767px) {
  .card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px; } }
.nav-tabs {
  border: none !important;
  border-bottom: 2px solid #DDD !important; }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      border-width: 0; }
    .nav-tabs > li > a {
      border: none !important;
      color: #666; }
        .nav-tabs > li.active > a,
        .nav-tabs > li > a:hover {
          border: none !important;
          color: #4285F4!important;
          background: transparent; }
        .nav-tabs > li > a::after {
          content: "";
          background: #4285F4;
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: -1px;
          transition: all 250ms ease 0s;
          transform: scale(0); }
    .nav-tabs > li.active > a::after,
    .nav-tabs > li:hover > a::after {
      transform: scale(1); }
  .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff; }
  .tab-content {
    padding-top: 0.85rem; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

.loader {
  margin: auto;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-bottom: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } }

@keyframes spin {
  0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } }

.auto-complete {
  z-index: 999;}

.custom-toolbar {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px; }
  .custom-toolbar::after { 
     content: " ";
     display: block; 
     height: 0; 
     clear: both; }
  @media (max-width: 767px) {
  .custom-toolbar {
    margin-bottom: 6px; }
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0; }
  .tags li {
    float: left; }
  .tag {
    background: #d6d6d6;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none !important;
    transition: color 0.2s; }
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px; }
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #d6d6d6;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }
  .tag:hover {
    background-color: crimson;
    color: white; }
  .tag:hover::after {
     border-left-color: crimson; }
  .tags-custom .tags {
    border-radius: 0 !important; }

.cs-loader {
  position: relative;
  height: 50px;
  width: 100%; }
  .cs-loader-inner {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: calc(100% - 50px);
    color: #333;
    padding: 0 100px;
    text-align: center; }
  .cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block; }
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px); }
    33% {
      opacity: 1;
      transform: translateX(0px); }
    66% {
      opacity: 1;
      transform: translateX(0px); }
    100% {
      opacity: 0;
      transform: translateX(300px); }
  }
  .cs-loader-inner label:nth-child(6) {
    animation: lol 3s infinite ease-in-out; }
  .cs-loader-inner label:nth-child(5) {
    animation: lol 3s 100ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(4) {
    animation: lol 3s 200ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(3) {
    animation: lol 3s 300ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(2) {
    animation: lol 3s 400ms infinite ease-in-out; }
  .cs-loader-inner label:nth-child(1) {
    animation: lol 3s 500ms infinite ease-in-out; }

.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);}
  .notice-sm {
    padding: 10px;
    font-size: 80%;}
  .notice-lg {
    padding: 35px;
    font-size: large;}
  .notice-success {
    border-color: #80D651;}
  .notice-success>strong {
    color: #80D651; }
  .notice-info {
    border-color: #45ABCD; }
  .notice-info>strong {
    color: #45ABCD; }
  .notice-warning {
    border-color: #FEAF20; }
  .notice-warning>strong {
    color: #FEAF20; }
  .notice-danger {
    border-color: #f44336; }
  .notice-danger>strong {
    color: #f44336; }

#toast-container .toast {
  padding: 12px 12px 12px 12px;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #555;
  background-color: #fff;
  opacity: 1;
  cursor: pointer; }
  #toast-container .toast:hover {
    box-shadow: 0 0 12px #000000; }
  .toast-close-button {
    opacity: 0.5; }
  .toast-close-button:hover {
    opacity: 0.8; }
  .toast-close-button:focus {
    opacity: 0.8;
    outline: none; }
  .toast {
    border-left: 6px solid #7f7f84; }
  .toast .toast-close-button {
    color: #7f7f84; }
  .toast-success {
    border-left: 6px solid #80D651; }
    .toast-success .toast-close-button,
    .toast-success .toast-message,
    .toast-success .toast-title {
      color: #80D651; }
  .toast-error {
    border-left: 6px solid #d73814; }
    .toast-error .toast-close-button,
    .toast-error .toast-message,
    .toast-error .toast-title {
      color: #d73814; }
  .toast-info {
    border-left: 6px solid #45ABCD; }
    .toast-info .toast-close-button,
    .toast-info .toast-message,
    .toast-info .toast-title {
      color: #45ABCD; }
  .toast-wait {
    border-left: 6px solid #267ED5; }
    .toast-wait .toast-close-button,
    .toast-wait .toast-message,
    .toast-wait .toast-title {
      color: #267ED5; }
  .toast-warning {
    border-left: 6px solid #FEAF20; }
    .toast-warning .toast-close-button,
    .toast-warning .toast-message,
    .toast-warning .toast-title {
      color: #FEAF20; }

/*ngDialog*/
.ngdialog.ngdialog-theme-default .ngdialog-close {
  display: none; }
.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0px;
  background-color: #fff; }
.ngdialog-open{
  height: auto !important; }
.ngdialog.ngdialog-theme-default.images-upload-dialog {
  font-size: 1rem; }
.ngdialog.ngdialog-theme-default.images-upload-dialog .ngdialog-content {
  padding: 0; }
  .ngdialog.ngdialog-theme-default.images-upload-dialog .card {
    box-shadow: none; }
    .ngdialog.ngdialog-theme-default.images-upload-dialog .drop-image-box {
      text-align: center;
      border-radius: 0;
      height: 70px;
      border: dotted 2px lightgray; }
    .ngdialog.ngdialog-theme-default.images-upload-dialog .drop-image-box.nv-file-over {
      border: dotted 2px #267ED5; }
    .ngdialog.ngdialog-theme-default.images-upload-dialog input[type="file"] {
      display: none;}

.highlight-text {
  color: #267ED5;
}
.warning-text {
  color: #FEAF20;
}
.danger-text {
  color: #f44336;
}
.success-text {
  color: #80D651;
}
.info-text {
  color: #45ABCD;
}
.default-text {
  color: #555;
}
.avatar {
  font-size: 17px;
  line-height: 17px;
  padding: 13px;
  text-align: center;
  margin-right: 12px;
  min-width: 46px;
  min-height: 46px;
  margin-top: 2px;
}
.count {
  min-width: 46px;
  min-height: 46px;
  display: inline-block; }
  .count .count-value {
    text-align: center;
    font-size: 1.4em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1; }
  .count .count-label {
    font-size: 1.1em;
    line-height: 1.0;
    text-align: center;
    text-transform: uppercase;
    color: #777;
    padding-top: 5px; }
.h4-text {
  font-size: 1.3em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1; }

.custom-breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}
.badge-count {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 14px;
  line-height: 1;
  color: #337ab7;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
}
.report-reason {
  width: 100%;
  resize: none;
  padding-left: 5px;
  padding-right: 5px;
  transition: height 50ms ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border: 1px solid #d5d5d5;
  border-radius: 0;
  font-size: 14px;
}
.back-to-top {
  position: fixed;
	bottom: 6px;
  right: 6px;
  z-index: 2;
  background-color: #267ED5 !important;
	display: none; }
@media (max-width: 767px) {
  .back-to-top.md-button.md-fab {
    line-height: 40px;
    width: 40px;
    height: 40px;} }
.angucomplete-image {
    border-radius: 0;
    border: none; }
  .angucomplete-dropdown {
      border-radius: 0;
      border: none;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      margin-top: 0px; }
  .angucomplete-row {
    color: #555; }
  .angucomplete-selected-row {
    background-color: #eeeeee;
    color: #555; }
.form-control {
  box-shadow: unset !important;
  border-radius: 0 !important; }
.quick-search {
  position: relative;
  padding: 0; }
  .quick-search-input {
    padding-right: 50px; }
  .quick-search-submit {
    position: absolute;
    right: 30px;
    top: 6px; }
  .quick-search-advance {
    position: absolute;
    right: 10px;
    top: 6px; }
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-inverse {
  color: #fff; }
  .bg-faded {
    background-color: #dcdddf; }
  .bg-primary {
    background-color: #267ed5 !important; }
  a.bg-primary:focus, a.bg-primary:hover {
    background-color: #1985ac !important; }
  .bg-success {
    background-color: #4dbd74 !important; }
  a.bg-success:focus, a.bg-success:hover {
    background-color: #3a9d5d !important; }
  .bg-info {
    background-color: #63c2de !important; }
  a.bg-info:focus, a.bg-info:hover {
    background-color: #39b2d5 !important; }
  .bg-warning {
    background-color: #f8cb00 !important; }
  a.bg-warning:focus, a.bg-warning:hover {
    background-color: #c5a100 !important; }
  .bg-danger {
    background-color: #f86c6b !important; }
  a.bg-danger:focus, a.bg-danger:hover {
    background-color: #f63c3a !important; }
  .bg-inverse {
    background-color: #263238 !important; }
  a.bg-inverse:focus, a.bg-inverse:hover {
    background-color: #11171a !important; }

.ta-toolbar {
  display: none; }
  .ta-toolbar.focussed {
    display: block; }
.my-md-select md-select-menu {
  margin-top: 3rem; }
.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-main {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff;
}


/* Buttons */
.btn { 
  position: relative;
  overflow:hidden;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem 0.85rem; }
  .btn:hover {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12); }
  .btn:focus {
    outline: none; }
  .btn-default {
    background-color: #d6d6d6; }
    .btn-default:hover {
      background-color: darken(#d6d6d6, 5%); }
    .btn-default:focus {
      background-color: #d6d6d6; }
  .btn-primary {
    background-color: #267ED5; }
    .btn-primary:hover {
      background-color: lighten(#267ED5, 5%); }
    .btn-primary:focus {
      background-color: #267ED5; }
  .btn-success {
    background-color: #80D651; }
    .btn-success:hover {
      background-color: lighten(#80D651, 5%); }
    .btn-success:focus {
      background-color: #80D651; }
  .btn-info {
    background-color: #45ABCD; }
    .btn-info:hover {
      background-color: lighten(#45ABCD, 5%); }
    .btn-info:focus {
      background-color: #45ABCD; }
  .btn-warning {
    background-color: #FEAF20; }
    .btn-warning:hover {
      background-color: lighten(#FEAF20, 5%); }
    .btn-warning:focus {
      background-color: #FEAF20; }
  .btn-danger {
    background-color: #f44336; }
    .btn-danger:hover {
      background-color: lighten(#f44336, 5%); }
    .btn-danger:focus {
      background-color: #f44336; }
  .btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: transparent; }
    .btn-transparent:hover {
      color: #fff;
      background-color: transparent;
      border-color: transparent; }
    .btn-transparent:focus, .btn-transparent.focus {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); }
    .btn-transparent.disabled, .btn-transparent:disabled {
      background-color: transparent;
      border-color: transparent; }
    .btn-transparent:active, .btn-transparent.active,
    .show > .btn-transparent.dropdown-toggle {
      color: #fff;
      background-color: transparent;
      background-image: none;
      border-color: transparent; }
.btn [class^="icon-"], .btn [class*=" icon-"] {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle; }

.btn-facebook,
.btn-twitter,
.btn-linkedin,
.btn-flickr,
.btn-tumblr,
.btn-xing,
.btn-github,
.btn-html5,
.btn-openid,
.btn-stack-overflow,
.btn-youtube,
.btn-css3,
.btn-dribbble,
.btn-google-plus,
.btn-instagram,
.btn-pinterest,
.btn-vk,
.btn-yahoo,
.btn-behance,
.btn-dropbox,
.btn-reddit,
.btn-spotify,
.btn-vine,
.btn-foursquare,
.btn-vimeo {
  position: relative;
  overflow: hidden;
  color: #fff !important;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border: 0; }
  .btn-facebook::before,
  .btn-twitter::before,
  .btn-linkedin::before,
  .btn-flickr::before,
  .btn-tumblr::before,
  .btn-xing::before,
  .btn-github::before,
  .btn-html5::before,
  .btn-openid::before,
  .btn-stack-overflow::before,
  .btn-youtube::before,
  .btn-css3::before,
  .btn-dribbble::before,
  .btn-google-plus::before,
  .btn-instagram::before,
  .btn-pinterest::before,
  .btn-vk::before,
  .btn-yahoo::before,
  .btn-behance::before,
  .btn-dropbox::before,
  .btn-reddit::before,
  .btn-spotify::before,
  .btn-vine::before,
  .btn-foursquare::before,
  .btn-vimeo::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; }
  .btn-facebook:hover,
  .btn-twitter:hover,
  .btn-linkedin:hover,
  .btn-flickr:hover,
  .btn-tumblr:hover,
  .btn-xing:hover,
  .btn-github:hover,
  .btn-html5:hover,
  .btn-openid:hover,
  .btn-stack-overflow:hover,
  .btn-youtube:hover,
  .btn-css3:hover,
  .btn-dribbble:hover,
  .btn-google-plus:hover,
  .btn-instagram:hover,
  .btn-pinterest:hover,
  .btn-vk:hover,
  .btn-yahoo:hover,
  .btn-behance:hover,
  .btn-dropbox:hover,
  .btn-reddit:hover,
  .btn-spotify:hover,
  .btn-vine:hover,
  .btn-foursquare:hover,
  .btn-vimeo:hover {
    color: #fff; }
  .btn-facebook.icon span,
  .btn-twitter.icon span,
  .btn-linkedin.icon span,
  .btn-flickr.icon span,
  .btn-tumblr.icon span,
  .btn-xing.icon span,
  .btn-github.icon span,
  .btn-html5.icon span,
  .btn-openid.icon span,
  .btn-stack-overflow.icon span,
  .btn-youtube.icon span,
  .btn-css3.icon span,
  .btn-dribbble.icon span,
  .btn-google-plus.icon span,
  .btn-instagram.icon span,
  .btn-pinterest.icon span,
  .btn-vk.icon span,
  .btn-yahoo.icon span,
  .btn-behance.icon span,
  .btn-dropbox.icon span,
  .btn-reddit.icon span,
  .btn-spotify.icon span,
  .btn-vine.icon span,
  .btn-foursquare.icon span,
  .btn-vimeo.icon span {
    display: none; }
  .btn-facebook.text::before,
  .btn-twitter.text::before,
  .btn-linkedin.text::before,
  .btn-flickr.text::before,
  .btn-tumblr.text::before,
  .btn-xing.text::before,
  .btn-github.text::before,
  .btn-html5.text::before,
  .btn-openid.text::before,
  .btn-stack-overflow.text::before,
  .btn-youtube.text::before,
  .btn-css3.text::before,
  .btn-dribbble.text::before,
  .btn-google-plus.text::before,
  .btn-instagram.text::before,
  .btn-pinterest.text::before,
  .btn-vk.text::before,
  .btn-yahoo.text::before,
  .btn-behance.text::before,
  .btn-dropbox.text::before,
  .btn-reddit.text::before,
  .btn-spotify.text::before,
  .btn-vine.text::before,
  .btn-foursquare.text::before,
  .btn-vimeo.text::before {
    display: none; }
  .btn-facebook.text span,
  .btn-twitter.text span,
  .btn-linkedin.text span,
  .btn-flickr.text span,
  .btn-tumblr.text span,
  .btn-xing.text span,
  .btn-github.text span,
  .btn-html5.text span,
  .btn-openid.text span,
  .btn-stack-overflow.text span,
  .btn-youtube.text span,
  .btn-css3.text span,
  .btn-dribbble.text span,
  .btn-google-plus.text span,
  .btn-instagram.text span,
  .btn-pinterest.text span,
  .btn-vk.text span,
  .btn-yahoo.text span,
  .btn-behance.text span,
  .btn-dropbox.text span,
  .btn-reddit.text span,
  .btn-spotify.text span,
  .btn-vine.text span,
  .btn-foursquare.text span,
  .btn-vimeo.text span {
    margin-left: 0 !important; }
  .btn-facebook::before,
  .btn-twitter::before,
  .btn-linkedin::before,
  .btn-flickr::before,
  .btn-tumblr::before,
  .btn-xing::before,
  .btn-github::before,
  .btn-html5::before,
  .btn-openid::before,
  .btn-stack-overflow::before,
  .btn-youtube::before,
  .btn-css3::before,
  .btn-dribbble::before,
  .btn-google-plus::before,
  .btn-instagram::before,
  .btn-pinterest::before,
  .btn-vk::before,
  .btn-yahoo::before,
  .btn-behance::before,
  .btn-dropbox::before,
  .btn-reddit::before,
  .btn-spotify::before,
  .btn-vine::before,
  .btn-foursquare::before,
  .btn-vimeo::before {
    width: 2.3125rem;
    height: 2.3125rem;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    line-height: 1.5; }
  .btn-facebook span,
  .btn-twitter span,
  .btn-linkedin span,
  .btn-flickr span,
  .btn-tumblr span,
  .btn-xing span,
  .btn-github span,
  .btn-html5 span,
  .btn-openid span,
  .btn-stack-overflow span,
  .btn-youtube span,
  .btn-css3 span,
  .btn-dribbble span,
  .btn-google-plus span,
  .btn-instagram span,
  .btn-pinterest span,
  .btn-vk span,
  .btn-yahoo span,
  .btn-behance span,
  .btn-dropbox span,
  .btn-reddit span,
  .btn-spotify span,
  .btn-vine span,
  .btn-foursquare span,
  .btn-vimeo span {
    margin-left: 2.3125rem; }
  .btn-facebook.icon,
  .btn-twitter.icon,
  .btn-linkedin.icon,
  .btn-flickr.icon,
  .btn-tumblr.icon,
  .btn-xing.icon,
  .btn-github.icon,
  .btn-html5.icon,
  .btn-openid.icon,
  .btn-stack-overflow.icon,
  .btn-youtube.icon,
  .btn-css3.icon,
  .btn-dribbble.icon,
  .btn-google-plus.icon,
  .btn-instagram.icon,
  .btn-pinterest.icon,
  .btn-vk.icon,
  .btn-yahoo.icon,
  .btn-behance.icon,
  .btn-dropbox.icon,
  .btn-reddit.icon,
  .btn-spotify.icon,
  .btn-vine.icon,
  .btn-foursquare.icon,
  .btn-vimeo.icon {
    width: 2.3125rem;
    height: 2.3125rem; }
  .btn-facebook.btn-lg, .btn-group-lg > .btn-facebook.btn,
  .btn-twitter.btn-lg,
  .btn-group-lg > .btn-twitter.btn,
  .btn-linkedin.btn-lg,
  .btn-group-lg > .btn-linkedin.btn,
  .btn-flickr.btn-lg,
  .btn-group-lg > .btn-flickr.btn,
  .btn-tumblr.btn-lg,
  .btn-group-lg > .btn-tumblr.btn,
  .btn-xing.btn-lg,
  .btn-group-lg > .btn-xing.btn,
  .btn-github.btn-lg,
  .btn-group-lg > .btn-github.btn,
  .btn-html5.btn-lg,
  .btn-group-lg > .btn-html5.btn,
  .btn-openid.btn-lg,
  .btn-group-lg > .btn-openid.btn,
  .btn-stack-overflow.btn-lg,
  .btn-group-lg > .btn-stack-overflow.btn,
  .btn-youtube.btn-lg,
  .btn-group-lg > .btn-youtube.btn,
  .btn-css3.btn-lg,
  .btn-group-lg > .btn-css3.btn,
  .btn-dribbble.btn-lg,
  .btn-group-lg > .btn-dribbble.btn,
  .btn-google-plus.btn-lg,
  .btn-group-lg > .btn-google-plus.btn,
  .btn-instagram.btn-lg,
  .btn-group-lg > .btn-instagram.btn,
  .btn-pinterest.btn-lg,
  .btn-group-lg > .btn-pinterest.btn,
  .btn-vk.btn-lg,
  .btn-group-lg > .btn-vk.btn,
  .btn-yahoo.btn-lg,
  .btn-group-lg > .btn-yahoo.btn,
  .btn-behance.btn-lg,
  .btn-group-lg > .btn-behance.btn,
  .btn-dropbox.btn-lg,
  .btn-group-lg > .btn-dropbox.btn,
  .btn-reddit.btn-lg,
  .btn-group-lg > .btn-reddit.btn,
  .btn-spotify.btn-lg,
  .btn-group-lg > .btn-spotify.btn,
  .btn-vine.btn-lg,
  .btn-group-lg > .btn-vine.btn,
  .btn-foursquare.btn-lg,
  .btn-group-lg > .btn-foursquare.btn,
  .btn-vimeo.btn-lg,
  .btn-group-lg > .btn-vimeo.btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 0; }
    .btn-facebook.btn-lg::before, .btn-group-lg > .btn-facebook.btn::before,
    .btn-twitter.btn-lg::before,
    .btn-group-lg > .btn-twitter.btn::before,
    .btn-linkedin.btn-lg::before,
    .btn-group-lg > .btn-linkedin.btn::before,
    .btn-flickr.btn-lg::before,
    .btn-group-lg > .btn-flickr.btn::before,
    .btn-tumblr.btn-lg::before,
    .btn-group-lg > .btn-tumblr.btn::before,
    .btn-xing.btn-lg::before,
    .btn-group-lg > .btn-xing.btn::before,
    .btn-github.btn-lg::before,
    .btn-group-lg > .btn-github.btn::before,
    .btn-html5.btn-lg::before,
    .btn-group-lg > .btn-html5.btn::before,
    .btn-openid.btn-lg::before,
    .btn-group-lg > .btn-openid.btn::before,
    .btn-stack-overflow.btn-lg::before,
    .btn-group-lg > .btn-stack-overflow.btn::before,
    .btn-youtube.btn-lg::before,
    .btn-group-lg > .btn-youtube.btn::before,
    .btn-css3.btn-lg::before,
    .btn-group-lg > .btn-css3.btn::before,
    .btn-dribbble.btn-lg::before,
    .btn-group-lg > .btn-dribbble.btn::before,
    .btn-google-plus.btn-lg::before,
    .btn-group-lg > .btn-google-plus.btn::before,
    .btn-instagram.btn-lg::before,
    .btn-group-lg > .btn-instagram.btn::before,
    .btn-pinterest.btn-lg::before,
    .btn-group-lg > .btn-pinterest.btn::before,
    .btn-vk.btn-lg::before,
    .btn-group-lg > .btn-vk.btn::before,
    .btn-yahoo.btn-lg::before,
    .btn-group-lg > .btn-yahoo.btn::before,
    .btn-behance.btn-lg::before,
    .btn-group-lg > .btn-behance.btn::before,
    .btn-dropbox.btn-lg::before,
    .btn-group-lg > .btn-dropbox.btn::before,
    .btn-reddit.btn-lg::before,
    .btn-group-lg > .btn-reddit.btn::before,
    .btn-spotify.btn-lg::before,
    .btn-group-lg > .btn-spotify.btn::before,
    .btn-vine.btn-lg::before,
    .btn-group-lg > .btn-vine.btn::before,
    .btn-foursquare.btn-lg::before,
    .btn-group-lg > .btn-foursquare.btn::before,
    .btn-vimeo.btn-lg::before,
    .btn-group-lg > .btn-vimeo.btn::before {
      width: 2.875rem;
      height: 2.875rem;
      padding: 0.5rem 0;
      font-size: 1.25rem;
      line-height: 1.5; }
    .btn-facebook.btn-lg span, .btn-group-lg > .btn-facebook.btn span,
    .btn-twitter.btn-lg span, .btn-group-lg > .btn-twitter.btn span,
    .btn-linkedin.btn-lg span, .btn-group-lg > .btn-linkedin.btn span,
    .btn-flickr.btn-lg span, .btn-group-lg > .btn-flickr.btn span,
    .btn-tumblr.btn-lg span, .btn-group-lg > .btn-tumblr.btn span,
    .btn-xing.btn-lg span, .btn-group-lg > .btn-xing.btn span,
    .btn-github.btn-lg span, .btn-group-lg > .btn-github.btn span,
    .btn-html5.btn-lg span, .btn-group-lg > .btn-html5.btn span,
    .btn-openid.btn-lg span, .btn-group-lg > .btn-openid.btn span,
    .btn-stack-overflow.btn-lg span, .btn-group-lg > .btn-stack-overflow.btn span,
    .btn-youtube.btn-lg span, .btn-group-lg > .btn-youtube.btn span,
    .btn-css3.btn-lg span, .btn-group-lg > .btn-css3.btn span,
    .btn-dribbble.btn-lg span, .btn-group-lg > .btn-dribbble.btn span,
    .btn-google-plus.btn-lg span, .btn-group-lg > .btn-google-plus.btn span,
    .btn-instagram.btn-lg span, .btn-group-lg > .btn-instagram.btn span,
    .btn-pinterest.btn-lg span, .btn-group-lg > .btn-pinterest.btn span,
    .btn-vk.btn-lg span, .btn-group-lg > .btn-vk.btn span,
    .btn-yahoo.btn-lg span, .btn-group-lg > .btn-yahoo.btn span,
    .btn-behance.btn-lg span, .btn-group-lg > .btn-behance.btn span,
    .btn-dropbox.btn-lg span, .btn-group-lg > .btn-dropbox.btn span,
    .btn-reddit.btn-lg span, .btn-group-lg > .btn-reddit.btn span,
    .btn-spotify.btn-lg span, .btn-group-lg > .btn-spotify.btn span,
    .btn-vine.btn-lg span, .btn-group-lg > .btn-vine.btn span,
    .btn-foursquare.btn-lg span, .btn-group-lg > .btn-foursquare.btn span,
    .btn-vimeo.btn-lg span, .btn-group-lg > .btn-vimeo.btn span {
      margin-left: 2.875rem; }
    .btn-facebook.btn-lg.icon, .btn-group-lg > .btn-facebook.icon.btn,
    .btn-twitter.btn-lg.icon,
    .btn-group-lg > .btn-twitter.icon.btn,
    .btn-linkedin.btn-lg.icon,
    .btn-group-lg > .btn-linkedin.icon.btn,
    .btn-flickr.btn-lg.icon,
    .btn-group-lg > .btn-flickr.icon.btn,
    .btn-tumblr.btn-lg.icon,
    .btn-group-lg > .btn-tumblr.icon.btn,
    .btn-xing.btn-lg.icon,
    .btn-group-lg > .btn-xing.icon.btn,
    .btn-github.btn-lg.icon,
    .btn-group-lg > .btn-github.icon.btn,
    .btn-html5.btn-lg.icon,
    .btn-group-lg > .btn-html5.icon.btn,
    .btn-openid.btn-lg.icon,
    .btn-group-lg > .btn-openid.icon.btn,
    .btn-stack-overflow.btn-lg.icon,
    .btn-group-lg > .btn-stack-overflow.icon.btn,
    .btn-youtube.btn-lg.icon,
    .btn-group-lg > .btn-youtube.icon.btn,
    .btn-css3.btn-lg.icon,
    .btn-group-lg > .btn-css3.icon.btn,
    .btn-dribbble.btn-lg.icon,
    .btn-group-lg > .btn-dribbble.icon.btn,
    .btn-google-plus.btn-lg.icon,
    .btn-group-lg > .btn-google-plus.icon.btn,
    .btn-instagram.btn-lg.icon,
    .btn-group-lg > .btn-instagram.icon.btn,
    .btn-pinterest.btn-lg.icon,
    .btn-group-lg > .btn-pinterest.icon.btn,
    .btn-vk.btn-lg.icon,
    .btn-group-lg > .btn-vk.icon.btn,
    .btn-yahoo.btn-lg.icon,
    .btn-group-lg > .btn-yahoo.icon.btn,
    .btn-behance.btn-lg.icon,
    .btn-group-lg > .btn-behance.icon.btn,
    .btn-dropbox.btn-lg.icon,
    .btn-group-lg > .btn-dropbox.icon.btn,
    .btn-reddit.btn-lg.icon,
    .btn-group-lg > .btn-reddit.icon.btn,
    .btn-spotify.btn-lg.icon,
    .btn-group-lg > .btn-spotify.icon.btn,
    .btn-vine.btn-lg.icon,
    .btn-group-lg > .btn-vine.icon.btn,
    .btn-foursquare.btn-lg.icon,
    .btn-group-lg > .btn-foursquare.icon.btn,
    .btn-vimeo.btn-lg.icon,
    .btn-group-lg > .btn-vimeo.icon.btn {
      width: 2.875rem;
      height: 2.875rem; }
  .btn-facebook.btn-sm, .btn-group-sm > .btn-facebook.btn,
  .btn-twitter.btn-sm,
  .btn-group-sm > .btn-twitter.btn,
  .btn-linkedin.btn-sm,
  .btn-group-sm > .btn-linkedin.btn,
  .btn-flickr.btn-sm,
  .btn-group-sm > .btn-flickr.btn,
  .btn-tumblr.btn-sm,
  .btn-group-sm > .btn-tumblr.btn,
  .btn-xing.btn-sm,
  .btn-group-sm > .btn-xing.btn,
  .btn-github.btn-sm,
  .btn-group-sm > .btn-github.btn,
  .btn-html5.btn-sm,
  .btn-group-sm > .btn-html5.btn,
  .btn-openid.btn-sm,
  .btn-group-sm > .btn-openid.btn,
  .btn-stack-overflow.btn-sm,
  .btn-group-sm > .btn-stack-overflow.btn,
  .btn-youtube.btn-sm,
  .btn-group-sm > .btn-youtube.btn,
  .btn-css3.btn-sm,
  .btn-group-sm > .btn-css3.btn,
  .btn-dribbble.btn-sm,
  .btn-group-sm > .btn-dribbble.btn,
  .btn-google-plus.btn-sm,
  .btn-group-sm > .btn-google-plus.btn,
  .btn-instagram.btn-sm,
  .btn-group-sm > .btn-instagram.btn,
  .btn-pinterest.btn-sm,
  .btn-group-sm > .btn-pinterest.btn,
  .btn-vk.btn-sm,
  .btn-group-sm > .btn-vk.btn,
  .btn-yahoo.btn-sm,
  .btn-group-sm > .btn-yahoo.btn,
  .btn-behance.btn-sm,
  .btn-group-sm > .btn-behance.btn,
  .btn-dropbox.btn-sm,
  .btn-group-sm > .btn-dropbox.btn,
  .btn-reddit.btn-sm,
  .btn-group-sm > .btn-reddit.btn,
  .btn-spotify.btn-sm,
  .btn-group-sm > .btn-spotify.btn,
  .btn-vine.btn-sm,
  .btn-group-sm > .btn-vine.btn,
  .btn-foursquare.btn-sm,
  .btn-group-sm > .btn-foursquare.btn,
  .btn-vimeo.btn-sm,
  .btn-group-sm > .btn-vimeo.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border: 0; }
    .btn-facebook.btn-sm::before, .btn-group-sm > .btn-facebook.btn::before,
    .btn-twitter.btn-sm::before,
    .btn-group-sm > .btn-twitter.btn::before,
    .btn-linkedin.btn-sm::before,
    .btn-group-sm > .btn-linkedin.btn::before,
    .btn-flickr.btn-sm::before,
    .btn-group-sm > .btn-flickr.btn::before,
    .btn-tumblr.btn-sm::before,
    .btn-group-sm > .btn-tumblr.btn::before,
    .btn-xing.btn-sm::before,
    .btn-group-sm > .btn-xing.btn::before,
    .btn-github.btn-sm::before,
    .btn-group-sm > .btn-github.btn::before,
    .btn-html5.btn-sm::before,
    .btn-group-sm > .btn-html5.btn::before,
    .btn-openid.btn-sm::before,
    .btn-group-sm > .btn-openid.btn::before,
    .btn-stack-overflow.btn-sm::before,
    .btn-group-sm > .btn-stack-overflow.btn::before,
    .btn-youtube.btn-sm::before,
    .btn-group-sm > .btn-youtube.btn::before,
    .btn-css3.btn-sm::before,
    .btn-group-sm > .btn-css3.btn::before,
    .btn-dribbble.btn-sm::before,
    .btn-group-sm > .btn-dribbble.btn::before,
    .btn-google-plus.btn-sm::before,
    .btn-group-sm > .btn-google-plus.btn::before,
    .btn-instagram.btn-sm::before,
    .btn-group-sm > .btn-instagram.btn::before,
    .btn-pinterest.btn-sm::before,
    .btn-group-sm > .btn-pinterest.btn::before,
    .btn-vk.btn-sm::before,
    .btn-group-sm > .btn-vk.btn::before,
    .btn-yahoo.btn-sm::before,
    .btn-group-sm > .btn-yahoo.btn::before,
    .btn-behance.btn-sm::before,
    .btn-group-sm > .btn-behance.btn::before,
    .btn-dropbox.btn-sm::before,
    .btn-group-sm > .btn-dropbox.btn::before,
    .btn-reddit.btn-sm::before,
    .btn-group-sm > .btn-reddit.btn::before,
    .btn-spotify.btn-sm::before,
    .btn-group-sm > .btn-spotify.btn::before,
    .btn-vine.btn-sm::before,
    .btn-group-sm > .btn-vine.btn::before,
    .btn-foursquare.btn-sm::before,
    .btn-group-sm > .btn-foursquare.btn::before,
    .btn-vimeo.btn-sm::before,
    .btn-group-sm > .btn-vimeo.btn::before {
      width: 1.8125rem;
      height: 1.8125rem;
      padding: 0.25rem 0;
      font-size: 0.875rem;
      line-height: 1.5; }
    .btn-facebook.btn-sm span, .btn-group-sm > .btn-facebook.btn span,
    .btn-twitter.btn-sm span, .btn-group-sm > .btn-twitter.btn span,
    .btn-linkedin.btn-sm span, .btn-group-sm > .btn-linkedin.btn span,
    .btn-flickr.btn-sm span, .btn-group-sm > .btn-flickr.btn span,
    .btn-tumblr.btn-sm span, .btn-group-sm > .btn-tumblr.btn span,
    .btn-xing.btn-sm span, .btn-group-sm > .btn-xing.btn span,
    .btn-github.btn-sm span, .btn-group-sm > .btn-github.btn span,
    .btn-html5.btn-sm span, .btn-group-sm > .btn-html5.btn span,
    .btn-openid.btn-sm span, .btn-group-sm > .btn-openid.btn span,
    .btn-stack-overflow.btn-sm span, .btn-group-sm > .btn-stack-overflow.btn span,
    .btn-youtube.btn-sm span, .btn-group-sm > .btn-youtube.btn span,
    .btn-css3.btn-sm span, .btn-group-sm > .btn-css3.btn span,
    .btn-dribbble.btn-sm span, .btn-group-sm > .btn-dribbble.btn span,
    .btn-google-plus.btn-sm span, .btn-group-sm > .btn-google-plus.btn span,
    .btn-instagram.btn-sm span, .btn-group-sm > .btn-instagram.btn span,
    .btn-pinterest.btn-sm span, .btn-group-sm > .btn-pinterest.btn span,
    .btn-vk.btn-sm span, .btn-group-sm > .btn-vk.btn span,
    .btn-yahoo.btn-sm span, .btn-group-sm > .btn-yahoo.btn span,
    .btn-behance.btn-sm span, .btn-group-sm > .btn-behance.btn span,
    .btn-dropbox.btn-sm span, .btn-group-sm > .btn-dropbox.btn span,
    .btn-reddit.btn-sm span, .btn-group-sm > .btn-reddit.btn span,
    .btn-spotify.btn-sm span, .btn-group-sm > .btn-spotify.btn span,
    .btn-vine.btn-sm span, .btn-group-sm > .btn-vine.btn span,
    .btn-foursquare.btn-sm span, .btn-group-sm > .btn-foursquare.btn span,
    .btn-vimeo.btn-sm span, .btn-group-sm > .btn-vimeo.btn span {
      margin-left: 1.8125rem; }
    .btn-facebook.btn-sm.icon, .btn-group-sm > .btn-facebook.icon.btn,
    .btn-twitter.btn-sm.icon,
    .btn-group-sm > .btn-twitter.icon.btn,
    .btn-linkedin.btn-sm.icon,
    .btn-group-sm > .btn-linkedin.icon.btn,
    .btn-flickr.btn-sm.icon,
    .btn-group-sm > .btn-flickr.icon.btn,
    .btn-tumblr.btn-sm.icon,
    .btn-group-sm > .btn-tumblr.icon.btn,
    .btn-xing.btn-sm.icon,
    .btn-group-sm > .btn-xing.icon.btn,
    .btn-github.btn-sm.icon,
    .btn-group-sm > .btn-github.icon.btn,
    .btn-html5.btn-sm.icon,
    .btn-group-sm > .btn-html5.icon.btn,
    .btn-openid.btn-sm.icon,
    .btn-group-sm > .btn-openid.icon.btn,
    .btn-stack-overflow.btn-sm.icon,
    .btn-group-sm > .btn-stack-overflow.icon.btn,
    .btn-youtube.btn-sm.icon,
    .btn-group-sm > .btn-youtube.icon.btn,
    .btn-css3.btn-sm.icon,
    .btn-group-sm > .btn-css3.icon.btn,
    .btn-dribbble.btn-sm.icon,
    .btn-group-sm > .btn-dribbble.icon.btn,
    .btn-google-plus.btn-sm.icon,
    .btn-group-sm > .btn-google-plus.icon.btn,
    .btn-instagram.btn-sm.icon,
    .btn-group-sm > .btn-instagram.icon.btn,
    .btn-pinterest.btn-sm.icon,
    .btn-group-sm > .btn-pinterest.icon.btn,
    .btn-vk.btn-sm.icon,
    .btn-group-sm > .btn-vk.icon.btn,
    .btn-yahoo.btn-sm.icon,
    .btn-group-sm > .btn-yahoo.icon.btn,
    .btn-behance.btn-sm.icon,
    .btn-group-sm > .btn-behance.icon.btn,
    .btn-dropbox.btn-sm.icon,
    .btn-group-sm > .btn-dropbox.icon.btn,
    .btn-reddit.btn-sm.icon,
    .btn-group-sm > .btn-reddit.icon.btn,
    .btn-spotify.btn-sm.icon,
    .btn-group-sm > .btn-spotify.icon.btn,
    .btn-vine.btn-sm.icon,
    .btn-group-sm > .btn-vine.icon.btn,
    .btn-foursquare.btn-sm.icon,
    .btn-group-sm > .btn-foursquare.icon.btn,
    .btn-vimeo.btn-sm.icon,
    .btn-group-sm > .btn-vimeo.icon.btn {
      width: 1.8125rem;
      height: 1.8125rem; }

.btn-facebook {
  background: #3b5998; }
  .btn-facebook::before {
    content: "\f09a";
    background: #344e86; }
  .btn-facebook:hover {
    background: #344e86; }
    .btn-facebook:hover::before {
      background: #2d4373; }

.btn-twitter {
  background: #00aced; }
  .btn-twitter::before {
    content: "\f099";
    background: #0099d4; }
  .btn-twitter:hover {
    background: #0099d4; }
    .btn-twitter:hover::before {
      background: #0087ba; }

.btn-linkedin {
  background: #4875b4; }
  .btn-linkedin::before {
    content: "\f0e1";
    background: #4169a2; }
  .btn-linkedin:hover {
    background: #4169a2; }
    .btn-linkedin:hover::before {
      background: #395d90; }

.btn-flickr {
  background: #ff0084; }
  .btn-flickr::before {
    content: "\f16e";
    background: #e60077; }
  .btn-flickr:hover {
    background: #e60077; }
    .btn-flickr:hover::before {
      background: #cc006a; }

.btn-tumblr {
  background: #32506d; }
  .btn-tumblr::before {
    content: "\f173";
    background: #2a435c; }
  .btn-tumblr:hover {
    background: #2a435c; }
    .btn-tumblr:hover::before {
      background: #22364a; }

.btn-xing {
  background: #026466; }
  .btn-xing::before {
    content: "\f168";
    background: #024b4d; }
  .btn-xing:hover {
    background: #024b4d; }
    .btn-xing:hover::before {
      background: #013334; }

.btn-github {
  background: #4183c4; }
  .btn-github::before {
    content: "\f09b";
    background: #3876b4; }
  .btn-github:hover {
    background: #3876b4; }
    .btn-github:hover::before {
      background: #3269a0; }

.btn-html5 {
  background: #e34f26; }
  .btn-html5::before {
    content: "\f13b";
    background: #d4431b; }
  .btn-html5:hover {
    background: #d4431b; }
    .btn-html5:hover::before {
      background: #be3c18; }

.btn-openid {
  background: #f78c40; }
  .btn-openid::before {
    content: "\f19b";
    background: #f67d28; }
  .btn-openid:hover {
    background: #f67d28; }
    .btn-openid:hover::before {
      background: #f56f0f; }

.btn-stack-overflow {
  background: #fe7a15; }
  .btn-stack-overflow::before {
    content: "\f16c";
    background: #f86c01; }
  .btn-stack-overflow:hover {
    background: #f86c01; }
    .btn-stack-overflow:hover::before {
      background: #df6101; }

.btn-css3 {
  background: #0170ba; }
  .btn-css3::before {
    content: "\f13c";
    background: #0161a1; }
  .btn-css3:hover {
    background: #0161a1; }
    .btn-css3:hover::before {
      background: #015187; }

.btn-youtube {
  background: #b00; }
  .btn-youtube::before {
    content: "\f167";
    background: #a20000; }
  .btn-youtube:hover {
    background: #a20000; }
    .btn-youtube:hover::before {
      background: #880000; }

.btn-dribbble {
  background: #ea4c89; }
  .btn-dribbble::before {
    content: "\f17d";
    background: #e7357a; }
  .btn-dribbble:hover {
    background: #e7357a; }
    .btn-dribbble:hover::before {
      background: #e51e6b; }

.btn-google-plus {
  background: #bb4b39; }
  .btn-google-plus::before {
    content: "\f0d5";
    background: #a74333; }
  .btn-google-plus:hover {
    background: #a74333; }
    .btn-google-plus:hover::before {
      background: #943b2d; }

.btn-instagram {
  background: #517fa4; }
  .btn-instagram::before {
    content: "\f16d";
    background: #497293; }
  .btn-instagram:hover {
    background: #497293; }
    .btn-instagram:hover::before {
      background: #406582; }

.btn-pinterest {
  background: #cb2027; }
  .btn-pinterest::before {
    content: "\f0d2";
    background: #b51d23; }
  .btn-pinterest:hover {
    background: #b51d23; }
    .btn-pinterest:hover::before {
      background: #9f191f; }

.btn-vk {
  background: #45668e; }
  .btn-vk::before {
    content: "\f189";
    background: #3d5a7d; }
  .btn-vk:hover {
    background: #3d5a7d; }
    .btn-vk:hover::before {
      background: #344d6c; }

.btn-yahoo {
  background: #400191; }
  .btn-yahoo::before {
    content: "\f19e";
    background: #350178; }
  .btn-yahoo:hover {
    background: #350178; }
    .btn-yahoo:hover::before {
      background: #2a015e; }

.btn-behance {
  background: #1769ff; }
  .btn-behance::before {
    content: "\f1b4";
    background: #0059fd; }
  .btn-behance:hover {
    background: #0059fd; }
    .btn-behance:hover::before {
      background: #0050e3; }

.btn-dropbox {
  background: #007ee5; }
  .btn-dropbox::before {
    content: "\f16b";
    background: #0070cc; }
  .btn-dropbox:hover {
    background: #0070cc; }
    .btn-dropbox:hover::before {
      background: #0062b2; }

.btn-reddit {
  background: #ff4500; }
  .btn-reddit::before {
    content: "\f1a1";
    background: #e63e00; }
  .btn-reddit:hover {
    background: #e63e00; }
    .btn-reddit:hover::before {
      background: #cc3700; }

.btn-spotify {
  background: #7ab800; }
  .btn-spotify::before {
    content: "\f1bc";
    background: #699f00; }
  .btn-spotify:hover {
    background: #699f00; }
    .btn-spotify:hover::before {
      background: #588500; }

.btn-vine {
  background: #00bf8f; }
  .btn-vine::before {
    content: "\f1ca";
    background: #00a67c; }
  .btn-vine:hover {
    background: #00a67c; }
    .btn-vine:hover::before {
      background: #008c69; }

.btn-foursquare {
  background: #1073af; }
  .btn-foursquare::before {
    content: "\f180";
    background: #0e6498; }
  .btn-foursquare:hover {
    background: #0e6498; }
    .btn-foursquare:hover::before {
      background: #0c5480; }

.btn-vimeo {
  background: #aad450; }
  .btn-vimeo::before {
    content: "\f194";
    background: #a0cf3c; }
  .btn-vimeo:hover {
    background: #a0cf3c; }
    .btn-vimeo:hover::before {
      background: #93c130; }
