.navbar {
  margin-bottom: 0 !important;
  border: none !important; }
.navbar-default {
  background-color: #267ed5;
  border-color: #2271bf;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dddddd;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dddddd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dddddd;
  background-color: #2271bf;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dddddd;
  background-color: #2271bf;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2271bf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #dddddd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dddddd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dddddd;
    background-color: #2271bf;
  }
}
.navbar .navbar-brand {
  display: inline-block;
  width: 130px;
  height: 50px;
  padding: 0.5rem 1rem;
  background-image: url("../img/brand/logo.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 100px auto;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  color: #555;
  margin-top: 2px;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1); }
  .navbar .navbar-nav .dropdown .dropdown-menu > li > a {
    padding: 6px 12px; }

@media (max-width: 767px) {
  .navbar .navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit; }
  .navbar .navbar-brand {
    background-position: center;
    width: 100% !important;
    margin: 0 auto !important; } }